<p-table
   
  [value]="list"
  [loading]="loading"
  [paginator]="true"
  [lazy]="true"
  [rows]="10"
  [totalRecords]="totalRecords"
  (onLazyLoad)="pageChange($event)"
>
  <ng-template pTemplate="header">
    <tr>
      <th>
        {{ 'Tên Người Nộp' }}
      </th>
      <th>
        {{ 'Số Giấy Phép' }}
      </th>
      <th>
        {{ 'Ngày Cấp Phép' }}
      </th>
      <th>
        {{ 'Địa Chỉ' }}
      </th>
      <th>
        {{ 'Trạng Thái Xây' }}
      </th>
      <th>
        {{ 'Trạng Thái Nộp Thuế' }}
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-item>
    <tr>
      <td>
        <a
          [routerLink]="['/public/permit-detail', item.Id]"
          href="javascript:void(0)"
        >
          {{ item.NguoiNop }}</a
        >
      </td>
      <td>
        {{ item.SoGp }}
      </td>
      <td>
        {{ item.NgayGiayPhep | date: 'dd/MM/yyyy' }}
      </td>
      <td>
        {{ populatePermitFullAddress(item) }}
      </td>
      <td>
        <span
          class="badge"
          [ngClass]="calculateConstructionStatusBadge(item.TrangThaiXayText)"
          >{{ item.TrangThaiXayText }}
        </span>
      </td>
      <td>
        <span
          class="badge"
          [ngClass]="calculatePermitFeeStatusBadge(item.TrangThaiNopThueText)"
          >{{ item.TrangThaiNopThueText }}
        </span>
      </td>
    </tr>
  </ng-template>
</p-table>
