ioc-list .find-item {
    position: relative;
}
ioc-list .find-item button {
    position: absolute;
    top: 8px;
    right: 8px;
}
ioc-list .w-80 {
    width: 80px;
    display: inline-block;
}
ioc-list .w-80 .input[type="text"] {
    border-color: #d2d6de;
    width: 100%;
    height: 100%;
}

map-don-vi-template-modal .listbox-minheight .ui-listbox-item {
    overflow-y: overlay;
    min-height: 30px;
}

map-don-vi-template-modal .listbox-minheight .ui-chkbox {
    width: 2%;
}
.p-footer {
    width: 100%;
    height: 70px;
    position: absolute;
    // bottom: -70px;
    bottom: 0;
    left: 0;
    border-top: 1px solid #e9ecef;
    background: #ffffff;
    color: #212529;
    padding: 1rem;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    .f-contains {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: flex-end;
        button {
            margin-left: 15px;
        }
        .bg-pro:hover {
            color: black;
        }
    }
}

.pagination > li > a {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #337ab7;
    border-color: #337ab7;
}

.ui-listbox .ui-listbox-header .ui-listbox-filter-container .ui-listbox-filter-icon {
    top: 50%;
    left: auto;
    margin-top: -0.5em;
    right: 0.5em;
    color: #007ad9;
}

.close {
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #f31700;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: 0.5;
}

ioc-list .red-color {
    color: #f31700;
}
ioc-list .h-pointer {
    cursor: pointer;
}

map-don-vi-template-modal .listbox-minheight .ui-listbox-item {
    overflow-y: overlay;
    min-height: 30px;
}

map-don-vi-template-modal .listbox-minheight .ui-chkbox {
    width: 2%;
}

print-template-modal .ui-multiselect-label-container {
    max-height: 50px !important;
}

print-template-modal ::-webkit-scrollbar {
    height: 7px !important; /* height of horizontal scrollbar ← You're missing this */
    width: 7px !important; /* width of vertical scrollbar */
    z-index: 111111111 !important;
}

print-template-modal ::-webkit-scrollbar-track {
    background: #f1f1f1 !important;
}

print-template-modal ::-webkit-scrollbar-thumb {
    background: #c1c1c1 !important;
}

print-template-modal ::-webkit-scrollbar-thumb:hover {
    background: #555 !important;
}
#ioc-input-modal .zix-max {
    z-index: 3 !important;
    border-right: 1px solid lightgray;
    background-color: #e7e5e5 !important;
}
#ioc-input-modal #parent {
    height: 100%;
}
