app-chitiet-huyenuy {
    .container_content {
        background: url(../../../../assets/template/images/bg7.png) no-repeat;
        background-position-x: center;
        background-position-y: -99px;
        // border: 1px solid #b01116;
    }

    .lstimage {
        padding: 30px 0;
        cursor: pointer;
        .contentimg {
            // float: left;
            // width: 20%;
            // padding: 0 1px;
            position: relative;

            img {
                height: 200px;
                width: 100%;
                -o-object-fit: cover;
                object-fit: cover;
                transition: 0.5s;
            }
        }

        .content-overlay {
            display: block;
            z-index: 1 !important;

            span {
                position: absolute;
                top: 50%;
                left: 50%;
                -webkit-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                color: white;
                line-height: 1.12em;
            }
        }

        .content-overlay::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: -webkit-gradient(linear, left bottom, left top, from(black), to(transparent));
            background: -webkit-linear-gradient(bottom, black, transparent);
            background: -o-linear-gradient(bottom, black, transparent);
            background: linear-gradient(to top, black, transparent);
            opacity: 0.6;
        }
    }

    .brecrum {
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translate(-50%, -50%);
    }

    .body-content {
        background:
            url(../../../../assets/template/images/bg-profile.png) no-repeat,
            url(../../../../assets/template/images/bg.png) no-repeat;
        background-position:
            left top,
            left bottom;
        //background-attachment: fixed;
        // min-height: 400px;
        padding-top: 40px;

        clear: both;
        padding-bottom: 10px;
        display: inline-block;
        width: 100%;
    }

    .banner_logo {
        background: url(../../../../assets/template/images/bannertieusu.jpg) no-repeat top;
        min-height: 220px;
        position: relative;
        background-size: calc(100%) 100%;

        img {
            height: 140px;
            padding: 5px;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            background: #fff;
            border-radius: 50%;
        }
    }

    .tieusu_chucvu {
        padding: 30px 30px 15px 30px;

        .tieusu_chucvu_name {
            font-size: 26px;
            text-transform: uppercase;
            font-weight: 600;
            color: #969696;
        }

        .tieusu_hoten {
            font-size: 40px;
            text-transform: uppercase;
            font-weight: 600;
            color: #b01116;
        }
    }

    .tieusu_info {
        padding: 0px 30px 15px 30px;

        p {
            padding: 0;
            margin-bottom: 10px;
            font-size: 16px;
            display: inline-block;
            width: 100%;
            span {
                font-weight: bold;
            }

            .name {
                color: red;
            }
        }
    }

    .tieusu_info_2 {
        // margin-top: 40px;
        p {
            .name {
                color: #fff;
                padding: 10px;
                width: 25%;
                display: inline-block;
                background-image: linear-gradient(to right, #007ade, #8bc6f7);
            }

            .value {
                padding: 0 0 0 10px;
            }
        }

        .lst_chucvu {
            float: right;
            width: 75%;
            padding: 0 0 0 10px;

            span {
                display: inline-block;
                padding: 5px 0;
            }
        }
    }

    .tieusu_avatar {
        width: 200px;
        height: 250px;
        margin-top: 30px;
        border: 4px solid #efb338;
        border-radius: 3px;
        img {
            width: 100%;
            height: 100%;
            -o-object-fit: cover;
            object-fit: cover;
        }
    }

    .tieusu_content {
        padding: 0 30px;

        .tab-pane.active {
            //padding-top: 30px;
        }

        .nav-custom {
            border: 0;

            display: flex;
            justify-content: center;
            align-items: center;
            background: #fbe9c3;
            padding: 15px 0 0 0;
            box-shadow: 1px 2px 4px #0000001c;
            li {
                min-width: 214.69px;
                margin-right: 10px;
                margin-bottom: 15px;
                a {
                    color: #000;
                    border: 2px dashed;
                    border-color: #007ade;
                    border-radius: 0;

                    span {
                        font-size: 18px;
                        font-weight: 500;
                    }
                }
                a.active {
                    border: 0;
                    background-image: linear-gradient(to right,  #007ade, #8bc6f7);
                    color: #fff;
                    border-radius: 0;
                    padding: 10px;
                }
                a:hover {
                    border-color: #007ade;
                }
            }
        }

        .tab-content {
            // margin: 0 8px 0 -8px;
            .tab-pane.active {
                width: 100%;
            }
        }

        .timeline_qtct {
            padding: 30px 0px 40px 40px;
            .box-content {
                display: flex;
                flex-direction: column;
                position: relative;

                .item:first-child {
                    margin-top: 0 !important;
                }
                .item {
                    position: relative;
                    padding: 10px;
                    border: 1px solid #ddd;
                    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
                    margin: 65px 15px 0 55px;
                    background-color: #fff;

                    .year {
                        font-size: 15px;
                        position: absolute;
                        left: -105px;
                        top: -20px;
                        width: 100px;
                        height: 94px;
                        padding-top: 10px;
                        display: flex;
                        flex-flow: column wrap;
                        align-items: center;
                        justify-content: center;
                        text-align: center;
                        background-color: #fff;
                        border-radius: 10px;
                    }

                    .year:before {
                        width: 70px;
                        height: 40px;
                        background: url(../../../../assets/template/images/flag-vietnam.png) 0 0/70px 39px no-repeat;
                        content: "";
                        display: flex;
                        margin-bottom: 3px;
                    }

                    .title {
                        font-size: 16px;
                        font-weight: 600;
                    }
                }
            }

            .box-content:before {
                content: "";
                width: 1px;
                height: 100%;
                background-color: #ccc;
                display: flex;
                position: absolute;
                left: 0;
                top: 0;
            }
        }

        .content-gd .itemgd {
            box-shadow: 2px 2px 20px #00000017;
            border-radius: 10px;
            overflow: hidden;
            margin: 0 11px 23px 0;

            img {
                height: 227px;
                width: 100%;
                -o-object-fit: cover;
                object-fit: cover;
                transition: 0.5s;
            }

            .icon_item {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                i {
                    font-size: 50px;
                    opacity: 0.65;
                    color: #fff;
                }
            }
        }

        .content-media {
            padding-top: 30px;
            img {
                height: 150px !important;
            }

            .gd-title {
                font-size: 16px !important;
                line-height: 25px !important;
                margin-bottom: 0 !important;
                font-weight: 500 !important;
                color: #000;
            }
        }

        .content-gd .itemgd-body {
            padding: 14px 20px !important;
            background-color: #fff;
        }

        .content-gd .gd-title {
            margin-bottom: 10px;
            font-size: 20px;
            font-weight: bold;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            line-height: 25px;
        }

        .content-gd .gd-des {
            font-size: 16px;
            text-align: justify;
            max-height: 80px;
            min-height: 80px;
            overflow: hidden;
        }

        // .timeline_qtct {
        //     margin: 0;
        //     padding: 25px 10px 10px 0;

        //     li {
        //         display: inline-block;
        //         width: 100%;
        //         clear: both;

        //         b {
        //             font-size: 20px;
        //             float: left;
        //             min-width: 200px;
        //             padding-right: 0px;
        //         }

        //         p {
        //             float: left;
        //             font-size: 16px;
        //             padding-left: 25px;
        //             border-left: 3px solid #ddd;
        //             /* display: contents; */
        //             width: calc(100% - 200px);
        //         }
        //     }
        // }
    }

    .lstbaibao {
        padding-top: 10px;
        a {
            color: #b01116;
            display: inline-block;
            width: 100%;
            font-size: 16px;
            text-decoration: underline;
            padding: 7px 0;
        }

        i {
            padding-right: 6px;
        }
    }
    .captionImg{
        padding-top: 10px;
        font-size: 13pt;
    }
}
