<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h4 class="m-0 text-dark">Quản lý Nhiệm kỳ</h4>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#/home">Home</a></li>
                    <li class="breadcrumb-item active">Nhiệm kỳ</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-12">
                <div class="card card-primary card-outline">
                    <div class="card-header">
                        <div class="row">
                            <div [ngClass]="'col-md-2'">
                                <div class="form-group">
                                    <label for="Name">Cơ quan nhiệm kỳ</label>
                                    <p-select [options]="itemLoaiNhiemKys" [(ngModel)]="itemLoaiNhiemKy"
                                        optionLabel="Name" optionValue="Value" [filter]="true" filterBy="Name"
                                        appendTo="body" placeholder="Chọn Cơ quan nhiệm kỳ">
                                    </p-select>
                                </div>
                            </div>
                            <div [ngClass]="'col-md-6'">
                                <div class="form-group">
                                    <label for="Name">Từ khóa tìm kiếm</label>
                                    <input type="text" class="form-control" [(ngModel)]="keywordInput"
                                        placeholder="Từ khóa tìm kiếm" />
                                </div>
                            </div>
                            <div class="col-12" style="padding-top: 37px;">
                                <button (click)="add()" type="button" class="btn btn-success btn-sm float-right mr-3">
                                    <i class="fas fa-plus"></i> Thêm mới
                                </button>
                                <button (click)="search()" type="button" class="btn btn-info btn-sm float-right"
                                    style="margin-right: 5px;">
                                    <i class="fa fa-filter"></i> Tìm kiếm
                                </button>
                                <button (click)="clearfilter()" type="button"
                                    class="btn btn-warning btn-sm float-right mr-3" style="margin-right: 5px;">
                                    <i class="fa fa-retweet"></i> Bỏ lọc
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body p-0">
                    <p-table #dt [value]="items" [lazy]="true" (onLazyLoad)="paginate($event)"
                        [paginator]="true" [rows]="pageSize" [rowsPerPageOptions]="[20,50,100,500,1000]"
                        [totalRecords]="totalRow" [loading]="loading" appendTo="body" paginatorDropdownAppendTo="body">
                        <ng-template pTemplate="header">
                            <tr>
                                <th class="headerTable" style="width: 5%; text-align: center;">STT</th>
                                <th class="headerTable" width="10%">Tên nhiệm kỳ</th>
                                <th class="headerTable" width="20%">Từ năm</th>
                                <th class="headerTable" width="20%">Đến năm</th>
                                <th class="headerTable" width="10%">Thao tác</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-i="rowIndex">
                            <tr>
                                <td style="text-align: center;">{{i+1}}</td>
                                <td style="text-align: center;"> {{ rowData.Ten }} </td>
                                <td style="text-align: center;"> {{ rowData.TuNam }} </td>
                                <td style="text-align: center;">{{ rowData.DenNam }}</td>
                                <td style="text-align: center;">
                                    <div class="dropdown">
                                        <button type="button" class="btn btn-info" *ngIf="checkPermission('Edit')"
                                            (click)="edit(rowData)">Cập nhật</button>
                                        <button type="button" class="btn btn-warning dropdown-toggle dropdown-icon"
                                            data-toggle="dropdown">
                                            <span class="sr-only"></span>
                                        </button>
                                        <div class="dropdown-menu" role="menu">
                                            <a class="dropdown-item" (click)="edit(rowData)"
                                                *ngIf="checkPermission('Edit')">Cập nhật</a>
                                            <a class="dropdown-item" (click)="cbnk(rowData)"
                                                *ngIf="checkPermission('Edit')">Cán bộ nhiệm kỳ</a>
                                            <a class="dropdown-item" (click)="delete(rowData)"
                                                *ngIf="checkPermission('Delete')">Xóa</a>
                                            <div class="dropdown-divider"></div>
                                            <a *ngIf="checkPermission('View')" class="dropdown-item"
                                                (click)="history(rowData)">Lịch sử thay đổi</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="paginatorleft" let-state>
                            <span>Tổng cộng: {{state.totalRecords}} nhiệm kỳ</span>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
    </div>
</section>
<p-confirmDialog header="Xác nhận" icon="pi pi-exclamation-triangle"></p-confirmDialog>
