<div class="hp-left-panel-container h-100">
    <div *ngIf="!businessDetail" class="default-panel h-100">
        <div *ngIf="loading" class="pt-5 px-3">
            <div style="width: 180px; height: 250px;">
                <p-skeleton width="180px" height="40px" styleClass="mb-2"></p-skeleton>
                <p-skeleton width="180px" height="40px" styleClass="mb-2"></p-skeleton>
                <p-skeleton width="180px" height="40px" styleClass="mb-2"></p-skeleton>
                <p-skeleton width="180px" height="40px" styleClass="mb-2"></p-skeleton>
            </div>
        </div>

        <div *ngIf="!items && !loading" class="search-bg h-100">
            <img width="300" class="m-auto" src="assets/Images/search_bg.png" />
        </div>

        <div *ngIf="items && !items.length && !loading" class="search-bg h-100">
            <h3 class="m-auto">Không có dữ liệu!</h3>
        </div>

        <div class="business-list">
            <div *ngFor="let business of items" class="card business">
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="javascript:void(0)" (click)="viewDetail(business)">{{
              business.TenNguoiNopThue
            }}</a>
                    </h5>
                    <br />
                    <hr />
                    <p class="card-text">
                        <b>Địa chỉ: </b>{{ populateBusinessFullAddress(business) }} <br />
                        <b>Mã số thuế: </b>{{ business.MaSoThue }} <br />
                        <b>Lĩnh vực: </b>{{ business.LinhVucs|| business?.NganhNghe }}
                    </p>
                    <!-- <span class="py-2 float-left"><strong><i class="fa fa-phone-square mr-1"></i> </strong>
            <a href="javascript:void(0)"></a></span> -->
                    <!-- <a
            href="javascript:void(0)"
            (click)="viewDetail(business)"
            class="btn btn-primary float-right"
            >Xem chi tiết</a
          >
          <div class="clearfix"></div> -->
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="businessDetail" class="business-detail">
        <div class="card business-detail">
            <div class="card-body">
                <img class="card-img-top" src="assets/Images/default-banner.jpg" alt="" />
                <h5 class="card-title mt-3">
                    <a href="javascript:void(0)" (click)="closeDetail()"><i class="fa fa-chevron-left mr-3"></i></a
          >{{ businessDetail.TenBangHieu }}
        </h5>
        <div class="clearfix"></div>
        <hr />
        <p class="card-text">
          <strong>Chủ doanh nghiệp:</strong> {{ businessDetail.HoTenChuHo }}
        </p>
        <p class="card-text">
          <strong>Mã số thuế:</strong>
          {{ businessDetail.MaSoThue }}
        </p>
        <p class="card-text">
          <strong>Số giấy chứng nhận:</strong>
          {{ businessDetail.SoGiayChungNhan }}
        </p>
        <p class="card-text">
          <strong>Địa điểm kinh doanh:</strong>
          {{ populateBusinessFullAddress(businessDetail) }}
        </p>
        <p class="card-text">
          <strong>Lĩnh vực:</strong>
          {{ businessDetail.LinhVucs || 'Không biết' }}
        </p>

        <p class="card-text">
          <strong>Doanh thu:</strong>
          {{ businessDetail.DoanhThu | currency: 'VND':'symbol':undefined:'vi' }}
        </p>

        <p class="card-text">
          <strong>Nộp thuế:</strong>
          {{ businessDetail.NopThue | currency: 'VND':'symbol':undefined:'vi' }}
        </p>

        <p class="card-text">
          <strong>Nợ thuế:</strong>
          {{ businessDetail.NoThue | currency: 'VND':'symbol':undefined:'vi' }}
        </p>
        <span class="py-2 float-left"
          ><strong><i class="fa fa-phone-square mr-1"></i> </strong>
          <a href="javascript:void(0)">{{
            businessDetail.PhoneNumber
          }}</a></span>
                    <span class="py-2 float-right"><strong>Trạng thái: </strong>
          <span
            class="badge"
            [ngClass]="
              calculateBusinessStatusBadge(businessDetail.TinhTrangHoatDong)
            "
            >{{ businessDetail.TextTrangThaiHoatDong }}</span
          >
          <span
            class="badge"
            [ngClass]="
              calculateBusinessStatusBadge(businessDetail.TinhTrangNopThue)
            "
            >{{ businessDetail.TextTinhTrangNopThue }}</span
          >
        </span>
                    <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>