<div class="form-content">
  <div class="brecrum">
    <h2 class="text-white">{{subtitle}}</h2>
  </div>
</div>

<div class="body-content">
  <div class="container">
    <div *ngIf="id == 1" class="row container_content">
      <div class="col-sm-12 banner_logo">
        <img src="assets/template/images/quochuy.png">
      </div>

      <div class="col-sm-7">
        <div class="tieusu_chucvu">
          <h4 class="tieusu_chucvu_name">Trưởng Ban Nội chính Tỉnh ủy Lâm Đồng</h4>
          <h3 class="tieusu_hoten">Mai Văn Ngọc</h3>
        </div>
        <div class="tieusu_info">

          <p><span>Ngày sinh: </span>1/1/1992</p>
          <p><span>Quê quán: </span>xã Tịnh Long, huyện Sơn Tịnh, tỉnh Quảng Ngãi</p>
          <p><span>Nơi thường trú hiện nay: </span>Đã mất 2009 (đường Hoàng Diệu, Phường 5, thành phố Đà Lạt)</p>
          <p><span>Dân tộc: </span>Kinh</p>
          <p><span>Tôn giáo: </span>Không</p>
          <p><span>Ngày vào đảng: </span>30/6/1946</p>
          <p><span>Ngày chính thức: </span>31/12/1946</p>
        </div>
      </div>

      <div class="col-sm-5">
        <div class="tieusu_avatar text-center">
          <img src="assets/template/images/profile/avatar.png" />
        </div>
      </div>

      <div class="col-sm-12 tieusu_info">

        <div class="col-sm-7">
          <div class="tieusu_info_2">
            <p>
              <span class="name"><i class="fa fa-file-text" aria-hidden="true"></i> Chức vụ: </span>
              <span class="lst_chucvu">
                <span>- Trưởng Ban Nội chính Tỉnh ủy Lâm Đồng </span>
              </span>
            </p>

            <p>
              <span class="name"><i class="fa fa-file-text" aria-hidden="true"></i> Khen thưởng: </span>
              <span class="lst_chucvu">
                <span>- Huân Chương Độc lập Hạng Ba; Huân Chương chống Pháp Hạng Ba;</span>
                <span>- Huân Chương quyết thắng Hạng Nhất;</span>
                <span>- Huân Chương chống Mỹ cứu nước Hạng Nhất;</span>
                <span>- Huy hiệu 40 năm, 50 năm, 60 năm tuổi Đảng;</span>
                <span>- Kỷ niệm Chương vì sự nghiệp công tác Tổ chức Xây dựng Đảng, sự nghiệp công tác Kiểm tra
                  Đảng</span>
              </span>
            </p>

            <p><span class="name">Trình độ lý luận chính trị: </span><span class="value">Đang cập nhập...</span></p>
            <p><span class="name">Trình độ chuyên môn: </span><span class="value">Đang cập nhập...</span></p>
          </div>
        </div>

      </div>

      <div class="col-sm-12">
        <div class="tieusu_content">
          <ul class="nav nav-tabs nav-custom col-sm-12 row" id="custom-content-below-tab" role="tablist">
            <li class="nav-item active">
              <a class="nav-link active" id="nav1-tab" data-toggle="pill" href="#nav1">
                <span>Quá trình công tác</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="nav2-tab" data-toggle="pill" href="#nav2" role="tab">
                <span>Hình ảnh hoạt động</span>
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" id="nav3-tab" data-toggle="pill" href="#nav3" role="tab">
                <span>Các nội dung, bài phát biểu</span>
              </a>
            </li>
          </ul>

          <div class="tab-content" id="custom-content-below-tabContent">
            <div class="tab-pane active in" id="nav1" role="tabpanel" aria-labelledby="nav1-tab">
              <div class="timeline_qtct">
                <div class="box-content">

                  <div class="item">
                    <div class="year">
                      <span>Từ 01/1941 đến 1943</span>
                    </div>

                    <div class="title">
                      Liên lạc và bảo vệ đồng chí Nguyễn Năng Lự (tức Độ), Hoạt động cách mạng tại tỉnh Quảng Ngãi
                    </div>
                  </div>


                  <div class="item">
                    <div class="year">
                      <span>Từ 10/1944 đến 02/1945</span>
                    </div>

                    <div class="title">
                      Xây dựng cơ sở Thanh niên Cứu quốc ở tổng Tịnh Châu, huyện Sơn Tịnh, tỉnh Quảng Ngãi
                    </div>
                  </div>

                  <div class="item">
                    <div class="year">
                      <span>Từ 3/1945 đến 12/1945</span>
                    </div>

                    <div class="title">
                      Bí thư Ban chấp hành Thanh niên Cứu quốc Tổng Tịnh Châu, huyện Sơn Tịnh, tỉnh Quảng Ngãi
                    </div>
                  </div>

                  <div class="item">
                    <div class="year">
                      <span>Từ 01/1946 đến 12/1947</span>
                    </div>

                    <div class="title">
                      Bí thư Thanh niên Cứu quốc huyện Sơn Tịnh, tỉnh Quảng Ngãi
                    </div>
                  </div>

                  <div class="item">
                    <div class="year">
                      <span>Từ 01/1948 đến 8/1949</span>
                    </div>

                    <div class="title">
                      Cán bộ Ban Tổ chức Huyện ủy Sơn Tịnh, tỉnh Quảng Ngãi
                    </div>
                  </div>

                  <div class="item">
                    <div class="year">
                      <span>Từ 9/1949 đến 8/1951</span>
                    </div>

                    <div class="title">
                      Phó Bí thư Huyện ủy, Trưởng Ban Tổ chức Huyện ủy Sơn Tịnh, tỉnh Quảng Ngãi
                    </div>
                  </div>

                  <div class="item">
                    <div class="year">
                      <span>Từ 9/1951 đến 9/1954</span>
                    </div>

                    <div class="title">
                      Cán bộ Ban Tổ chức Khu ủy Khu 5, làm công tác điều tra giải tố các xã thuộc tỉnh Bình Định
                    </div>
                  </div>

                  <div class="item">
                    <div class="year">
                      <span>Từ 10/1954 đến 4/1955</span>
                    </div>

                    <div class="title">
                      Cán bộ đi xây dựng cơ sở bí mật chuẩn bị tập kết chuyển quân ở Bình Định
                    </div>
                  </div>

                  <div class="item">
                    <div class="year">
                      <span>Từ 5/1955 đến 12/1957</span>
                    </div>

                    <div class="title">
                      Tập kết ra Bắc, công tác ở Ban Tổ Chức Trung ương
                    </div>
                  </div>

                  <div class="item">
                    <div class="year">
                      <span>Từ 01/1948 đến 12/1959</span>
                    </div>

                    <div class="title">
                      Trưởng Phòng Tổ chức cán bộ, Tổng Công ty xuất nhập khẩu Nông Lâm sản, thuộc Bộ Ngoại Thương.
                    </div>
                  </div>

                  <div class="item">
                    <div class="year">
                      <span>Từ 01/1960 đến 7/1963</span>
                    </div>

                    <div class="title">
                      Ủy viên Ban Thường vụ Đảng ủy Bộ Ngoại Thương
                    </div>
                  </div>


                  <div class="item">
                    <div class="year">
                      <span>Từ 8/1963 đến 9/1964</span>
                    </div>

                    <div class="title">
                      Học trường Chính trị Cao cấp Nguyễn Ái Quốc, Hà Nội
                    </div>
                  </div>
                  <div class="item">
                    <div class="year">
                      <span>Từ 10/1964 đến 8/1974</span>
                    </div>

                    <div class="title">
                      Đi B, cán bộ Ban Tổ chức Khu ủy Khu 6, Ủy viên Thường trực Ban Tổ chức Khu ủy Khu 10
                    </div>
                  </div>
                  <div class="item">
                    <div class="year">
                      <span>Từ 9/1974 đến 9/1975</span>
                    </div>

                    <div class="title">
                      Cán bộ Khu 6, Ủy viên Ban Tổ chức Khu ủy 6
                    </div>
                  </div>
                  <div class="item">
                    <div class="year">
                      <span>Từ 10/1975 đến 5/1976</span>
                    </div>

                    <div class="title">
                      Ủy viên Ban Thường vụ Thành ủy Đà Lạt
                    </div>
                  </div>
                  <div class="item">
                    <div class="year">
                      <span>Từ 6/1976 đến …/1983</span>
                    </div>

                    <div class="title">
                      Tỉnh ủy viên, Trưởng Ban Kiểm tra Tỉnh ủy Lâm Đồng
                    </div>
                  </div>
                  <div class="item">
                    <div class="year">
                      <span>Từ …/1983 đến 3/1986</span>
                    </div>

                    <div class="title">
                      Trưởng Ban Nội chính Tỉnh ủy Lâm Đồng
                    </div>
                  </div>
                  <div class="item">
                    <div class="year">
                      <span>Từ 1987 đến 2009</span>
                    </div>

                    <div class="title">
                      Nghỉ hưu, mất năm 2009
                    </div>
                  </div>
                </div>
              </div>

              <!-- <ul class="timeline_qtct">
                <li>
                  <b>2021</b>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque scelerisque diam non nisi semper,
                    et elementum lorem ornare.</p>
                </li>
                <li>
                  <b>2020</b>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque scelerisque diam non nisi semper,
                    et elementum lorem ornare.</p>
                </li>
                <li>
                  <b>2019</b>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque scelerisque diam non nisi semper,
                    et elementum lorem ornare.</p>
                </li>
                <li>
                  <b>2021</b>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque scelerisque diam non nisi semper,
                    et elementum lorem ornare.</p>
                </li>
                <li>
                  <b>2020</b>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque scelerisque diam non nisi semper,
                    et elementum lorem ornare.</p>
                </li>
                <li>
                  <b>2019</b>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque scelerisque diam non nisi semper,
                    et elementum lorem ornare.</p>
                </li>
              </ul> -->


            </div>
            <div class="tab-pane fade" id="nav2" role="tabpanel" aria-labelledby="nav2-tab">

              <div class="lstimage">

                <p-galleria [(value)]="images" [(visible)]="displayCustom" [(activeIndex)]="activeIndex"
                  [containerStyle]="{'max-width': '80%'}" [numVisible]="7" [circular]="true" [fullScreen]="true"
                  [showItemNavigators]="true" [showThumbnails]="false" [baseZIndex]="100000">

                  <ng-template pTemplate="item" let-item>
                    <img [src]="item.previewImageSrc" style="width: 100%; display: block;" />
                  </ng-template>

                  <ng-template pTemplate="thumbnail" let-item>
                    <div class="p-grid p-nogutter p-justify-center">
                      <img [src]="item.thumbnailImageSrc" style="display: block;" />
                    </div>
                  </ng-template>

                  <ng-template pTemplate="caption" let-item>
                    <p style="margin-bottom: .5rem; color: #ffffff;">Tiêu đề hoat động</p>
                  </ng-template>

                </p-galleria>

                <div *ngIf="images" class="p-grid">
                  <ng-container *ngFor="let image of images; let index = index; let last = last" key="index">

                    <ng-container *ngIf="index < 7">
                      <div class="contentimg p-col-3" (click)="imageClick(index)">
                        <img [src]="image.thumbnailImageSrc" [alt]="image.alt" style="cursor: pointer" />
                      </div>
                    </ng-container>

                    <ng-container *ngIf="index == 7">
                      <div class="contentimg p-col-3 content-overlay" (click)="imageClick(index)">

                        <img [src]="image.thumbnailImageSrc" [alt]="image.alt" style="cursor: pointer" />

                        <span> +{{images.length - 7}} hình</span>

                      </div>
                    </ng-container>

                  </ng-container>
                </div>

              </div>

              <!-- <div class="lstimage">

                <div class="contentimg">
                  <img src="assets/template/images/nn7.jpg" />
                </div>

                <div class="contentimg">
                  <img src="assets/template/images/nn7.jpg" />
                </div>

                <div class="contentimg">
                  <img src="assets/template/images/nn7.jpg" />
                </div>

                <div class="contentimg">
                  <img src="assets/template/images/nn7.jpg" />
                </div>

                <div class="contentimg content-overlay">
                  <img src="assets/template/images/nn7.jpg" />
                  <span> +4 hình</span>
                </div>

              </div> -->

              <!-- <div class="row content-gd content-media">
                <div class="col-sm-3">
                  <div class="itemgd">
                    <a href="#" class="link_item">
                      <img class="img_hover" src="assets/template/images/nn7.jpg" />
                      <span class="icon_item"><i class="fa fa-play" aria-hidden="true"></i></span>
                    </a>
                    <div class="itemgd-body">
                      <a href="#" class="gd-title">Nguyên Bộ trưởng Thái Phụng Nê và bản hùng ca trên những dòng
                        sông</a>
                    </div>
                  </div>
                </div>

                <div class="col-sm-3">
                  <div class="itemgd">
                    <a href="#" class="link_item">
                      <img class="img_hover" src="assets/template/images/nn6.jpg" />
                      <span class="icon_item"><i class="fa fa-file-image" aria-hidden="true"></i></span>
                    </a>
                    <div class="itemgd-body">
                      <a href="#" class="gd-title">Nguyên Bộ trưởng Thái Phụng Nê và bản hùng ca trên những dòng
                        sông</a>
                    </div>
                  </div>
                </div>

                <div class="col-sm-3">
                  <div class="itemgd">
                    <a href="#" class="link_item">
                      <img class="img_hover" src="assets/template/images/nn5.jpg" />
                      <span class="icon_item"><i class="fa fa-play" aria-hidden="true"></i></span>
                    </a>
                    <div class="itemgd-body">
                      <a href="#" class="gd-title">Nguyên Bộ trưởng Thái Phụng Nê và bản hùng ca trên những dòng
                        sông</a>
                    </div>
                  </div>
                </div>

                <div class="col-sm-3">
                  <div class="itemgd">
                    <a href="#" class="link_item">
                      <img class="img_hover" src="assets/template/images/nn4.jpg" />
                      <span class="icon_item"><i class="fa fa-file-image" aria-hidden="true"></i></span>
                    </a>
                    <div class="itemgd-body">
                      <a href="#" class="gd-title">Nguyên Bộ trưởng Thái Phụng Nê và bản hùng ca trên những dòng
                        sông</a>
                    </div>
                  </div>
                </div>

                <div class="col-sm-3">
                  <div class="itemgd">
                    <a href="#" class="link_item">
                      <img class="img_hover" src="assets/template/images/nn3.jpg" />
                      <span class="icon_item"><i class="fa fa-play" aria-hidden="true"></i></span>
                    </a>
                    <div class="itemgd-body">
                      <a href="#" class="gd-title">Nguyên Bộ trưởng Thái Phụng Nê và bản hùng ca trên những dòng
                        sông</a>
                    </div>
                  </div>
                </div>

                <div class="col-sm-3">
                  <div class="itemgd">
                    <a href="#" class="link_item">
                      <img class="img_hover" src="assets/template/images/nn3.jpg" />
                      <span class="icon_item"><i class="fa fa-file-image" aria-hidden="true"></i></span>
                    </a>
                    <div class="itemgd-body">
                      <a href="#" class="gd-title">Nguyên Bộ trưởng Thái Phụng Nê và bản hùng ca trên những dòng
                        sông</a>
                    </div>
                  </div>
                </div>

                <div class="col-sm-3">
                  <div class="itemgd">
                    <a href="#" class="link_item">
                      <img class="img_hover" src="assets/template/images/nn5.jpg" />
                      <span class="icon_item"><i class="fa fa-play" aria-hidden="true"></i></span>
                    </a>
                    <div class="itemgd-body">
                      <a href="#" class="gd-title">Nguyên Bộ trưởng Thái Phụng Nê và bản hùng ca trên những dòng
                        sông</a>
                    </div>
                  </div>
                </div>


                <div class="col-sm-3">
                  <div class="itemgd">
                    <a href="#" class="link_item">
                      <img class="img_hover" src="assets/template/images/nn5.jpg" />
                      <span class="icon_item"><i class="fa fa-file-image" aria-hidden="true"></i></span>
                    </a>
                    <div class="itemgd-body">
                      <a href="#" class="gd-title">Nguyên Bộ trưởng Thái Phụng Nê và bản hùng ca trên những dòng
                        sông</a>
                    </div>
                  </div>
                </div>
              </div> -->

            </div>

            <div class="tab-pane fade" id="nav3" role="tabpanel" aria-labelledby="nav3-tab">
              <div class="lstbaibao">

                <a href="#" target="_blank"><i class="fa fa-caret-right"></i> Nghiên cứu, vận dụng và phát triển sáng
                  tạo tư tưởng Hồ Chí Minh trong xây dựng đất nước và bảo vệ Tổ quốc</a>
                <a href="#" target="_blank"><i class="fa fa-caret-right"></i> Nghiên cứu, vận dụng và phát triển sáng
                  tạo tư tưởng Hồ Chí Minh trong xây dựng đất nước và bảo vệ Tổ quốc</a>
                <a href="#" target="_blank"><i class="fa fa-caret-right"></i> Nghiên cứu, vận dụng và phát triển sáng
                  tạo tư tưởng Hồ Chí Minh trong xây dựng đất nước và bảo vệ Tổ quốc</a>
                <a href="#" target="_blank"><i class="fa fa-caret-right"></i> Nghiên cứu, vận dụng và phát triển sáng
                  tạo tư tưởng Hồ Chí Minh trong xây dựng đất nước và bảo vệ Tổ quốc</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="id == 2" class="row container_content">
      <div class="col-sm-12 banner_logo">
        <img src="assets/template/images/quochuy.png">
      </div>

      <div class="col-sm-7">
        <div class="tieusu_chucvu">
          <h4 class="tieusu_chucvu_name">Trưởng Ban Nội chính Tỉnh ủy Lâm Đồng</h4>
          <h3 class="tieusu_hoten">Chế Đặng</h3>
        </div>
        <div class="tieusu_info">

          <p><span>Ngày sinh: </span>10/10/1923</p>
          <p><span>Quê quán: </span>xã Hành Đức, huyện Nghĩa Hành, tỉnh Quảng Ngãi</p>
          <p><span>Nơi thường trú hiện nay: </span>Số 05 Lê Hồng Phong, Phường 4, thành phố Đà Lạt</p>
          <p><span>Dân tộc: </span>Kinh</p>
          <p><span>Tôn giáo: </span>Không</p>
          <p><span>Ngày vào đảng: </span>01/01/1947</p>
          <p><span>Ngày chính thức: </span>10/3/1947</p>
        </div>
      </div>

      <div class="col-sm-5">
        <div class="tieusu_avatar text-center">
          <img src="assets/template/images/profile/chedang.png" />
        </div>
      </div>

      <div class="col-sm-12 tieusu_info">

        <div class="col-sm-7">
          <div class="tieusu_info_2">
            <p>
              <span class="name"><i class="fa fa-file-text" aria-hidden="true"></i> Chức vụ: </span>
              <span class="lst_chucvu">
                <span>- Trưởng Ban Nội chính Tỉnh ủy Lâm Đồng </span>
              </span>
            </p>

            <p>
              <span class="name"><i class="fa fa-file-text" aria-hidden="true"></i> Khen thưởng: </span>
              <span class="lst_chucvu">
                <span>- Huân chương Kháng chiến Hạng Ba; Huân chương Kháng chiến chống mỹ Hạng Nhất;</span>
                <span>- Huân chương Quyết thắng Hạng Nhất; Huân chương Lao động Hạng Ba;</span>
                <span>- Huân chương Độc lập Hạng Nhì;</span>
                <span>- 15 Huy chương và kỷ niệm chương vì sự nghiệp phát triển nông nghiệp, bưu điện, sức khỏe nhân
                  dân, lao động, kiểm tra, …</span>
                <span>- Huy hiệu 40, 50 năm tuổi Đảng</span>
              </span>
            </p>

            <p><span class="name">Trình độ lý luận chính trị: </span><span class="value">Đang cập nhập...</span></p>
            <p><span class="name">Trình độ chuyên môn: </span><span class="value">Đang cập nhập...</span></p>
          </div>
        </div>

      </div>

      <div class="col-sm-12">
        <div class="tieusu_content">
          <ul class="nav nav-tabs nav-custom col-sm-12 row" id="custom-content-below-tab" role="tablist">
            <li class="nav-item active">
              <a class="nav-link active" id="nav1-tab" data-toggle="pill" href="#nav1">
                <span>Quá trình công tác</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="nav2-tab" data-toggle="pill" href="#nav2" role="tab">
                <span>Hình ảnh hoạt động</span>
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" id="nav3-tab" data-toggle="pill" href="#nav3" role="tab">
                <span>Các nội dung, bài phát biểu</span>
              </a>
            </li>
          </ul>

          <div class="tab-content" id="custom-content-below-tabContent">
            <div class="tab-pane active in" id="nav1" role="tabpanel" aria-labelledby="nav1-tab">
              <div class="timeline_qtct">
                <div class="box-content">

                  <div class="item">
                    <div class="year">
                      <span>Từ 6/1945 đến 9/1948</span>
                    </div>

                    <div class="title">
                      Tham gia Việt Minh bí mật, lo khởi nghĩa, Bí thư Thanh niên cứu quốc xã, Hội đồng nhân dân xã, Chủ
                      nhiệm Việt Minh xã, Bí thư xã Hành Đức
                    </div>
                  </div>


                  <div class="item">
                    <div class="year">
                      <span>Từ 10/1948 đến 4/1950</span>
                    </div>

                    <div class="title">
                      Được Tỉnh ủy cho đi học Trường Trung học bình dân Miền Nam Trung Bộ, Quảng Ngãi
                    </div>
                  </div>

                  <div class="item">
                    <div class="year">
                      <span>Từ 5/1950 đến 12/1953</span>
                    </div>

                    <div class="title">
                      Đội trưởng đội võ trang Tây Bắc Lâm Đồng, sau đó hợp nhất 04 đội võ trang thành Đoàn xây dựng, làm
                      Bí thư Chi bộ Đoàn, kiêm Chính trị viên của Đoàn
                    </div>
                  </div>

                  <div class="item">
                    <div class="year">
                      <span>Từ 01/1954 đến 5/1955</span>
                    </div>

                    <div class="title">
                      Cửa hàng trưởng Cửa hang Huyện Ba Tơ và giá vụ; sau Hiệp định Giơ-ne-vơ thì ở trong Ban đổi tiền
                      tem phiếu sang tiền Đông Dương phía Nam Quảng Ngãi, đến tháng 5/1955 đi tập kết ra Bắc
                    </div>
                  </div>

                  <div class="item">
                    <div class="year">
                      <span>Từ 8/1955 đến 01/1962</span>
                    </div>

                    <div class="title">
                      Cửa hàng Trưởng thị xã Sơn Tây, Phó Chủ nhiệm Công ty Bách hóa; Chủ nhiệm Cửa hàng bông vải sợi;
                      Hội đồng nhân dân tỉnh; Hội thẩm nhân dân tỉnh; Phó Thường trực Ty Thương nghiệp tỉnh; Chi ủy viên
                      các cơ quan tỉnh; Thư ký công tác thương nghiệp tỉnh Sơn Tây
                    </div>
                  </div>

                  <div class="item">
                    <div class="year">
                      <span>Từ 6/1962 đến 7/1967</span>
                    </div>

                    <div class="title">
                      Đi B, Bí thư Chi bộ Đội võ trang, công tác khu vực Pân Tiêng, Đạ Nghịt, PSour; Ủy viên Ban cán sự
                      Tuyên Đức, Đà Lạt; Huyện ủy viên Huyện Lạc Dương, Bí thư Ban cán sự Huyện Đơn Dương
                    </div>
                  </div>

                  <div class="item">
                    <div class="year">
                      <span>Từ 8/1967 đến 7/1971</span>
                    </div>

                    <div class="title">
                      Tỉnh ủy viên tỉnh Tuyên Đức, Bí thư Huyện ủy Đơn Dương, Chủ tịch UBND cách mạng huyện Đơn Dương
                    </div>
                  </div>

                  <div class="item">
                    <div class="year">
                      <span>Từ 8/1971 đến 5/1975</span>
                    </div>

                    <div class="title">
                      Tỉnh ủy viên tỉnh Tuyên Đức, Phó ban Kinh tế, Trưởng ban Dân lý, Trưởng ban Hành lang, Bí thư Đảng
                      ủy căn cứ tỉnh
                    </div>
                  </div>

                  <div class="item">
                    <div class="year">
                      <span>Từ 6/1975 đến 10/1976</span>
                    </div>

                    <div class="title">
                      Thường vụ Tỉnh ủy Tuyên Đức, Chủ tịch UBND cách mạng tỉnh
                    </div>
                  </div>

                  <div class="item">
                    <div class="year">
                      <span>Từ 11/1976 đến 9/1979</span>
                    </div>

                    <div class="title">
                      Tỉnh ủy viên Tỉnh ủy Lâm Đồng, Phó Chủ tịch UBND tỉnh, Phó Chủ nhiệm Ủy ban Kế hoạch tỉnh, Phó ban
                      Phân vùng quy hoạch tỉnh, Trưởng Ty nông trường tỉnh Lâm Đồng
                    </div>
                  </div>

                  <div class="item">
                    <div class="year">
                      <span>Từ 10/1979 đến 4/1983</span>
                    </div>

                    <div class="title">
                      Thường vụ Tỉnh ủy, Phó Chủ tịch UBND tỉnh, quyền Chủ tịch UBND tỉnh, Trưởng Ty Lâm nghiệp tỉnh
                    </div>
                  </div>


                  <div class="item">
                    <div class="year">
                      <span>Từ 4/1983 đến 02/1987</span>
                    </div>

                    <div class="title">
                      Thường vụ Tỉnh ủy, Chủ nhiệm Ủy ban Kiểm tra tỉnh
                    </div>
                  </div>
                  <div class="item">
                    <div class="year">
                      <span>Từ 3/1987 đến 8/1988</span>
                    </div>

                    <div class="title">
                      Thường vụ Tỉnh ủy, Trưởng đoàn chuyên gia tại Xiêm Riệp – Campuchia
                    </div>
                  </div>
                  <div class="item">
                    <div class="year">
                      <span>Từ 12/1988 đến 02/1990</span>
                    </div>

                    <div class="title">
                      Thường vụ Tỉnh ủy, Giám đốc Công an tỉnh
                    </div>
                  </div>
                  <div class="item">
                    <div class="year">
                      <span>Từ 3/1990 đến 11/1990</span>
                    </div>

                    <div class="title">
                      Thường vụ Tỉnh ủy, Bí thư Thành ủy thành phố Đà Lạt
                    </div>
                  </div>
                  <div class="item">
                    <div class="year">
                      <span>Từ 11/1990 đến 01/1992</span>
                    </div>

                    <div class="title">
                      Thường vụ Tỉnh ủy, Trưởng ban Nội chính tỉnh
                    </div>
                  </div>
                  <div class="item">
                    <div class="year">
                      <span>Từ 01/1992 đến 9/1993</span>
                    </div>

                    <div class="title">
                      Được nghỉ công tác làm thủ tục Nghỉ hưu. Ngày 30/9/1993 nghỉ hưu
                    </div>
                  </div>
                  <div class="item">
                    <div class="year">
                      <span>Từ 01/1994 đến 2002</span>
                    </div>

                    <div class="title">
                      Trưởng ban Quy tập hài cốt Liệt sỹ tỉnh
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="nav2" role="tabpanel" aria-labelledby="nav2-tab">

              <div class="lstimage">

                <p-galleria [(value)]="images" [(visible)]="displayCustom" [(activeIndex)]="activeIndex"
                  [containerStyle]="{'max-width': '80%'}" [numVisible]="7" [circular]="true" [fullScreen]="true"
                  [showItemNavigators]="true" [showThumbnails]="false" [baseZIndex]="100000">

                  <ng-template pTemplate="item" let-item> 
                    <img [src]="item.previewImageSrc" style="width: 100%; display: block;" />
                  </ng-template>

                  <ng-template pTemplate="thumbnail" let-item>
                    <div class="p-grid p-nogutter p-justify-center">
                      <img [src]="item.thumbnailImageSrc" style="display: block;" />
                    </div>
                  </ng-template>

                  <ng-template pTemplate="caption" let-item>
                    <p style="margin-bottom: .5rem; color: #ffffff;">Tiêu đề hoat động 2</p>
                  </ng-template>

                </p-galleria>

                <div *ngIf="images" class="p-grid">
                  <ng-container *ngFor="let image of images; let index = index; let last = last" key="index">

                    <ng-container *ngIf="index < 7">
                      <div class="contentimg p-col-3" (click)="imageClick(index)">
                        <img [src]="image.thumbnailImageSrc" [alt]="image.alt" style="cursor: pointer" />
                      </div>
                    </ng-container>

                    <ng-container *ngIf="index == 7">
                      <div class="contentimg p-col-3 content-overlay" (click)="imageClick(index)">

                        <img [src]="image.thumbnailImageSrc" [alt]="image.alt" style="cursor: pointer" />

                        <span> +{{images.length - 7}} hình</span>

                      </div>
                    </ng-container>

                  </ng-container>
                </div>

              </div>
            </div>

            <div class="tab-pane fade" id="nav3" role="tabpanel" aria-labelledby="nav3-tab">
              <div class="lstbaibao">

                <a href="#" target="_blank"><i class="fa fa-caret-right"></i> Nghiên cứu, vận dụng và phát triển sáng
                  tạo tư tưởng Hồ Chí Minh trong xây dựng đất nước và bảo vệ Tổ quốc</a>
                <a href="#" target="_blank"><i class="fa fa-caret-right"></i> Nghiên cứu, vận dụng và phát triển sáng
                  tạo tư tưởng Hồ Chí Minh trong xây dựng đất nước và bảo vệ Tổ quốc</a>
                <a href="#" target="_blank"><i class="fa fa-caret-right"></i> Nghiên cứu, vận dụng và phát triển sáng
                  tạo tư tưởng Hồ Chí Minh trong xây dựng đất nước và bảo vệ Tổ quốc</a>
                <a href="#" target="_blank"><i class="fa fa-caret-right"></i> Nghiên cứu, vận dụng và phát triển sáng
                  tạo tư tưởng Hồ Chí Minh trong xây dựng đất nước và bảo vệ Tổ quốc</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="id == 3" class="row container_content">
      <div class="col-sm-12 banner_logo">
        <img src="assets/template/images/quochuy.png">
      </div>

      <div class="col-sm-7">
        <div class="tieusu_chucvu">
          <h4 class="tieusu_chucvu_name">Trưởng Ban Nội chính Tỉnh ủy Lâm Đồng</h4>
          <h3 class="tieusu_hoten">Phan Hữu Giản</h3>
        </div>
        <div class="tieusu_info">

          <p><span>Ngày sinh: </span>15/8/1941</p>
          <p><span>Quê quán: </span>xã Tứ Liên, huyện Từ Liêm, thành phố Hà Nội</p>
          <p><span>Nơi thường trú hiện nay: </span>Phường 8, thành phố Đà Lạt</p>
          <p><span>Dân tộc: </span>Kinh</p>
          <p><span>Tôn giáo: </span>Không</p>
          <p><span>Ngày vào đảng: </span>20/10/1958</p>
          <p><span>Ngày chính thức: </span>01/8/1960</p>
        </div>
      </div>

      <div class="col-sm-5">
        <div class="tieusu_avatar text-center">
          <img src="assets/template/images/profile/PHGian.png" />
        </div>
      </div>

      <div class="col-sm-12 tieusu_info">

        <div class="col-sm-7">
          <div class="tieusu_info_2">
            <p>
              <span class="name"><i class="fa fa-file-text" aria-hidden="true"></i> Chức vụ: </span>
              <span class="lst_chucvu">
                <span>- Trưởng Ban Nội chính Tỉnh ủy Lâm Đồng </span>
              </span>
            </p>

            <p>
              <span class="name"><i class="fa fa-file-text" aria-hidden="true"></i> Khen thưởng: </span>
              <span class="lst_chucvu">
                <span>- Huân chương Kháng chiến Chống Mỹ cứu nước hạng 3; Huy hiệu 40 năm, 50 năm tuổi đảng; Chiến sỹ
                  thi đua 1965-1966.</span>
              </span>
            </p>

            <p><span class="name">Trình độ lý luận chính trị: </span><span class="value">Đang cập nhập...</span></p>
            <p><span class="name">Trình độ chuyên môn: </span><span class="value">Đang cập nhập...</span></p>
          </div>
        </div>

      </div>

      <div class="col-sm-12">
        <div class="tieusu_content">
          <ul class="nav nav-tabs nav-custom col-sm-12 row" id="custom-content-below-tab" role="tablist">
            <li class="nav-item active">
              <a class="nav-link active" id="nav1-tab" data-toggle="pill" href="#nav1">
                <span>Quá trình công tác</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="nav2-tab" data-toggle="pill" href="#nav2" role="tab">
                <span>Hình ảnh hoạt động</span>
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" id="nav3-tab" data-toggle="pill" href="#nav3" role="tab">
                <span>Các nội dung, bài phát biểu</span>
              </a>
            </li>
          </ul>

          <div class="tab-content" id="custom-content-below-tabContent">
            <div class="tab-pane active in" id="nav1" role="tabpanel" aria-labelledby="nav1-tab">
              <div class="timeline_qtct">
                <div class="box-content">

                  <div class="item">
                    <div class="year">
                      <span>Từ 7/1958 đến 3/1963</span>
                    </div>

                    <div class="title">
                      Công nhân Nông trường Sông Lô, Chi ủy viên, Phó Bí thư Đoàn Nông trường Sông Lô, Tuyên Quang
                    </div>
                  </div>


                  <div class="item">
                    <div class="year">
                      <span>Từ 3/1963 đến 9/1964</span>
                    </div>

                    <div class="title">
                      Học viên trường trung cấp Kế hoạch - Thống kê, Hà Nội
                    </div>
                  </div>

                  <div class="item">
                    <div class="year">
                      <span>Từ 9/1964 đến 3/1969</span>
                    </div>

                    <div class="title">
                      Quyền Trưởng phòng Kế hoạch, Đảng ủy viên, Bí thư Đoàn chuyên trách Nông trường Sông Lô, Tuyên
                      Quang
                    </div>
                  </div>

                  <div class="item">
                    <div class="year">
                      <span>Từ 4/1969 đến 4/1976</span>
                    </div>

                    <div class="title">
                      Học đại học Nông nghiệp I, tốt nghiệp ở lại trường làm Phó Bí thư Chi đoàn chuyên trách. Năm 1973
                      tham gia Ban Thường vụ Thành Đoàn Hà Nội
                    </div>
                  </div>

                  <div class="item">
                    <div class="year">
                      <span>Từ 5/1976 đến 5/1978</span>
                    </div>

                    <div class="title">
                      Ủy viên Ban Thường vụ Thành Đoàn, Bí thư Đoàn TNCS Vùng kinh tế mới Hà Nội tại Lâm Đồng
                    </div>
                  </div>

                  <div class="item">
                    <div class="year">
                      <span>Từ 6/1978 đến 9/1981</span>
                    </div>

                    <div class="title">
                      Phó Trưởng Ban xây dựng vùng KTM Hà Nội, trực tiếp phụ trách Trưởng phòng sản xuất Nông - Lâm -
                      Nghiệp. Đầu năm 1980 được bầu vào Thành ủy Hà Nội khóa 8 (1980-1982)
                    </div>
                  </div>

                  <div class="item">
                    <div class="year">
                      <span>Từ 10/1981 đến 9/1983</span>
                    </div>

                    <div class="title">
                      Phó Trưởng Ban xây dựng vùng KTM Hà Nội, học Trường Đảng cao cấp Nguyễn Ái Quốc, Hà nội; tiếp tục
                      tham gia Ban Chấp hành Đảng bộ Thành phố Hà Nội khóa 8 (1982-1986)
                    </div>
                  </div>

                  <div class="item">
                    <div class="year">
                      <span>Từ 9/1983 đến 10/1987</span>
                    </div>

                    <div class="title">
                      Phó trưởng ban xây dựng vùng KTM Hà Nội tại Lâm Đồng, kiêm Giám đốc Công ty Cà phê của vùng. Năm
                      1984 Bí thư Đảng ủy vùng KTM, kiêm Phó Trưởng ban xây dựng, tiếp tục tham gia Thành ủy Hà Nội khóa
                      9 (1986) cho đến khi thành phố bàn giao vùng KTM cho tỉnh Lâm Đồng, xây dựng huyện Lâm Hà
                    </div>
                  </div>

                  <div class="item">
                    <div class="year">
                      <span>Từ 11/1987 đến 9/1993</span>
                    </div>

                    <div class="title">
                      Tỉnh ủy viên, Bí thư Huyện ủy Lâm Hà, Đại biểu HĐND tỉnh Lâm Đồng khóa II và III
                    </div>
                  </div>

                  <div class="item">
                    <div class="year">
                      <span>Từ 10/1993 đến 8/1995</span>
                    </div>

                    <div class="title">
                      Ủy viên Ban Thường vụ Tỉnh ủy, Chủ nhiệm UBKT Tỉnh ủy, Trưởng Ban Pháp chế HĐND tỉnh Lâm Đồng khóa
                      5
                    </div>
                  </div>

                  <div class="item">
                    <div class="year">
                      <span>Từ 9/1995 đến 8/1998</span>
                    </div>

                    <div class="title">
                      Ủy viên Ban Thường vụ Tỉnh ủy, Bí thư Thành ủy Đà Lạt
                    </div>
                  </div>


                  <div class="item">
                    <div class="year">
                      <span>Từ 9/1998 đến 02/2001</span>
                    </div>

                    <div class="title">
                      Ủy viên Ban Thường vụ Tỉnh ủy, Trưởng Ban Dân vận Tỉnh ủy Lâm Đồng, Bí thư Đảng đoàn Ủy ban Mặt
                      trận Tổ quốc Việt Nam tỉnh Lâm Đồng, Chủ tịch Ban chấp hành lâm thời Hội khuyến học tỉnh Lâm Đồng
                    </div>
                  </div>
                  <div class="item">
                    <div class="year">
                      <span>Từ 3/2001 đến 5/2003</span>
                    </div>

                    <div class="title">
                      Chuyển công tác về Ủy ban toàn quốc Liên hiệp hội Văn học Nghệ thuật Việt Nam, Trưởng Ban Nghiên
                      cứu chế độ chính sách và tổ chức
                    </div>
                  </div>
                  <div class="item">
                    <div class="year">
                      <span>Từ 6/2003 đến nay</span>
                    </div>

                    <div class="title">
                      Nghỉ hưu, về sinh hoạt tại Đảng bộ Phường 8, thành phố Đà Lạt
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="nav2" role="tabpanel" aria-labelledby="nav2-tab">

              <div class="lstimage">

                <p-galleria [(value)]="images" [(visible)]="displayCustom" [(activeIndex)]="activeIndex"
                  [containerStyle]="{'max-width': '80%'}" [numVisible]="7" [circular]="true" [fullScreen]="true"
                  [showItemNavigators]="true" [showThumbnails]="false" [baseZIndex]="100000">

                  <ng-template pTemplate="item" let-item>
                    <img [src]="item.previewImageSrc" style="width: 100%; display: block;" />
                  </ng-template>

                  <ng-template pTemplate="thumbnail" let-item>
                    <div class="p-grid p-nogutter p-justify-center">
                      <img [src]="item.thumbnailImageSrc" style="display: block;" />
                    </div>
                  </ng-template>

                  <ng-template pTemplate="caption" let-item>
                    <p style="margin-bottom: .5rem; color: #ffffff;">Tiêu đề hoat động</p>
                  </ng-template>

                </p-galleria>

                <div *ngIf="images" class="p-grid">
                  <ng-container *ngFor="let image of images; let index = index; let last = last" key="index">

                    <ng-container *ngIf="index < 7">
                      <div class="contentimg p-col-3" (click)="imageClick(index)">
                        <img [src]="image.thumbnailImageSrc" [alt]="image.alt" style="cursor: pointer" />
                      </div>
                    </ng-container>

                    <ng-container *ngIf="index == 7">
                      <div class="contentimg p-col-3 content-overlay" (click)="imageClick(index)">

                        <img [src]="image.thumbnailImageSrc" [alt]="image.alt" style="cursor: pointer" />

                        <span> +{{images.length - 7}} hình</span>

                      </div>
                    </ng-container>

                  </ng-container>
                </div>

              </div>
            </div>

            <div class="tab-pane fade" id="nav3" role="tabpanel" aria-labelledby="nav3-tab">
              <div class="lstbaibao">

                <a href="#" target="_blank"><i class="fa fa-caret-right"></i> Nghiên cứu, vận dụng và phát triển sáng
                  tạo tư tưởng Hồ Chí Minh trong xây dựng đất nước và bảo vệ Tổ quốc</a>
                <a href="#" target="_blank"><i class="fa fa-caret-right"></i> Nghiên cứu, vận dụng và phát triển sáng
                  tạo tư tưởng Hồ Chí Minh trong xây dựng đất nước và bảo vệ Tổ quốc</a>
                <a href="#" target="_blank"><i class="fa fa-caret-right"></i> Nghiên cứu, vận dụng và phát triển sáng
                  tạo tư tưởng Hồ Chí Minh trong xây dựng đất nước và bảo vệ Tổ quốc</a>
                <a href="#" target="_blank"><i class="fa fa-caret-right"></i> Nghiên cứu, vận dụng và phát triển sáng
                  tạo tư tưởng Hồ Chí Minh trong xây dựng đất nước và bảo vệ Tổ quốc</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="id == 4" class="row container_content">
      <div class="col-sm-12 banner_logo">
        <img src="assets/template/images/quochuy.png">
      </div>

      <div class="col-sm-7">
        <div class="tieusu_chucvu">
          <h4 class="tieusu_chucvu_name">Trưởng Ban Nội chính Tỉnh ủy Lâm Đồng</h4>
          <h3 class="tieusu_hoten">Trần Đình Phác</h3>
        </div>
        <div class="tieusu_info">

          <p><span>Ngày sinh: </span>26/01/1942</p>
          <p><span>Quê quán: </span>xã Gio Thành, huyện Gio Linh, tỉnh Quảng Trị</p>
          <p><span>Nơi thường trú hiện nay: </span>Kim Đồng, Phường 6, thành phố Đà Lạt</p>
          <p><span>Dân tộc: </span>Kinh</p>
          <p><span>Tôn giáo: </span>Không</p>
          <p><span>Ngày vào đảng: </span>17/8/1965</p>
          <p><span>Ngày chính thức: </span>17/8/1966</p>
        </div>
      </div>

      <div class="col-sm-5">
        <div class="tieusu_avatar text-center">
          <img src="assets/template/images/profile/phac.png" />
        </div>
      </div>

      <div class="col-sm-12 tieusu_info">

        <div class="col-sm-7">
          <div class="tieusu_info_2">
            <p>
              <span class="name"><i class="fa fa-file-text" aria-hidden="true"></i> Chức vụ: </span>
              <span class="lst_chucvu">
                <span>- Trưởng Ban Nội chính Tỉnh ủy Lâm Đồng </span>
              </span>
            </p>

            <p>
              <span class="name"><i class="fa fa-file-text" aria-hidden="true"></i> Khen thưởng: </span>
              <span class="lst_chucvu">
                <span>- Huân chương Kháng chiến Hạng 3 (6/1984);</span>
                <span>- Huân chương Quyết thắng Hạng nhất (6/1976);</span>
                <span>- Bằng khen của Bộ Tư pháp (1990. 1991);</span>
                <span>- Huy chương vì sự nghiệp Công đoàn, Thanh niên, Phụ nữ, Nông dân, An ninh Tổ quốc, Tòa án, Thanh
                  tra, Tư tưởng văn hóa, Kiểm tra, Giáo dục, Dân số;</span>
              </span>
            </p>

            <p><span class="name">Trình độ lý luận chính trị: </span><span class="value">Đang cập nhập...</span></p>
            <p><span class="name">Trình độ chuyên môn: </span><span class="value">Đang cập nhập...</span></p>
          </div>
        </div>

      </div>

      <div class="col-sm-12">
        <div class="tieusu_content">
          <ul class="nav nav-tabs nav-custom col-sm-12 row" id="custom-content-below-tab" role="tablist">
            <li class="nav-item active">
              <a class="nav-link active" id="nav1-tab" data-toggle="pill" href="#nav1">
                <span>Quá trình công tác</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="nav2-tab" data-toggle="pill" href="#nav2" role="tab">
                <span>Hình ảnh hoạt động</span>
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" id="nav3-tab" data-toggle="pill" href="#nav3" role="tab">
                <span>Các nội dung, bài phát biểu</span>
              </a>
            </li>
          </ul>

          <div class="tab-content" id="custom-content-below-tabContent">
            <div class="tab-pane active in" id="nav1" role="tabpanel" aria-labelledby="nav1-tab">
              <div class="timeline_qtct">
                <div class="box-content">

                  <div class="item">
                    <div class="year">
                      <span>Từ 01/1966 đến 4/1966</span>
                    </div>

                    <div class="title">
                      Cán bộ giáo dục thuộc Ban Tuyên huấn Tỉnh ủy Quảng Trị
                    </div>
                  </div>


                  <div class="item">
                    <div class="year">
                      <span>Từ 5/1966 đến 7/1967</span>
                    </div>

                    <div class="title">
                      Cán bộ Tỉnh đoàn Quảng Trị
                    </div>
                  </div>

                  <div class="item">
                    <div class="year">
                      <span>Từ 8/1967 đến 3/1968</span>
                    </div>

                    <div class="title">
                      Phó Bí thư Huyện Đoàn Gio Linh, Quảng Trị
                    </div>
                  </div>

                  <div class="item">
                    <div class="year">
                      <span>Từ 4/1968 đến 12/1968</span>
                    </div>

                    <div class="title">
                      Phó Bí thư liên Huyện Đoàn Gio Cam, Quảng Trị
                    </div>
                  </div>

                  <div class="item">
                    <div class="year">
                      <span>Từ 6/1969 đến 7/1972</span>
                    </div>

                    <div class="title">
                      Phụ trách Văn phòng Ban cán sự Gio Cam, Quảng Trị, Chi ủy viên Chi bộ Cơ quan
                    </div>
                  </div>

                  <div class="item">
                    <div class="year">
                      <span>Từ 8/1972 đến 4/1976</span>
                    </div>

                    <div class="title">
                      Cán bộ nghiên cứu Văn phòng Tỉnh ủy Quảng Trị, Chi ủy viên, Bí thư Chi bộ, Đảng ủy viên Khối Đảng
                      Tỉnh ủy Quảng Trị
                    </div>
                  </div>

                  <div class="item">
                    <div class="year">
                      <span>Từ 5/1976 đến 8/1982</span>
                    </div>

                    <div class="title">
                      Cán bộ, Chánh Văn phòng, Trưởng phòng Tổ chức tổng hợp Ban Tổ chức Tỉnh ủy Lâm Đồng, Bí thư Chi bộ
                      Cơ quan
                    </div>
                  </div>

                  <div class="item">
                    <div class="year">
                      <span>Từ 9/1982 đến 7/1984</span>
                    </div>

                    <div class="title">
                      Học viên Trường Đảng cao cấp Nguyễn Ái Quốc, Hà Nội
                    </div>
                  </div>

                  <div class="item">
                    <div class="year">
                      <span>Từ 8/1984 đến 12/1986</span>
                    </div>

                    <div class="title">
                      Trưởng phòng Cán bộ, Phó trưởng Ban Tổ chức Tỉnh ủy Lâm Đồng, Từ 10/1986 là Tỉnh ủy viên dự khuyết
                      Tỉnh ủy Lâm Đồng
                    </div>
                  </div>

                  <div class="item">
                    <div class="year">
                      <span>Từ 01/1987 đến 7/1992</span>
                    </div>

                    <div class="title">
                      Phó Chánh án, Chánh án Tòa án nhân dân tỉnh Lâm Đồng, Tỉnh ủy viên.
                    </div>
                  </div>

                  <div class="item">
                    <div class="year">
                      <span>Từ 8/1992 đến 4/1996</span>
                    </div>

                    <div class="title">
                      Tỉnh ủy viên, Phó Chủ nhiệm UBKT Tỉnh ủy Lâm Đồng
                    </div>
                  </div>


                  <div class="item">
                    <div class="year">
                      <span>Từ 5/1996 đến 01/2001</span>
                    </div>

                    <div class="title">
                      Ủy viên Ban Thường vụ Tỉnh ủy, Chủ nhiệm Ủy ban Kiểm tra Tỉnh ủy Lâm Đồng
                    </div>
                  </div>
                  <div class="item">
                    <div class="year">
                      <span>Từ 5/2002 đến nay</span>
                    </div>

                    <div class="title">
                      Nghỉ hưu
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="nav2" role="tabpanel" aria-labelledby="nav2-tab">

              <div class="lstimage">

                <p-galleria [(value)]="images" [(visible)]="displayCustom" [(activeIndex)]="activeIndex"
                  [containerStyle]="{'max-width': '80%'}" [numVisible]="7" [circular]="true" [fullScreen]="true"
                  [showItemNavigators]="true" [showThumbnails]="false" [baseZIndex]="100000">

                  <ng-template pTemplate="item" let-item>
                    <img [src]="item.previewImageSrc" style="width: 100%; display: block;" />
                  </ng-template>

                  <ng-template pTemplate="thumbnail" let-item>
                    <div class="p-grid p-nogutter p-justify-center">
                      <img [src]="item.thumbnailImageSrc" style="display: block;" />
                    </div>
                  </ng-template>

                  <ng-template pTemplate="caption" let-item>
                    <p style="margin-bottom: .5rem; color: #ffffff;">Tiêu đề hoat động</p>
                  </ng-template>

                </p-galleria>

                <div *ngIf="images" class="p-grid">
                  <ng-container *ngFor="let image of images; let index = index; let last = last" key="index">

                    <ng-container *ngIf="index < 7">
                      <div class="contentimg p-col-3" (click)="imageClick(index)">
                        <img [src]="image.thumbnailImageSrc" [alt]="image.alt" style="cursor: pointer" />
                      </div>
                    </ng-container>

                    <ng-container *ngIf="index == 7">
                      <div class="contentimg p-col-3 content-overlay" (click)="imageClick(index)">

                        <img [src]="image.thumbnailImageSrc" [alt]="image.alt" style="cursor: pointer" />

                        <span> +{{images.length - 7}} hình</span>

                      </div>
                    </ng-container>

                  </ng-container>
                </div>

              </div>
            </div>

            <div class="tab-pane fade" id="nav3" role="tabpanel" aria-labelledby="nav3-tab">
              <div class="lstbaibao">

                <a href="#" target="_blank"><i class="fa fa-caret-right"></i> Nghiên cứu, vận dụng và phát triển sáng
                  tạo tư tưởng Hồ Chí Minh trong xây dựng đất nước và bảo vệ Tổ quốc</a>
                <a href="#" target="_blank"><i class="fa fa-caret-right"></i> Nghiên cứu, vận dụng và phát triển sáng
                  tạo tư tưởng Hồ Chí Minh trong xây dựng đất nước và bảo vệ Tổ quốc</a>
                <a href="#" target="_blank"><i class="fa fa-caret-right"></i> Nghiên cứu, vận dụng và phát triển sáng
                  tạo tư tưởng Hồ Chí Minh trong xây dựng đất nước và bảo vệ Tổ quốc</a>
                <a href="#" target="_blank"><i class="fa fa-caret-right"></i> Nghiên cứu, vận dụng và phát triển sáng
                  tạo tư tưởng Hồ Chí Minh trong xây dựng đất nước và bảo vệ Tổ quốc</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
