<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">Danh mục việc làm</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active">Việc làm</li>
        </ol>
      </div>
    </div>
  </div>
</div>

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-12">
        <div class="card">
          <div class="card-header">
            <div class="row">
              <div class="col-md-6">
                <h3 class="card-title">
                  <b>Danh sách việc làm</b>
                </h3>
              </div>
              <div class="col-md-6">
                <button *ngIf="checkPermission('Add')" (click)="add()" type="button"
                  class="btn btn-info btn-sm float-right">
                  <i class="fas fa-plus"></i> Thêm mới
                </button>
                <button type="button" class="btn btn-info btn-sm float-right collapsed mr-3" data-toggle="collapse"
                  data-target="#collapseExample" aria-expanded="true" aria-controls="collapseExample">
                  <i class="fas fa-search"></i> Lọc nâng cao
                </button>
              </div>
            </div>
          </div>
          <div class="collapse show" id="collapseExample">
            <div class="card card-body">
              <div class="row">
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="Name">Từ khóa tìm kiếm</label>
                    <input type="text" class="form-control" [(ngModel)]="keywordInput" placeholder="Từ khóa tìm kiếm" />
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="Name">Doanh nghiệp</label>
                    <p-dropdown
                      optionLabel="Name"
                      optionValue="Id"
                      [(ngModel)]="busi"
                      placeholder="Chọn doanh nghiệp"
                      [options]="busiList"
                      appendTo="body"
                      [filter]="true"
                      filterBy="Name"
                    >
                    </p-dropdown>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="Name">Lĩnh vực</label>
                    <p-dropdown
                      optionLabel="Name"
                      optionValue="Id"
                      [(ngModel)]="field"
                      placeholder="Chọn lĩnh vực"
                      [options]="fieldList"
                      appendTo="body"
                      [filter]="true"
                      filterBy="Name"
                    >
                    </p-dropdown>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="Name">Vị trí</label>
                    <p-dropdown
                      optionLabel="Name"
                      optionValue="Id"
                      [(ngModel)]="posi"
                      placeholder="Chọn vị trí"
                      [options]="posiList"
                      appendTo="body"
                      [filter]="true"
                      filterBy="Name"
                    >
                    </p-dropdown>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <button (click)="search()" type="button" class="btn btn-info btn-sm float-right">
                    <i class="fa fa-filter"></i> Tìm kiếm
                  </button>
                  <button (click)="clearfilter()" type="button" class="btn btn-danger btn-sm float-right mr-3">
                    <i class="fa fa-circle"></i> Bỏ lọc nâng cao
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body p-0">
            <p-table #dt [value]="items" [lazy]="true" (onLazyLoad)="paginate($event)" [paginator]="true" [rows]="10"
              [totalRecords]="totalRow" [loading]="loading" [autoLayout]="true">
              <ng-template pTemplate="header">
                <tr>
                  <th>Nhà tuyển dụng</th>
                  <th>Công việc</th>
                  <th>Vị trí/ yêu cầu</th>
                  <th>Mức lương</th>
                  <th>Địa bàn</th>
                  <th>Lĩnh vực</th>
                  <th>Số lượng</th>
                  <th>Thời gian hết hạn</th>
                  <th>Thao tác</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-item>
                <tr>
                  <td>{{ item.BusiName }}</td>
                  <td>{{ item.Name }}</td>
                  <td>
                    Vị trí: {{ item.PosiName }} <br />
                    Yêu cầu: {{ item.RequiredContent }} <br />
                    Độ tuổi: {{ item.FromAge }} - {{ item.ToAge }}
                  </td>
                  <td *ngIf="!item.IsAgreementSalary">
                    {{ item.FromSalary | currency: "VND" }} {{ " - " }}
                    {{ item.ToSalary | currency: "VND" }}
                  </td>
                  <td *ngIf="item.IsAgreementSalary">"Lương thỏa thuận"</td>
                  <td>
                    {{ item.Address }}
                  </td>
                  <td>{{ item.LinhVucs }}</td>
                  <td>
                    {{ item.Quantity + " (" + item.FemaleQuantity + " Nữ)" }}
                  </td>
                  <td>{{ item.TimeExpiredString }}</td>
                  <td>
                    <div class="dropdown">
                      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Thao tác
                      </button>
                      <div class="dropdown-menu dropdown-menu-right" role="menu">
                        <a class="dropdown-item" (click)="edit(item)" *ngIf="checkPermission('Edit')">Cập nhật</a>
                        <a class="dropdown-item" (click)="delete(item)" *ngIf="checkPermission('Delete')">Xóa</a>
                        <div class="dropdown-divider"></div>
                        <a *ngIf="checkPermission('View')" class="dropdown-item" (click)="history(item)">Lịch sử thay
                          đổi</a>
                      </div>
                    </div>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<p-confirmDialog header="Xác nhận" icon="pi pi-exclamation-triangle"></p-confirmDialog>