<ng-container *ngIf="isView == 'view'">

    <div class="row">
        <div class="col-md-2">
            <div class="form-group">
                <label for="Name">Loại tin tức <span class="text-danger">(*)</span></label>
                <select class="form-control" disabled>
                    <option *ngFor="let item of loaiTinTucs" [(ngModel)]="loaiTinTuc" value="{{item.Id}}">{{item.Name}}
                    </option>
                </select>
                <!-- <p-dropdown [options]="loaiTinTucs" [(ngModel)]="loaiTinTuc" optionLabel="Name" optionValue="Id"
                    [filter]="true" filterBy="Name" appendTo="body" (onChange)="changeLoaiTinTuc($event)"
                    [readonly]="readonlyText && !config.data.IsAdd">
                </p-dropdown> -->
            </div>
        </div>
        <div class="col-md-5" *ngIf="!parent.isNewsImage">
            <div class="form-group">
                <label for="Name">Alias <span class="text-danger">(*)</span></label>
                <input type="text" disabled class="form-control" [(ngModel)]="defaultAlias" placeholder="Alias"
                    [readonly]="readonlyText" />
            </div>
        </div>
        <div class="col-md-5" *ngIf="parent.isNewsImage">
            <div class="form-group">
                <label for="Name">Url</label>
                <input type="text" disabled class="form-control" [(ngModel)]="defaultUrl" placeholder="Url"
                    [readonly]="readonlyText" />
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label for="Name">Ngày đăng <span class="text-danger">(*)</span></label>
                <p-calendar disabled [(ngModel)]="defaultNgay" [showIcon]="true" dateFormat="dd/mm/yy" hourFormat="24"
                    [showTime]="true" [showSeconds]="true" appendTo="body"></p-calendar>
            </div>
        </div>

        <div class="col-md-1">
            <div class="form-group">
                <label for="Name">Ảnh đại diện</label>
                <div class="row-custom">
                    <div style="background-color: #ececec; width: 100px; height: 100px; padding: 10px;">
                        <img [src]="imageUrl | imageUrlPipe: 'thumb'" style="width: 100%; height: 100%" />
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="form-group">
                <label for="Name">Tiêu đề <span class="text-danger">(*)</span></label>
                <input type="text" disabled class="form-control" (keyup)="changeAlias($event)"
                    [(ngModel)]="defaultTitle" placeholder="Tiêu đề" [readonly]="readonlyText" />
            </div>
        </div>
        <div class="col-md-12" *ngIf="!parent.isNewsImage">
            <div class="form-group">
                <label for="Name">Nội dung <span class="text-danger">(*)</span></label>
                <ckeditor disabled [value]="defaultContent" (onEditorKeyup)="changeContent($event)">
                </ckeditor>
            </div>
        </div>

        <!-- <div class="col-md-12">
            <p-tabView>
                <p-tabPanel header="Tiếng Việt">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="Name">Tiêu đề <span class="text-danger">(*)</span></label>
                            <input type="text" class="form-control" (keyup)="changeAlias($event)" [(ngModel)]="defaultTitle"
                                placeholder="Tiêu đề" [readonly]="readonlyText" />
                        </div>
                    </div>
                    <div class="col-md-12" *ngIf="!parent.isNewsImage">
                        <div class="form-group">
                            <label for="Name">Nội dung <span class="text-danger">(*)</span></label>
                            <ckeditor [value]="defaultContent" (onEditorKeyup)="changeContent($event)">
                            </ckeditor>
                        </div>
                    </div>
                </p-tabPanel>
                <p-tabPanel header="Tiếng Anh">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="Name">Tiêu đề</label>
                            <input type="text" class="form-control" [(ngModel)]="defaultTitle_En" placeholder="Tiêu đề"
                                [readonly]="readonlyText" />
                        </div>
                    </div>
                    <div class="col-md-12" *ngIf="!parent.isNewsImage">
                        <div class="form-group">
                            <label for="Name">Nội dung</label>
                            <ckeditor [value]="defaultContent_En" (onEditorKeyup)="changeContent_En($event)">
                            </ckeditor>
                        </div>
                    </div>
                </p-tabPanel>
            </p-tabView>
        </div> -->
    </div>

    <div class="p-footer">
        <div class="f-contains">
            <button class="btn btn-success" (click)="duyet(item, '1')">
                Duyệt
            </button>

            <button class="btn btn-warning" (click)="duyet(item, '0')">
                Bỏ qua
            </button>

            <button class="btn btn-outline-danger" type="submit" (click)="cancel()">
                Đóng
            </button>
        </div>
    </div>

</ng-container>
<ng-container *ngIf="isView == null">
    <div class="row">
        <div class="col-md-2">
            <div class="form-group">
                <label for="Name">Loại tin tức <span class="text-danger">(*)</span></label>
                <p-dropdown [options]="loaiTinTucs" [(ngModel)]="loaiTinTuc" optionLabel="Name" optionValue="Id"
                    [filter]="true" filterBy="Name" appendTo="body" (onChange)="changeLoaiTinTuc($event)"
                    [readonly]="readonlyText && !config.data.IsAdd">
                </p-dropdown>
            </div>
        </div>
        <div class="col-md-5" *ngIf="!parent.isNewsImage">
            <div class="form-group">
                <label for="Name">Alias <span class="text-danger">(*)</span></label>
                <input type="text" class="form-control" [(ngModel)]="defaultAlias" placeholder="Alias"
                    [readonly]="readonlyText" />
            </div>
        </div>
        <div class="col-md-5" *ngIf="parent.isNewsImage">
            <div class="form-group">
                <label for="Name">Url</label>
                <input type="text" class="form-control" [(ngModel)]="defaultUrl" placeholder="Url"
                    [readonly]="readonlyText" />
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label for="Name">Ngày đăng <span class="text-danger">(*)</span></label>
                <p-calendar [(ngModel)]="defaultNgay" [showIcon]="true" dateFormat="dd/mm/yy" hourFormat="24"
                    [showTime]="true" [showSeconds]="true" appendTo="body"></p-calendar>
            </div>
        </div>

        <div class="col-md-1">
            <div class="form-group">
                <label for="Name">Ảnh đại diện</label>
                <div>
                    <div class="btn bg-pro color-white" (click)="openFileDilog()">
                        Chọn hình ảnh
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <div class="row-custom">
                    <div style="background-color: #ececec; width: 100px; height: 100px; padding: 10px;">
                        <img [src]="imageUrl | imageUrlPipe: 'thumb'" style="width: 100%; height: 100%" />
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="form-group">
                <label for="Name">Tiêu đề <span class="text-danger">(*)</span></label>
                <input type="text" class="form-control" (keyup)="changeAlias($event)" [(ngModel)]="defaultTitle"
                    placeholder="Tiêu đề" [readonly]="readonlyText" />
            </div>
        </div>
        <div class="col-md-12" *ngIf="!parent.isNewsImage">
            <div class="form-group">
                <label for="Name">Nội dung <span class="text-danger">(*)</span></label>
                <ckeditor [value]="defaultContent" (onEditorKeyup)="changeContent($event)">
                </ckeditor>
            </div>
        </div>

        <!-- <div class="col-md-12">
            <p-tabView>
                <p-tabPanel header="Tiếng Việt">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="Name">Tiêu đề <span class="text-danger">(*)</span></label>
                            <input type="text" class="form-control" (keyup)="changeAlias($event)" [(ngModel)]="defaultTitle"
                                placeholder="Tiêu đề" [readonly]="readonlyText" />
                        </div>
                    </div>
                    <div class="col-md-12" *ngIf="!parent.isNewsImage">
                        <div class="form-group">
                            <label for="Name">Nội dung <span class="text-danger">(*)</span></label>
                            <ckeditor [value]="defaultContent" (onEditorKeyup)="changeContent($event)">
                            </ckeditor>
                        </div>
                    </div>
                </p-tabPanel>
                <p-tabPanel header="Tiếng Anh">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="Name">Tiêu đề</label>
                            <input type="text" class="form-control" [(ngModel)]="defaultTitle_En" placeholder="Tiêu đề"
                                [readonly]="readonlyText" />
                        </div>
                    </div>
                    <div class="col-md-12" *ngIf="!parent.isNewsImage">
                        <div class="form-group">
                            <label for="Name">Nội dung</label>
                            <ckeditor [value]="defaultContent_En" (onEditorKeyup)="changeContent_En($event)">
                            </ckeditor>
                        </div>
                    </div>
                </p-tabPanel>
            </p-tabView>
        </div> -->
    </div>

    <div class="p-footer">
        <div class="f-contains">
            <button class="btn btn-info" type="submit" (click)="submit()">
                Lưu thay đổi
            </button>
            <button class="btn btn-outline-danger" type="submit" (click)="cancel()">
                Thoát
            </button>
        </div>
    </div>
</ng-container>