<div class="section">
  <div class="side_nav">
    <a (click)="backPage()" class="item_nav">
      <i class="fa fa-reply" aria-hidden="true"></i>
    </a>

    <a href="#/tablet" class="item_nav">
      <i class="fa fa-home" aria-hidden="true"></i>
    </a>
  </div>

  <div class="row">

    <div class="col-xs-4 col-sm-4">
      <div (click)="gotoGt()" class="itemBox">
        <img src="assets/template/images/tablet/1.jpg" />
        <div class="itemName"><span>giới thiệu</span></div>
      </div>
    </div>

    <div class="col-xs-4 col-sm-4">
      <div (click)="gotoLanhDao()" class="itemBox">
        <img src="assets/template/images/tablet/1.jpg" />
        <div class="itemName"><span>Lãnh đạo <br> qua các thời kỳ</span></div>
      </div>
    </div>

    <div class="col-xs-4 col-sm-4">
      <div (click)="gotoCacPhongBan()" class="itemBox">
        <img src="assets/template/images/tablet/1.jpg" />
        <div class="itemName"><span>các phòng ban</span></div>
      </div>
    </div>


    <div class="col-xs-4 col-sm-4">
      <div (click)="gotoDangUy()" class="itemBox">
        <img src="assets/template/images/tablet/1.jpg" />
        <div class="itemName"><span>đảng ủy <br>sở giáo dục</span></div>
      </div>
    </div>
 
    <div class="col-xs-4 col-sm-4">
      <div (click)="gotoTt()" class="itemBox">
        <img src="assets/template/images/tablet/1.jpg" />
        <div class="itemName"><span>Những trang <br>sử vàng</span></div>
      </div>
    </div>

    <div class="col-xs-4 col-sm-4">
      <div (click)="gotoGdtt()" class="itemBox">
        <img src="assets/template/images/tablet/1.jpg" />
        <div class="itemName"><span>hoạt động<br>nổi bật</span></div>
      </div>
    </div>

    <div class="col-xs-4 col-sm-4">
      <div (click)="gotoCDNganh()" class="itemBox">
        <img src="assets/template/images/tablet/1.jpg" />
        <div class="itemName"><span>CĐ ngành <br> giáo dục LĐ</span></div>
      </div>
    </div>

    <div class="col-xs-4 col-sm-4">
      <div (click)="gotoCDSo()" class="itemBox">
        <img src="assets/template/images/tablet/1.jpg" />
        <div class="itemName"><span>CĐ cơ quan<br> sở GDĐT</span></div>
      </div>
    </div>

    <div class="col-xs-4 col-sm-4">
      <div (click)="gotoHa()" class="itemBox">
        <img src="assets/template/images/tablet/1.jpg" />
        <div class="itemName"><span>thư viện <br>hình ảnh/ video</span></div>
      </div>
    </div>

    <!-- <div class="col-xs-4 col-sm-4">
      <div (click)="goto360()" class="itemBox">
        <img src="assets/template/images/tablet/3.jpg" />
        <div class="itemName">tham quan 360</div>
      </div>
    </div>

    <div class="col-xs-4 col-sm-4">
      <div (click)="gotoGd()" class="itemBox">
        <img src="assets/template/images/tablet/4.jpg" />
        <div class="itemName">giai đoạn lịch sử</div>
      </div>
    </div> -->
  </div>

</div>
