<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h4 class="m-0 text-dark">Duyệt bài viết</h4>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <!-- <li class="breadcrumb-item active">{{ this.title }}</li> -->
                </ol>
            </div>
        </div>
    </div>
</div>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-12">
                <div class="card card-primary card-outline">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="d-block" for="Name">Đơn vị: </label>
                                    <p-select [options]="units" [(ngModel)]="unit" optionLabel="Name"
                                        optionValue="Code" [filter]="true" filterBy="Name" placeholder="Chọn đơn vị"
                                        appendTo="body">
                                    </p-select>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="d-block" for="Name">Từ ngày: </label>
                                    <p-datepicker [(ngModel)]="TuNgay" [showIcon]="false" dateFormat="dd/mm/yy"
                                        appendTo="body">
                                    </p-datepicker>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="d-block" for="Name">Đến ngày: </label>
                                    <p-datepicker [(ngModel)]="DenNgay" [showIcon]="false" dateFormat="dd/mm/yy"
                                        appendTo="body">
                                    </p-datepicker>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="Name">Từ khóa tìm kiếm</label>
                                    <input type="text" class="form-control" [(ngModel)]="keywordInput"
                                        placeholder="Từ khóa tìm kiếm" />
                                </div>
                            </div>
                            <div class="col-md-2" style="padding-top: 37px;">
                                <button (click)="search()" type="button" class="btn btn-info btn-sm"
                                    style="margin-right: 5px;">
                                    <i class="fa fa-filter"></i> Tìm kiếm
                                </button>
                                <!-- <button *ngIf="isSuperAdminSystem || title != 'Giới thiệu/Hệ thống chính trị'"
                                    (click)="add()" type="button" class="btn btn-success btn-sm mr-3">
                                    <i class="fas fa-plus"></i> Thêm mới
                                </button> -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body p-0">
                    <p-table #dt [value]="items" [lazy]="true" (onLazyLoad)="paginate($event)"
                        [paginator]="true" [rows]="pageSize" [rowsPerPageOptions]="[20,50,100,500,1000]"
                        [totalRecords]="totalRow" [loading]="loading" appendTo="body" paginatorDropdownAppendTo="body">
                        <ng-template pTemplate="header">
                            <tr>
                                <th class="headerTable" style="width: 5%; text-align: center;">STT</th>
                                <th class="headerTable" style="width: 140px;">Hình ảnh</th>
                                <th class="headerTable" width="50%">Thông tin bài viết</th>
                                <th class="headerTable" width="20%">Thời gian</th>
                                <th *ngIf="isSuperAdminSystem" class="headerTable" width="10%">Đơn vị</th>
                                <th class="headerTable" width="10%">Thao tác</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-i="rowIndex">
                            <tr>
                                <td style="text-align: center;">{{i+1}}</td>
                                <td class="text-center">
                                    <app-thumb [src]="rowData.ImageUrl | imageUrlPipe" [empty]="!rowData.ImageUrl" [alt]="rowData.Title"></app-thumb>
                                </td>
                                <td class="text-left">
                                    <!-- <b>Loại tin tức:</b> {{ rowData.NewTypeName }}<br> -->
                                    <b>Tiêu đề:</b> {{ rowData.Title }}
                                </td>
                                <td style="text-align: center;">{{ rowData.CreateDateString }}</td>
                                <td *ngIf="isSuperAdminSystem">{{ rowData.UnitName }}</td>
                                <td style="text-align: center;">
                                    <button pbutton="" pripple="" icon="pi pi-eye" (click)="view(rowData)" title="Xem bài viết"
                                        class="p-element p-button-rounded p-button-info mr-2 p-button p-component p-button-icon-only">
                                        <span class="p-button-icon pi pi-eye" aria-hidden="true"></span>
                                    </button>
                                    <button pbutton="" pripple="" icon="pi pi-check" (click)="duyet(rowData, '1')" title="Duyệt bài viết"
                                        class="p-element p-button-rounded p-button-success mr-2 p-button p-component p-button-icon-only">
                                        <span class="p-button-icon pi pi-check" aria-hidden="true"></span>
                                    </button>
                                    <button pbutton="" pripple="" icon="pi pi-pi-ban" (click)="duyet(rowData, '0')" title="Bỏ qua bài viết"
                                        class="p-element p-button-rounded p-button-warning mr-2 p-button p-component p-button-icon-only">
                                        <span class="p-button-icon pi pi-ban" aria-hidden="true"></span>
                                    </button>
                                    <!-- <button *ngIf="rowData.Status == 0" pbutton="" pripple="" icon="pi pi-eye"
                                        (click)="changeStatus(rowData)"
                                        class="p-element p-button-rounded p-button-info mr-2 p-button p-component p-button-icon-only">
                                        <span class="p-button-icon pi pi-eye" aria-hidden="true"></span>
                                    </button>
                                    <button *ngIf="rowData.Status == 1" pbutton="" pripple="" icon="pi pi-eye-slash"
                                        (click)="changeStatus(rowData)"
                                        class="p-element p-button-rounded p-button-info mr-2 p-button p-component p-button-icon-only">
                                        <span class="p-button-icon pi pi-eye-slash" aria-hidden="true"></span>
                                    </button>
                                    <button pbutton="" pripple="" icon="pi pi-trash" (click)="delete(rowData)"
                                        class="p-element p-button-rounded p-button-warning p-button p-component p-button-icon-only">
                                        <span class="p-button-icon pi pi-trash" aria-hidden="true"></span>
                                    </button> -->
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="paginatorleft" let-state>
                            <span>Tổng cộng: {{state.totalRecords}} bài viết</span>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
    </div>
</section>
<p-confirmDialog header="Xác nhận" icon="pi pi-exclamation-triangle"></p-confirmDialog>