app-hoatdongphongtrao-page {
    .brecrum {
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translate(-50%, -50%);
    }

    #hoatdongphongtrao {
        padding-top: 30px;

        .info-title {
            font-size: 16pt;
            font-weight: 600;
            text-transform: capitalize;
            padding-bottom: 10px;
            color: #007ade;
        }

        .info-des {
            font-weight: 400;
            line-height: 1.5;
            font-size: 17px;
            text-align: justify;

            p {
                text-align: justify;
            }
        }
    }

    .body-content {
        background:
            url(../../../../assets/template/images/bg2.png) no-repeat,
            url(../../../../assets/template/images/bg.png) no-repeat;
        background-position:
            left top,
            left bottom;

        //background-attachment: fixed;
        clear: both;
        padding-bottom: 10px;
        display: inline-block;
        width: 100%;
        min-height: 100vh;
    }

    .dsnhiemky {
        margin-top: 30px;
        position: relative;
        margin: 0 auto;
        .nhiemky_item {
            // margin: 6px;
            // display: inline-block;
            // width: 100%;
            // border: 2px solid #efefef;
            // padding: 20px 18px;
            // border-radius: 5px;
            // padding-right: 0;

            padding: 10px 40px !important;
            position: relative;
            background-color: inherit;
            width: 50% !important;
            cursor: pointer;

            img {
                width: 160px;
                float: left;
            }

            .nhiemky_right {
                float: left;
                padding-left: 10px;

                .nhiemky_title {
                    font-size: 15px;
                    padding-top: 10px;
                }

                .nhiemky_info {
                    font-size: 16px;
                    color: #007ade;
                    display: block;
                    font-weight: 600;
                    margin-top: 10px;
                }
            }

            .nk_content {
                padding: 20px 30px;
                position: relative;
                border-radius: 6px;
                border: 2px solid #efefef;
                display: inline-block;
                width: 100%;
                background-color: #f6f6f6;
            }
        }

        .nhiemky_item::after {
            content: "";
            position: absolute;
            width: 25px;
            height: 25px;
            right: -12px;
            background-color: red;
            border: 4px solid #ff9f55;
            top: 15px;
            border-radius: 50%;
            z-index: 2221;
        }

        /* Place the container to the left */
        .nk_left {
            left: 0;
        }

        /* Place the container to the right */
        .nk_right {
            left: 50%;
        }

        .nk_left::before {
            content: " ";
            height: 0;
            position: absolute;
            top: 22px;
            width: 0;
            z-index: 22221;
            right: 30px;
            border: medium solid #efefef;
            border-width: 10px 0 10px 10px;
            border-color: transparent transparent transparent #efefef;
        }

        .nk_right::before {
            content: " ";
            height: 0;
            position: absolute;
            top: 22px;
            width: 0;
            z-index: 1;
            left: 30px;
            border: medium solid #efefef;
            border-width: 10px 10px 10px 0;
            border-color: transparent #efefef transparent transparent;
        }

        .nk_right::after {
            left: -13px;
        }

        .nk_content:hover,
        .nk_content:active {
            border: 2px solid orange;
            background-image: linear-gradient(-70deg, #fff, #fff 70%, #ffaa00);
            transition: 0.2s;
        }

        .nk_left:hover::before:active {
            border-color: transparent transparent transparent #ffaa00;
        }

        .nk_right:hover::before:active {
            border-color: transparent #ffaa00 transparent transparent;
        }
    }

    .dsnhiemky::after {
        content: "";
        position: absolute;
        width: 6px;
        background-color: #ff9f55;
        top: 0;
        bottom: 0;
        left: 50%;
        margin-left: -3px;
    }

    .nhiemky_scroll {
        // max-height: 800px;
        // overflow-y: scroll;
    }

    .topItemChuNhiem {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .lstperson {
        .person_item {
            display: inline-block;
            width: 100%;
            /* background: #fff; */
            margin-bottom: 15px;
            cursor: pointer;
            margin: 12px 5px;
            .person_name {
                color: #fff;
                padding: 10px 10px;
                background: #007ade !important;
                font-weight: bold;
                font-size: 18px;
                text-align: center;
                .person_subname {
                    font-size: 16px;
                    font-weight: 500;
                }
            }

            .person_img {
                float: left;
                /* border: 2px solid #007ade !important; */
                /* margin-top: -2px; */
                // width: 30%;
                width: 100%; // yều cầu hiện 2 hình
                // text-align: center;
                display: flex;
                justify-content: space-between;

                // .logo {
                //     height: 45px;
                //     -o-object-fit: cover;
                //     object-fit: cover;
                //     transition: 0.5s;
                // }
                img {
                    // width: 100%;
                    width: 49%; // yêu cầu hiện 2 hình
                    height: 360px;
                    -o-object-fit: cover;
                    object-fit: cover;
                    transition: 0.5s;
                    margin: 10px auto auto auto;
                    border: 2px solid #007ade;
                    border-radius: 14px;
                    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.09019607843137255);
                }
            }

            .person_img_HU {
                float: left;
                /* border: 2px solid #007ade !important; */
                /* margin-top: -2px; */
                text-align: center;
                width: 100%;

                // .logo {
                //     height: 45px;
                //     -o-object-fit: cover;
                //     object-fit: cover;
                //     transition: 0.5s;
                // }
                img {
                    width: 100%;
                    height: 300px;
                    -o-object-fit: cover;
                    object-fit: cover;
                    transition: 0.5s;
                    margin-top: 10px;
                    border: 2px solid #007ade;
                    border-radius: 14px;
                    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.09019607843137255);
                }
            }
            .person_info {
                //color: red;
            }

            .person_content {
                float: right;
                //width: 70%;// yêu cầu hiện 2 hình
                width: 40%;
                padding: 10px;
                padding-left: 15px;
                p {
                    font-size: 16px;
                    font-weight: 500;
                    /* margin: 7px 0; */
                    margin-bottom: 8px;
                }
            }
        }

        .person_item:hover,
        .person_item:active {
            background-image: linear-gradient(-70deg, #bfe9f3, #fff 70%, #fff);
            transition: 0.2s;
        }
    }

    .content_baiviet {
        font-size: 17px;
        line-height: 1.45;
        margin-bottom: 0.5rem;
        margin-top: 10px;
        text-align: justify;
    }

    .content-gd .itemgd {
        box-shadow: 2px 2px 20px #00000017;
        border-radius: 10px;
        overflow: hidden;
        margin: 0 11px 23px 0;

        img {
            height: 227px;
            width: 100%;
            -o-object-fit: cover;
            object-fit: cover;
            transition: 0.5s;
        }

        .icon_item {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            padding: 10px 17px;
            background: rgba(176, 17, 22, 0.65);
            border-radius: 10px;
            i {
                font-size: 50px;
                opacity: 0.8;
                color: #fff;
            }
        }
    }

    /*trưng bày hiện vật và hình ảnh video*/

    .content-media {
        img.img_hover {
            height: 150px !important;
        }

        img.thanhtich {
            height: 227px !important;
        }

        .gd-title {
            font-size: 16px !important;
            line-height: 25px !important;
            margin-bottom: 0 !important;
            font-weight: 500 !important;
            color: #000;
        }
    }

    .content-gd .itemgd-body {
        padding: 14px 20px !important;
        background-color: #fff;
        a {
            min-height: 50px;
        }
    }

    .content-gd .gd-title {
        margin-bottom: 10px;
        font-size: 20px;
        font-weight: bold;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        line-height: 25px;
    }

    .content-gd .gd-des {
        font-size: 16px;
        text-align: justify;
        max-height: 80px;
        min-height: 80px;
        overflow: hidden;
    }

    /*end trưng bày hiện vật*/

    // .title {
    //     a {
    //         color: #d65e85 !important;
    //     }
    // }

    // .nav-custom .nav-item .nav-link {
    //     position: relative;
    // }

    // .badge.badge-info.number_ {
    //     position: absolute;
    //     bottom: 8px;
    //     font-size: 16px;
    //     right: 10px;
    //     color: #fff !important;
    // }

    // .nav-custom > li {
    //     margin: 0 8px !important;
    // }

    // @media (max-width: 568px) {
    //     .nav-custom > li {
    //         min-width: 200px;
    //     }
    // }

    .container_filter {
        padding: 10px;
        .filter_item {
            padding: 0 0px 20px 0px;
            h5 {
                padding: 0 9px;
                border-left: 5px solid;
            }
            .item_content {
                color: #fff;
                background: #efb338;
                display: inline-block;
                padding: 5px 10px;
                margin: 5px;
                border-radius: 5px;
                font-size: 15px;
            }
        }
    }
    .filter_action {
        padding: 15px;
        display: flex;
        justify-content: space-between;
    }

    @media (min-width: 576px) and (max-width: 820px) {
        .col-sm-6 {
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            max-width: 100%;
        }
    }
    .nav-custom-tab {
        border: 0;

        display: flex;
        justify-content: center;
        align-items: center;
        // background: #fbe9c3;
        // padding: 15px 0 0 0;
        // box-shadow: 1px 2px 4px #0000001c;
        li {
            min-width: 214.69px;
            margin-right: 10px;
            margin-bottom: 15px;
            a {
                color: #000;
                border: 2px dashed !important;
                border-color: #007ade;
                border-radius: 0;
                min-width: 347.45px;
                text-align: center;

                span {
                    font-size: 18px;
                    font-weight: 500;
                }
            }
            a.active {
                border: 0;
                background-image: linear-gradient(to right, #007ade, #8ebcf8);
                color: #fff!important;
                border-radius: 0;
                padding: 10px;
            }
            a:hover {
                border-color: #007ade;
            }
        }
    }
}
