<!-- <p-toast></p-toast> -->
<div class="row d-flex flex-row bd-highlight justify-content-center">
    <img [src]="item.AvatarUrl | imageUrlPipe" class="custom-image" />
</div>
<div class="row d-flex flex-row bd-highlight justify-content-center">
    <div class="text-info"><b>{{item.UserName}}</b></div>
</div>
<div class="row mb-4"></div>
<div class="row">
    <div class="col-md-3 pl-3 p-0">
        <b><i class="fas fa-phone-alt"></i> Số điện thoại:</b>
    </div>
    <div class="col-md-9 pl-3 pr-3">
        {{item.PhoneNumber}}
    </div>
</div>
<div class="dropdown-divider"></div>
<div class="row">
    <div class="col-md-3 pl-3 p-0">
        <b><i class="fas fa-atom"></i> Đơn vị:</b>
    </div>
    <div class="col-md-9 pl-3 pr-3">
        {{item.UnitName}}
    </div>
</div>
<div class="dropdown-divider"></div>
<div class="row">
    <div class="col-md-3 pl-3 p-0">
        <b><i class="fas fa-cube"></i> Chức vụ:</b>
    </div>
    <div class="col-md-9 pl-3 pr-3">
        {{item.PositionName}}
    </div>
</div>
<div class="dropdown-divider"></div>
<div class="row">
    <div class="col-md-3 pl-3 p-0">
        <b><i class="fab fa-codepen"></i> Nội dung:</b>
    </div>
    <div class="col-md-9 pl-3 pr-3">
        {{item.Message}}
    </div>
</div>
<div class="dropdown-divider"></div>
<div class="row">
    <div class="col-md-3 pl-3 p-0">
        <b><i class="fas fa-calendar-alt"></i> Ngày gửi:</b>
    </div>
    <div class="col-md-9 pl-3 pr-3">
        {{item.SendDate}}
    </div>
</div>
<div class="dropdown-divider" *ngIf="item.SeenDate != null"></div>
<div class="row" *ngIf="item.SeenDate != null">
    <div class="col-md-3 pl-3 pr-3">
        <b><i class="fas fa-calendar-check"></i> Ngày xem:</b>
    </div>
    <div class="col-md-9 pl-3 pr-3">
        {{item.SeenDate}}
    </div>
</div>

<div class="p-footer">
    <div class="f-contains">
        <button class="btn btn-outline-danger" type="submit" (click)="cancel()">Thoát</button>
    </div>
</div>