app-feedback-detail {
    .p-galleria .p-galleria-thumbnails-content {
        background: rgba(255, 255, 255, 1);
        padding: 0;
        position: relative;
    }
    .p-galleria .p-galleria-thumbnails-content .p-galleria-thumbnail-prev-button,
    .p-galleria .p-galleria-thumbnails-content .p-galleria-thumbnail-next-button {
        color: #777;
    }
    .p-galleria-item {
        width: 100%;
        height: calc(35vh + 120px);
        a,
        img {
            height: 100%;
        }
    }

    .p-grid {
        width: calc(7vh + 14px);
        height: calc(7vh + 14px);
        margin: 1px;
        overflow: hidden;
        img {
            height: 100%;
        }
    }
    .p-galleria-thumbnails {
        align-items: center;
        margin-top: 5px;
      }
      .p-galleria-thumbnail-prev-button {
        position: absolute;
        left: -32px;
        z-index: 999;
      }
      .p-galleria-thumbnail-next-button {
        position: absolute;
        right: -32px;
        z-index: 999;
      }
    
      @media screen and (max-width: 1200px) {
        .p-galleria .p-galleria-thumbnails-content {
          position: unset;
        }
        .p-galleria .p-galleria-thumbnails {
          position: relative;
        }
        .p-galleria-thumbnail-prev-button {
          left: -1px;
        }
        .p-galleria-thumbnail-next-button {
          right: -1px;
        }
      }

    .download {
        position: absolute;
        top: 5px;
        z-index: 999;
        background-color: rgba(0,0,0,.6);
        padding : 2px;
        height: 30px;
        width: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        i {
            color: #fff;
        }
        &.r1 {
            right: 15px;
        }
        &.r2 {
            right: 55px;
        }
    }

    .stop-click {
        pointer-events: none;
    }

    .custom-equal {
        margin-right: 4px;
        margin-bottom: 2px;
        margin-top: 2px;
    }

    .text-info {
        span {
            cursor: pointer;
        }
    }

    .custom-row {
        width: 100%;
        display: block;
        .custom-col-1 {
            width: 150px;
            float: left;
        }
    
        .custom-col-2 {
            width: calc(100% - 150px);
            float: left;
        }
    }
    @media screen and (max-width: 1280px) {
        .custom-row {
            .custom-col-1 {
                width: 100%;
                float: none;
            }
            .custom-col-2 {
                width: 100%;
                float: none;
            }
        }
    }
    .clearboth {
        clear: both;
        width: 100%;
        height: 1px;
    }
}
