feedback-quatrinhxuly-modal {
  .p-dropdown {
    width: 100%;
  }
  .p-autocomplete {
    width: 100%;
  }
  .p-autocomplete > ul {
    width: 100%;
  }

  .p-calendar {
    width: 100%;
  }
  .p-multiselect {
    width: 100%;
  }
  .text-right {
    text-align: right;
  }
  .modal-footer {
    position: absolute;
    bottom: 0;
  }

  .card-primary {
    position: relative;
  }
  .p-footer {
    width: 100%;
    height: 70px;
    position: absolute;
    // bottom: -70px;
    bottom: 0;
    left: 0;
    border-top: 1px solid #e9ecef;
    background: #ffffff;
    color: #212529;
    padding: 1rem;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    .f-contains {
      display: flex;
      width: 100%;
      height: 100%;
      justify-content: flex-end;
      button {
        margin-left: 15px;
      }
    }
  }
  .bg-pro {
    background: #007bff;
  }
  .color-white {
    color: #fff;
  }

  .custom-marker {
    display: flex;
    width: 2rem;
    height: 2rem;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    border-radius: 50%;
    z-index: 1;
  }
  .p-card .p-card-title {
    font-size: 1.1rem;
  }

  ::ng-deep {
    .p-timeline-event-content,
    .p-timeline-event-opposite {
      line-height: 1;
    }
  }
  .p-timeline.p-timeline-vertical .p-timeline-event-opposite,
  .p-timeline.p-timeline-vertical .p-timeline-event-content {
    padding: 0;
  }
  .p-timeline.p-timeline-vertical .p-timeline-event-content {
    flex: 1;
    position: relative;
    padding-top: 50px;

    .event-header {
      top: 0;
      width: calc(100% - 5px);
      left: 5px;
      position: absolute;
    }
  }
  .p-timeline-event-separator {
    background-color: #fafafa;
  }
  .p-timeline-event-opposite {
    flex: 0;
    padding: 0;
  }
  .p-card {
    margin-top: 1rem;
    .p-card-body {
      padding: 0;
    }
    .p-card-content {
      padding: 1rem;
    }
  }

  .text-gray {
    color: #777;
  }
  .backgroundGray {
    background-color: #555;
    color: #fff;
    margin-top: 8px;
    margin-bottom: 12px;
    padding: 8px 12px;
  }

  .custom-html {
    padding: 15px;
    border: 1px dashed #dadada;
    p, img {
      max-width: 100%;
    }
    img {
      margin-top: 5px;
      margin-bottom: 5px;
    }
  }
  .custom-image {
    height: 170px;
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
    a {
      width: auto;
      height: 100%;
      img {
        width: auto;
        height: 100%;
      }
    }
  }
}
