<div class="progress-spinner" *ngIf='isDisabled'>
    <p-progressSpinner></p-progressSpinner>
</div>

<div class="col-lg-12 col-12" [ngClass]="{'opacity ': isDisabled === true}">
    <form [formGroup]="formData" class="form-horizontal row">
        <div class="col-lg-6 col-md-6">
            <div class="form-group ">
                <label for="Name" class="col-sm-4 control-label">Biểu mẫu:</label>
                <input id="codeTongHopId" [(ngModel)]="code" type="text" class="form-control" placeholder="Nhập code"
                    formControlName="Code" [readonly]="true">
                <span class="help-block required-color" id="codeTongHopIdError">
                </span>
            </div>
        </div>

        <div class="col-lg-6 col-md-6">
            <div class="form-group ">
                <label for="Name" class="col-sm-4 control-label">&nbsp;</label>
                <input id="headerTongHopId" [(ngModel)]="header" type="text" class="form-control"
                    placeholder="Nhập tiêu đề" formControlName="Header" [readonly]="true">
                <span class="help-block required-color" id="headerTongHopIdError">
                </span>
            </div>
        </div>
    </form>
</div>

<div class="col-lg-12 col-12 row" [ngClass]="{'opacity ': isDisabled === true}">
    <div class="col-lg-6 col-md-6">
        <div class="form-group ">
            <span class="help-block required-color" id="listDocumentError">
            </span>
            <p-listbox [options]="listDocument" [style]="{'width':'100%'}" [multiple]="true" [checkbox]="true"
                [filter]="true" optionLabel="Name" dataKey="Id" (onChange)="onChangeDocument($event)"
                [(ngModel)]="listSelectedDocument">
            </p-listbox>
        </div>
    </div>

    <div class="col-lg-6 col-md-6">
        <div class="form-group ">
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let item of listTongHopDocument; let j = index">{{j + 1}}.
                    {{item.Name}}<span class="close" (click)="removeLi($event,item.Id)">&times;</span></li>
            </ul>
        </div>
    </div>
</div>
<div class="p-footer text-right">
    <button type="button" class="btn btn-info pull-right mr-2" (click)="submit()">{{'Lưu'}}</button>
    <button type="button" class="btn btn-danger pull-right " (click)="cancel()">{{'Đóng'}}</button>
</div>

<p-toast></p-toast>