<div class="app-loading" *ngIf="isDisabled">
    <div class="logo"></div>
    <svg class="spinner" viewBox="25 25 50 50">
        <circle class="path" cx="50" cy="50" r="4" fill="none" stroke-width="1" stroke-miterlimit="10" />
    </svg>
</div>

<div>
    <section class="content" [ngClass]="{'opacity ': isDisabled === true}">
        <div class="box box-info">
            <div class="box-header with-border">
                <!-- <h3 class="box-title">Nhập chỉ số</h3> -->
            </div>
            <div class="box-body" id="target" style="overflow-x: auto;">
                <div class="form-group">
                    <div class="col-md-8" style="padding-bottom: 15px;">
                        <h3 style="margin: 10px;">Biểu mẫu: {{templateName}}</h3>
                    </div>
                    <!-- htc Che code dung xoa -->
                    <!-- <div class="col-md-4" style="padding-bottom: 15px;">
                        <div class="col-sm-4" style="padding-top: 10px;">
                            <label class="control-label">Ngày nhập:</label>
                        </div>
                        <div class="col-sm-8">
                            <input type='text' class="form-control" id="input-date" (blur)="onChangeDate()" />
                        </div>
                    </div> -->
                </div>

                <table class="table table-condensed" id="tableContent" [ngStyle]="setMaxWidth()">
                    <tbody>
                        <tr>
                            <th style="width: 5%">#</th>
                            <th style="width: 30%">Tên chỉ số</th>
                            <!-- <th *ngFor="let col of listCol">{{col}}</th> -->
                        </tr>
                        <ng-container *ngFor="let mValue of values; let j = index">
                            <tr *ngIf="!mValue.IsDocumentTemplate">
                                <td *ngIf="mValue.DataType == 3">
                                    <strong>{{mValue.CodeId}}</strong>
                                </td>
                                <td *ngIf="mValue.DataType != 3">
                                    <i>&nbsp;&nbsp;{{mValue.CodeId}}</i>
                                </td>
    
                                <td *ngIf="mValue.DataType == 3">
                                    <strong>{{mValue.PropertyName}}</strong>
                                </td>
                                <td *ngIf="mValue.DataType == 2">
                                    <i>{{mValue.PropertyName}} ({{mValue.SValue}})</i>
                                </td>
    
                                <td *ngIf="mValue.DataType != 3 && mValue.DataType != 2">
                                    <i>&nbsp;&nbsp;{{mValue.PropertyName}}</i>
                                    <!-- <button style="float: right;"><i class="fa fa-plus" data-unicode="f01e"></i></button> -->
                                </td>
                                <!-- <td>{{mValue.UnitName[0]}}</td> -->
    
                                <td *ngFor="let col1 of listCol; let i = index">
                                    <div class="col-sm-10" style="padding-left: 0px;">
                                        <p-panel *ngIf="mValue.MapValueId[i].Value != null" header="Chỉ tiêu"
                                            [toggleable]="true" [style]="{'margin-bottom':'5px'}">
                                            <span>Giá trị:</span> {{mValue.MapValueId[i].Value}}<br />
                                            <span>Ngày áp dụng:</span> {{mValue.MapValueId[i].FromDate}}<br />
                                            <span>Ngày hết hạn:</span> {{mValue.MapValueId[i].ToDate}}
                                        </p-panel>
                                        <p-panel *ngIf="mValue.MapValueMinMaxId[i].ValueMin != null" header="Ngưỡng"
                                            [toggleable]="true" [style]="{'margin-bottom':'5px'}">
                                            <span>Giá trị thấp nhất:</span>
                                            {{mValue.MapValueMinMaxId[i].ValueMin}}<br />
                                            <span>Giá trị cao nhất:</span>
                                            {{mValue.MapValueMinMaxId[i].ValueMax}}<br />
                                            <span>Ngày áp dụng:</span>
                                            {{mValue.MapValueMinMaxId[i].FromDateMinMax}}<br />
                                            <span>Ngày hết hạn:</span>
                                            {{mValue.MapValueMinMaxId[i].ToDateMinMax}}
                                        </p-panel>
                                    </div>
                                    <!-- <div class="col-sm-2">
                                        <button title="Thêm chỉ tiêu" class="btn btn-link h-pointer pull-right" (click)="themChiTieu(mValue, i, true)"
                                            title="Chỉ tiêu"><i class="fa fa-plus fa-2x"></i></button>
                                    </div> -->
    
                                    <div class="col-sm-2">
                                        <button title="Thêm chỉ tiêu" class="btn btn-link h-pointer pull-right"
                                            (click)="addTarget(mValue, i)" title="Chỉ tiêu"><i
                                                class="fa fa-plus fa-2x"></i></button>
                                    </div>
    
                                    <!-- <div class="col-sm-2">
                                        <div class="btn-group pull-right">
                                            <button type="button" class="btn btn-info dropdown-toggle"
                                                data-toggle="dropdown" aria-expanded="true">
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <a (click)="addTarget(mValue, i)">Thêm chỉ tiêu</a>
                                                </li>
                                             
                                            </ul>
                                        </div>
                                    </div> -->
    
                                </td>
    
                            </tr>
                        </ng-container >
                       
                    </tbody>
                </table>
            </div>

            <!-- /.box-body -->
            <div class="box-footer">
                <button type="button" class="btn btn-danger pull-right mLeft2" (click)="cancel()">{{'Đóng'}}</button>
                <!-- <button type="button" class="btn btn-info pull-right" (click)="submit()">{{'Lưu'}}</button> -->
            </div>
            <!-- /.box-footer -->
        </div>
    </section>
</div>