<style>
    .cus-col {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 200px !important;
    }
</style>
<div class="app-loading" *ngIf="isDisabled">
    <div class="logo"></div>
    <svg class="spinner" viewBox="25 25 50 50">
        <circle class="path" cx="50" cy="50" r="4" fill="none" stroke-width="1" stroke-miterlimit="10" />
    </svg>
</div>
<div class="card">
    <h5>Frozen Columns</h5>

    <p-table [value]="values" [resizableColumns]="true" [autoLayout]="true" [scrollable]="true" scrollHeight="400px"
        scrollDirection="both">
        <ng-template pTemplate="header" >
            <tr>
                <th>
                   {{values[0]}}
                </th>
                <th>
                   Label 2
                </th>
                 <th *ngFor="let key of retrieveKeyName(values[0])">
                    Tháng {{key}}
                 </th>
              
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-mValue>
            <tr>
                <td>
                   {{mValue.MapId}}
                </td>
                <td>
                    {{mValue.Name}}
                 </td>
                 <td *ngFor="let key of retrieveKeyName(mValue)">
                    {{mValue[key]}}
                 </td>
              
            </tr>


        </ng-template>
    </p-table>
</div>
<div class="p-footer">
    <button type="button" class="btn btn-danger pull-right  mr-2" (click)="cancel()">{{'Đóng'}}</button>
    <button *ngIf="!hasPermision" type="button" class="btn btn-info pull-right" (click)="submit()">Lưu</button>
</div>