.s-lookup.s-page-search .fg2 {
    width: calc(49% - 3px);
}
.s-lookup.s-page-search .fg1 {
    width: calc(33% - 9px);
}
.form-lookup{
    position: relative;
    display: flex;
    margin-bottom: 15px;
}
.form-lookup .icon{
    padding: 10px;
    background: #014D8F;
    color: white;
    min-width: 50px;
    text-align: center;
}
.m-h{
    min-height:1000px;
}
#detailData{
    position: relative;
    background: #FFF;
    padding: 20px;
    margin: 70px auto;
    transition: 1s all;
}
@media (min-width: 767px) {
    .cls-fullbox {
        width:50%;
        margin: 0 auto;
    }
}
.cls-fullbox h4{
    font-size: 20px;
    color: red;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}
.cls-fullbox{
    border: 12px solid #e6d035;
    padding: 8px;
    background: #FBF5EF;
}
.cls-fullbox  .w-50, .cls-item-body .w-50{
    width: 50%;
    
}
.float-left{
    float: left;
}
.float-right{
    float: right;
}
.cls-fullbox span, .cls-detail span, #lstResult .popup-detail span{
    font-weight:bold;
}
.cls-detail h4{
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}
#lstResult .table-text-system.table-search table thead tr th:nth-child(2) {
    width: 15%;
}
#lstResult .table-text-system.table-search table thead tr th:nth-child(1) {
    width: 16%;
}
#lstResult .table-text-system.table-search table thead tr th{
    text-align:center;
}
#lstResult .item-name{
    text-align: center;
    color: #014D8F;
    font-weight: bold;
    padding-bottom: 10px;
}
#lstResult .table-text-system.table-search table tbody tr td:last-child {
     font-size: 16px; 
}
#lstResult table tr td:nth-child(1), #lstResult table tr td:nth-child(2), #lstResult table tr td:nth-child(3){
    text-align: center;
    vertical-align: middle;
}
#detailData .title-col-left, #detailData .title-col-right, #detailData .title-form, #detailData .cls-item-body .cls-item-body-center{
    text-align: center;
}
#detailData .title-col-right h4, #detailData .title-form{
    text-transform: uppercase
}
#detailData .title-form {
    font-weight: bold;
    line-height: 25px;
}
#detailData .title-col-right .divider {
    background-color: #333;
    display: inline-block;
    height: 2px;
    width: 100px;
}
#detailData .title-col-right h4, #detailData .title-col-right p{
    margin: 0;
}
#detailData .cls-item-footer{
    text-align: right;
}
#detailData .cls-item-footer .cls-item-sign{
    text-transform: uppercase;
    font-weight: bold;
}
#detailData .cls-item-body .cls-item-body-center{
    font-weight: bold;
}
#detailData .cls-item-cer{
    padding: 20px;
    border: 10px solid #e6d035;
    background: #FBF5EF;
}
#detailData .cls-item-img{
    width: 25%;
    height: 180px;
    border: 1px solid #ddd;
    margin: 0 auto;
}
#detailData .cls-item-cer{
    font-size: 16px;
}
#detailData .cls-item-left-footer{
    margin-top: 18%;
}
#detailData .p-bt-10{
    padding-bottom: 10%;
}
#detailData .cls-datetime span{
    padding-left:10%
}
#detailData .cls-item-body{
    margin: 30px 0 30px 0;
}
.cls-item-left-footer p{
    font-style: italic;
}