
#detailData, #detailData2{
    position: relative;
    background: #FFF;
    padding: 20px;
    margin: 70px auto;
    transition: 1s all;
}
@media (min-width: 767px) {
    #detailData2 .cls-fullbox {
        width:50%;
        margin: 0 auto;
    }
}
#detailData2 .cls-fullbox h4{
    font-size: 20px;
    color: red;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}
#detailData2 .cls-fullbox{
    border: 12px solid #e6d035;
    padding: 8px;
    background: #FBF5EF;
}
#detailData2 .cls-fullbox  .w-50{
    width: 50%;
    
}
#detailData2 .cls-fullbox .float-left{
    float: left;
}
#detailData2 .cls-fullbox .float-right{
    float: right;
}
#detailData2 .cls-fullbox span, .cls-detail span{
    font-weight:bold;
}
#detailData2 .cls-detail h4, #detailData .cls-detail h4{
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}
#showdetailData .item-name{
    text-align: center;
    color: #014D8F;
    font-weight: bold;
    padding-bottom: 10px;
}
#lstResult table tr th{
    text-transform: uppercase;
}
#lstResult table tr td:nth-child(1), #lstResult table tr td:nth-child(2), #lstResult table tr td:nth-child(3) {
    text-align: center;
    vertical-align: middle;
}
#showdetailData{
    font-size: 16px;
}
#lstResult  table thead tr th{
    text-align: center;
    font-size: 16px;
}