<div class="container w-100 mt-4">
    <div class="row">
        <div class="col-12">
            <h4>Phản hồi của Hộ Kinh Doanh</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="Name">Mã số thuế <span class="text-danger">(*)</span></label>
                        <input type="text" class="form-control" [(ngModel)]="item.TaxCode" />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="Name">Họ tên chủ hộ </label>
                        <input type="text" class="form-control" [(ngModel)]="item.FullName" />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="Name">Điện thoại <span class="text-danger">(*)</span></label>
                        <input type="text" class="form-control" [(ngModel)]="item.PhoneNumber" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="Name">Thành phố/ Huyện <span class="text-danger">(*)</span></label>
                        <p-dropdown [options]="district" [(ngModel)]="item.LocationDistrictId" optionLabel="Name"
                            optionValue="Id" [filter]="true" filterBy="Name" appendTo="body">
                        </p-dropdown>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="Name">Phường/ Xã <span class="text-danger">(*)</span></label>
                        <p-dropdown [options]="wards" [(ngModel)]="item.LocationWardId" optionLabel="Name"
                            optionValue="Id" [filter]="true" filterBy="Name" appendTo="body">
                        </p-dropdown>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="Name">Địa chỉ </label>
                        <input type="text" class="form-control" [(ngModel)]="item.DiaChi" />
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="Name" class="d-block">Nội dung phản hồi <span class="text-danger">(*)</span></label>
                        <textarea rows="4" [(ngModel)]="item.Content"> </textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="row">
                <div class="col-md-12">
                    <h3>I. Các bước thực hiện gửi phản hồi</h3>
                </div>
                <div class="col-md-12">
                    <label>- Điền đầy đủ thông tin trong phần phản hồi.</label>
                </div>
                <div class="col-md-12">
                    <label>- Gửi thành công, hệ thống gửi phản hồi về cho chính quyền.</label>
                </div>
                <div class="col-md-12">
                    <label> - Mã số thuế dùng để tra cứu kết quả.</label>
                    <div class="col-md-12">
                        <h3>II. Thực hiện tra cứu kết quả</h3>
                    </div>
                    <div class="col-md-12">
                        <label>- Dùng mã số thuế để tra cứu kết quả phản hồi.</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <input type="submit" value="Gửi phản hồi" class="btn btn-primary" (click)="submit()" />
        </div>
    </div>
    <br />
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-12">
                                    <h4>Danh sách câu hỏi - trả lời</h4>
                                </div>
                            </div>
                        </div>
                        <div class="collapse show" id="collapseExample">
                            <div class="card card-body">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="Name">Mã số thuế</label>
                                            <input type="text" class="form-control" [(ngModel)]="keywordInput"
                                                placeholder="Nhập mã số thuế để tìm kiếm" />
                                        </div>
                                    </div>
                                    <div
                                        class="form-group text-right col-12 col-md-1 d-flex align-items-end justify-content-end">
                                        <button type="submit" (click)="search()" class="btn btn-info float-left">
                                            <i class="fa fa-filter"></i>Tìm kiếm
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body p-0" *ngIf="answers.length > 0">
                            <p-table [showCurrentPageReport]="true" currentPageReportTemplate="Hiển thị {first} đến {last} trong tổng số {totalRecords} mục" [value]="answers" [lazy]="true" (onLazyLoad)="paginate($event)" [paginator]="true"
                                [rows]="10" [totalRecords]="totalRow" [loading]="loading" [autoLayout]="true">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th>Mã số thuế</th>
                                        <th>Câu hỏi</th>
                                        <!-- <th>Câu trả lời</th> -->
                                        <th>Ngày hỏi</th>
                                        <th>Xem câu trả lời</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-item>
                                    <tr>
                                        <td>
                                            {{ item.TaxCode }}
                                        </td>
                                        <td>
                                            {{ item.Content }}
                                        </td>
                                        <!-- <td>
                                            {{ item.AnswerContent }}
                                        </td> -->
                                        <!-- <td *ngIf="item.Content.length > 100">
                                            {{ item.Content.substring(0, 97) + '...' }}
                                        </td>
                                        <td *ngIf="item.Content.length <= 100">
                                            {{ item.Content }}
                                        </td>
                                        <td *ngIf="
                        item.AnswerContent != null &&
                        item.AnswerContent != '' &&
                        item.AnswerContent.length > 100 &&
                        item.Status == 1
                      ">
                                            {{ item.AnswerContent.substring(0, 97) + '...' }}
                                        </td>
                                        <td *ngIf="
                        item.AnswerContent != null &&
                        item.AnswerContent != '' &&
                        item.AnswerContent.length <= 100 &&
                        item.Status == 1
                      ">
                                            {{ item.AnswerContent }}
                                        </td>
                                        <td *ngIf="
                        item.AnswerContent == null ||
                        item.AnswerContent == '' ||
                        item.Status == 0
                      "></td> -->
                                        <td>
                                            {{ item.CreateDate | date: 'dd/MM/yyyy' }}
                                        </td>
                                        <td style="text-align: center;">
                                            <button (click)="ViewAnswer(item)" class="btn btn-xs btn-info" ><i class="fas fa-eye"></i></button>
                                        </td>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="emptymessage">
                                    <tr>
                                        <td colspan="5">No items found.</td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
