app-danhsach-page {
    

    .body-content {
        background: url(../../../../assets/template/images/bg-profile.png) no-repeat left top;
        //background-attachment: fixed;
        min-height: 400px;
        padding-top: 60px;
    }
}
