app-qms {
    .p-column-filter-menu-button {
        display: none;
    }
    .p-datepicker {
        width: 300px;
    }
    .p-dropdown {
        width: 100%;
    }
    .p-autocomplete {
        width: 100%;
    }
    .p-autocomplete>ul {
        width: 100%;
    }
    .p-calendar {
        width: 100%;
    }
    .p-multiselect {
        width: 100%;
    }
    .text-right {
        text-align: right;
    }
    .modal-footer {
        position: absolute;
        bottom: 0;
    }
    .card-primary {
        position: relative;
    }
    .p-footer {
        width: 100%;
        height: 70px;
        position: absolute;
        // bottom: -70px;
        bottom: 0;
        left: 0;
        border-top: 1px solid #e9ecef;
        background: #ffffff;
        color: #212529;
        padding: 1rem;
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 4px;
        .f-contains {
            display: flex;
            width: 100%;
            height: 100%;
            justify-content: flex-end;
            button {
                margin-left: 15px;
            }
        }
    }
    .img-responsivethumb {
        padding: 0.25rem;
        background-color: #fff;
        border: 1px solid #dee2e6;
        border-radius: 0.25rem;
        box-shadow: 0 1px 2px rgb(0 0 0 / 8%);
        max-width: 80px;
        height: auto;
    }
    .bg-pro {
        background: #007bff;
    }
    .color-white {
        color: #fff;
    }
    .color-info {
        color: #007bff;
    }
    .custom-equal {
        width: 190px;
        margin: 2px;
        position: relative;
        padding-left: 30px;
        i {
            position: absolute;
            left: 8px;
            top: 8px;
        }
    }
    @media screen and (min-width: 990px) and (max-width: 1075px) {
        .custom-equal {
            width: calc(50% - 8px);
        }
    }
    @media screen and (max-width: 850px) {
        .custom-equal {
            width: calc(50% - 8px);
        }
    }
    @media screen and (max-width: 450px) {
        .custom-equal {
            width: calc(100% - 4px);
        }
    }
    .only-show-high-screen {
        display: none;
    }
    @media screen and (min-width: 1260px) {
        .only-show-high-screen {
            display: block;
        }
    }
    .only-show-low-screen {
        display: none;
    }
    @media screen and (max-width: 1259px) {
        .only-show-low-screen {
            display: block;
        }
    }
}