<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.web>
        <customErrors mode="Off" />
    </system.web>
    <system.webServer>
        <directoryBrowse enabled="false" showFlags="Size, Extension" />
        <staticContent>
			<mimeMap fileExtension=".mrt" mimeType="text/plain" />
            <mimeMap fileExtension="." mimeType="text/plain" />
        </staticContent>
        <rewrite>
            <rules>
                <rule name="HTTP to HTTPS" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="^OFF$" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" appendQueryString="false"/>
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
