<!-- <p-toast></p-toast> -->
<p-timeline [value]="events" align="left" styleClass="customized-timeline">
    <ng-template pTemplate="marker" let-event>
        <span class="custom-marker p-shadow-2" style="background-color:#9C27B0;" *ngIf="event.Id != null">
            <i class="fas fa-calendar-check"></i>
        </span>
        <span class="custom-marker p-shadow-2" style="background-color:#777;" *ngIf="event.Id == null">
            <i class="fas fa-bullseye"></i>
        </span>
    </ng-template>
    <ng-template pTemplate="content" let-event>
        <div *ngIf="event.Id != null">
            <div class="event-header">
                <div class="col-md-12 backgroundGray">
                    <h5>{{event.UnitName}} - {{event.FieldName}}</h5>
                </div>
            </div>
            <p-card *ngFor="let item of event.Children">
                <div class="p-card-title">
                    {{item.UserName}} - {{item.PhoneNumber}}
                </div>
                <div class="p-card-subtitle ng-star-inserted">{{event.CreateDate}}</div>
                <div class="row">
                    <div class="col-md-12">
                        <b>Nội dung</b>: {{item.Description}}
                    </div>
                </div>
                <div class="row mb-2"></div>
                <div class="row" *ngIf="item.ImageList != null && item.ImageList.length > 0">
                    <div class="col-md-12">
                        <p><b>Hình ảnh liên quan: </b></p>
                        <div class="row">
                            <div class="col-md-3 custom-image" *ngFor="let itemimage of item.ImageList">
                                <a href="{{itemimage?.Url | imageUrlPipe}}" target="_blank">
                                    <img [src]="itemimage.Url | imageUrlPipe" style="width: 100%;" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-2"></div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="custom-html" *ngIf="item.Content != null" [innerHTML]="item.Content"></div>
                    </div>
                </div>
            </p-card>
        </div>
    </ng-template>
</p-timeline>

<div class="p-footer">
    <div class="f-contains">
        <button class="btn btn-outline-danger" type="submit" (click)="cancel()">Thoát</button>
    </div>
</div>