<div class="modal-wrapper">
    <div class="card card-primary">
        <div *ngIf="entityForm" class="card-body">
            <form class="row" [formGroup]="entityForm">
                <div class="form-group col-6">
                    <label for="name">Tên cột <span class="text-danger">(*)</span></label>
                    <input type="text" id="name" class="form-control" formControlName="name" placeholder="" />
                    <validation-msg [control]="entityForm.controls.name"> </validation-msg>
                </div>
                <div class="col-6"></div>
                <div class="form-group col-6">
                    <label for="rowNo">Thuộc dòng <span class="text-danger">(*)</span></label>
                    <input type="number" id="rowNo" class="form-control" formControlName="rowNo" placeholder="" />
                    <validation-msg [control]="entityForm.controls.rowNo"> </validation-msg>
                </div>
                <div class="form-group col-6">
                    <label for="colNo">Thuộc cột <span class="text-danger">(*)</span></label>
                    <input type="number" id="colNo" class="form-control" formControlName="colNo" placeholder="" />
                    <validation-msg [control]="entityForm.controls.colNo"> </validation-msg>
                </div>
                <div class="form-group col-6">
                    <label for="rowSpan">Số dòng hợp nhất (MERGE) <span class="text-danger">(*)</span></label>
                    <input type="number" id="rowSpan" class="form-control" formControlName="rowSpan" placeholder="" />
                    <validation-msg [control]="entityForm.controls.rowSpan"> </validation-msg>
                </div>
                <div class="form-group col-6">
                    <label for="colSpan">Thuộc cột hợp nhất (MERGE) <span class="text-danger">(*)</span></label>
                    <input type="number" id="colSpan" class="form-control" formControlName="colSpan" placeholder="" />
                    <validation-msg [control]="entityForm.controls.colSpan"> </validation-msg>
                </div>
                <div class="form-group col-6">
                    <label for="order">Thứ tự <span class="text-danger">(*)</span></label>
                    <input type="number" id="order" class="form-control" formControlName="order" placeholder="" />
                    <validation-msg [control]="entityForm.controls.order"> </validation-msg>
                </div>
            </form>
        </div>
    </div>

    <div class="p-footer">
        <div class="f-contains">
            <button [disabled]="saving" class="btn btn-info" type="submit" (click)="save()">
                <span *ngIf="saving" class="spinner-border spinner-border-sm"></span>
                Xác nhận
            </button>
            <button class="btn btn-outline-danger" type="submit" (click)="cancel()">Thoát</button>
        </div>
    </div>
</div>