<!-- <p-toast [style]="{marginTop: '80px'}"></p-toast> -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Quản lý lĩnh vực</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Lĩnh vực</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-6">
                                <h3 class="card-title">Danh sách lĩnh vực</h3>
                            </div>
                            <div class="col-md-6">
                                <button *ngIf="checkPermission('Add')" (click)="add()" type="button" class="btn btn-info btn-sm float-right">
                                    <i class="fas fa-plus"></i> Thêm mới
                                </button>
                                <button type="button" class="btn btn-info btn-sm float-right collapsed mr-3" data-toggle="collapse" data-target="#collapseExample" aria-expanded="true" aria-controls="collapseExample">
                                    <i class="fas fa-search"></i> Lọc nâng cao
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="collapse show" id="collapseExample">
                        <div class="card card-body">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="Name">Từ khóa tìm kiếm</label>
                                        <input type="text" class="form-control" [(ngModel)]="keywordInput" placeholder="Từ khóa tìm kiếm">
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label for="Name">Loại phản ánh</label>
                                        <p-dropdown [options]="feedbackTypes" [(ngModel)]="fType" optionLabel="Name" optionValue="Value" [filter]="true" filterBy="Name" placeholder="Chọn khu vực" appendTo="body">
                                        </p-dropdown>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label for="Name">Khu vực</label>
                                        <p-dropdown [options]="locations" [(ngModel)]="location" optionLabel="Name" optionValue="UnitCode" [filter]="true" filterBy="Name" placeholder="Chọn khu vực" appendTo="body" (onChange)="selectUnit($event)">
                                        </p-dropdown>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label for="Name">Đơn vị</label>
                                        <p-dropdown [options]="units" [(ngModel)]="unit" optionLabel="Name" optionValue="Id" [filter]="true" filterBy="Name" placeholder="Chọn đơn vị" appendTo="body">
                                        </p-dropdown>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <button (click)="search()" type="button" class="btn btn-info btn-sm float-right">
                                        <i class="fa fa-filter"></i> Tìm kiếm
                                    </button>
                                    <button (click)="clearfilter()" type="button" class="btn btn-danger btn-sm float-right mr-3">
                                        <i class="fa fa-circle"></i> Bỏ lọc nâng cao
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body p-0">
                        <p-table #dt [responsive]="true" [value]="items" [lazy]="true" (onLazyLoad)="paginate($event)" [paginator]="true" [rows]="10" [totalRecords]="totalRow" [loading]="loading" responsiveLayout="scroll">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th style="width: 120px">Icon</th>
                                    <th style="width: 100px">Màu nền</th>
                                    <th>Thông tin</th>
                                    <th>Mô tả</th>
                                    <th style="width: 10rem">Thao tác</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-field>
                                <tr>
                                    <td>
                                        <div style="background-color: #ececec;width: 80px; height: 80px;padding: 10px;"><img [src]="field.ImageUrl | imageUrlPipe: 'thumb'" style="width: 100%; height: 100%;" /></div>
                                    </td>
                                    <td>
                                        {{field.ColorCode}}<br/>
                                        <div class="square-color" [style.backgroundColor]="field.ColorCode"></div>
                                    </td>
                                    <td>
                                        <b>Tên:</b> {{field.Name}} <br/>
                                        <b>Mã:</b> {{field.Code}} <br/>
                                        <b>Thời gian xử lý:</b> {{field.TimeText}} <br/>
                                    </td>
                                    <td>
                                        <p *ngIf="field.DistrictName">
                                            <b>Khu vực:</b> {{field.DistrictName}}
                                        </p>
                                        <p *ngIf="field.UnitName">
                                            <b>Đơn vị:</b> {{field.UnitName}}
                                        </p>
                                        <p *ngIf="field.Description">
                                            {{field.Description}}
                                        </p>
                                    </td>
                                    <td>
                                        <div class="dropdown">
                                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Thao tác
                                            </button>
                                            <div class="dropdown-menu dropdown-menu-right" role="menu">
                                                <a class="dropdown-item" (click)="edit(field)" *ngIf="checkPermission('Edit')">Cập nhật</a>
                                                <a class="dropdown-item" (click)="delete(field)" *ngIf="checkPermission('Delete')">Xóa</a>
                                                <div class="dropdown-divider"></div>
                                                <a *ngIf="checkPermission('View')" class="dropdown-item" (click)="history(field)">Lịch sử thay đổi</a>
                                                <a *ngIf="checkPermission('View')" class="dropdown-item" (click)="historyEdit(field)">Lịch sử thao tác</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="emptymessage">
                                <tr>
                                    <td colspan="3">No items found.</td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<p-confirmDialog header="Xác nhận" icon="pi pi-exclamation-triangle"></p-confirmDialog>