<div class="modal-wrapper">
    <div class="card card-primary">
        <div *ngIf="entityForm" class="card-body">
            <form class="row" [formGroup]="entityForm">
                <div class="form-group col-4">
                    <label for="name">Tên bảng <span class="text-danger">(*)</span></label>
                    <input type="text" id="name" class="form-control" formControlName="name" placeholder="" />
                    <validation-msg [control]="entityForm.controls.name"> </validation-msg>
                </div>
                <div class="form-group col-4">
                    <label for="groupTableId">Nhóm bảng <span class="text-danger">(*)</span></label>
                    <table-group-selector formControlName="groupTableId"></table-group-selector>
                    <validation-msg [control]="entityForm.controls.groupTableId"> </validation-msg>
                </div>
                <div *ngIf="authService.isSuperAdmin()" class="form-group col-4">
                    <label for="unitCode">Đơn vị <span class="text-danger">(*)</span></label>
                    <unit-selector formControlName="unitCode"></unit-selector>
                    <validation-msg [control]="entityForm.controls.unitCode"> </validation-msg>
                </div>
                <div class="form-group col-4">
                    <label for="type">Loại bảng <span class="text-danger">(*)</span></label>
                    <table-type-selector formControlName="type"></table-type-selector>
                    <validation-msg [control]="entityForm.controls.type"> </validation-msg>
                </div>
                <div class="form-group col-4">
                    <label for="periodType">Chu kỳ nhập liệu <span class="text-danger">(*)</span></label>
                    <period-type-selector formControlName="periodType"></period-type-selector>
                    <validation-msg [control]="entityForm.controls.periodType"> </validation-msg>
                </div>
                <div class="form-group col-4">
                    <label for="order">Thứ tự <span class="text-danger">(*)</span></label>
                    <input type="number" id="order" class="form-control" formControlName="order" placeholder="" />
                    <validation-msg [control]="entityForm.controls.order"> </validation-msg>
                </div>
            </form>
            <div class="row">
                <div class="col-12">
                    <hr />
                </div>
                <div class="col-12">
                    <label>Cấu hình bảng</label>
                </div>
                <div class="col-12 text-right">
                    <button (click)="addColumn()" class="btn btn-primary mr-2">Thêm cột</button>
                    <button (click)="addCell()" class="btn btn-primary">Thêm ô</button>
                </div>
                <div class="col-12 mt-2">
                    <table-template-preview-component [columns]="tableColumns" [cells]="tableCells"
                        (updateAction)="updateItem($event)"
                        (deleteAction)="deleteItem($event)"></table-template-preview-component>
                </div>
            </div>
        </div>
    </div>

    <div class="p-footer">
        <div class="f-contains">
            <button [disabled]="saving" class="btn btn-info" type="submit" (click)="save()">
                <span *ngIf="saving" class="spinner-border spinner-border-sm"></span>
                Lưu thay đổi
            </button>
            <button class="btn btn-outline-danger" type="submit" (click)="cancel()">Thoát</button>
        </div>
    </div>
</div>