<div class="body-content">
  <div class="side_nav">
    <a (click)="backPage()" class="item_nav">
      <i class="fa fa-reply" aria-hidden="true"></i>
    </a>

    <a href="#/tablet" class="item_nav">
      <i class="fa fa-home" aria-hidden="true"></i>
    </a>
  </div>

  <div class="content-title text-center">
    <div class="c-title"></div>
  </div>

  <div class="container">
    <div class="col-sm-12">
      <div class="search-content">
        <div class="header-search">
          <h1 class="text-title">{{baiviet?.TieuDe}}</h1>
          <div class="info_content">
            <div class="info_bv">
              <span class="time"><i class="fa fa-clock"></i>{{baiviet?.NgayDangString}}</span>
            </div> 
            <div class="action_bv">
            </div>
          </div>
        </div>
        <div class="content_baiviet" [innerHTML]="baiviet.NoiDung">
        </div>

        <div class="info_content">
          <div class=""></div>
          <div class="action_bv">
            <!-- <button type="button" class="btn btn-secondary btn-sm"><i class="fa fa-print" aria-hidden="true"></i>
              In</button> -->

            <!-- <button type="button" class="btn btn-secondary btn-sm"><i class="fa fa-volume-up" aria-hidden="true"></i>
              Đọc</button> -->

            <!-- <button type="button" class="btn btn-primary btn-sm"><i class="fa fa-thumbs-up" aria-hidden="true"></i>
              like</button>

            <button type="button" class="btn btn-primary btn-sm"><i class="fa fa-share" aria-hidden="true"></i>
              share</button> -->
          </div>
        </div>

      </div>
    </div>

  </div>
</div>
