<p-toast></p-toast>
<div class="progress-spinner" *ngIf='isDisabled'>
    <p-progressSpinner></p-progressSpinner>
</div>
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h3 class="m-0 text-dark" *ngIf="context.isAdd" class="box-title">Thêm mới biểu mẫu</h3>
                <h3 class="m-0 text-dark" *ngIf="!context.isAdd" class="box-title">Cập nhật biểu mẫu</h3>
            </div>
        </div>
    </div>
</div>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-12">
                <div class="card">
                    <div class="card-header">

                        <form [formGroup]="formData" class="form-horizontal">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="Name" class="control-label">Thông tin:</label>
                                        <input id="codeId" type="text" class="form-control" placeholder="Nhập code"
                                            formControlName="codeId" [(ngModel)]="sendData.Code">
                                        <span class="help-block required-color" id="codeIdError">
                                        </span>

                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label for="Name">&nbsp;</label>
                                        <input id="headerId" type="text" class="form-control" placeholder="Nhập tiêu đề"
                                            formControlName="headerId" [(ngModel)]="sendData.Header">
                                        <span class="help-block required-color" id="headerIdError">
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label for="Name" class="control-label">&nbsp;</label>
                                        <input id="stepTimeId" type="number" class="form-control"
                                            placeholder="Nhập thời gian làm mới dữ liệu" formControlName="stepTimeId"
                                            [(ngModel)]="sendData.StepTime">
                                        <span class="help-block required-color" id="stepTimeIdError">
                                        </span>

                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label for="Name" class="control-label">&nbsp;</label>
                                        <p-dropdown id="frequency_type_id" [options]="frequencies" optionLabel="Name"
                                            dataKey="Id" [filter]="true" [style]="{'width':'100%'}"
                                            (onChange)="onChangeFrequency($event)" formControlName="frequency_type_id"
                                            [(ngModel)]="defaultFrequency">
                                        </p-dropdown>
                                        <span class="help-block required-color" id="frequency_type_idError">
                                        </span>

                                    </div>
                                </div>
                                <div class="col-md-8" *ngIf="!checkRoleAdminIOC">
                                    <div class="form-group">
                                        <label for="Name" class="control-label">Lĩnh vực:</label>
                                        <p-dropdown id="ParentId" id="field_id" [options]="fields" optionLabel="Name"
                                            dataKey="Id" [filter]="true" [style]="{'width':'100%'}"
                                            (onChange)="onChangeField($event)" formControlName="field_id"
                                            [(ngModel)]="defaultField">
                                        </p-dropdown>
                                        <span class="help-block required-color" id="field_idError">
                                        </span>
                                    </div>
                                </div>

                                <div class="col-md-4" *ngIf="checkRoleAdminIOC">
                                    <div class="form-group">
                                        <label for="Name" class="control-label">Đơn vị:</label>
                                        <p-dropdown id="organization_id" [options]="organizations" optionLabel="Name"
                                            dataKey="Id" [filter]="true" [style]="{'width':'100%'}"
                                            (onChange)="onChangeOrganization($event)" formControlName="organization_id"
                                            [(ngModel)]="defaultOrganization">
                                        </p-dropdown>
                                        <span class="help-block required-color" id="organization_idError">
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-4" *ngIf="checkRoleAdminIOC">
                                    <div class="form-group">
                                        <label for="Name" class=" control-label">Lĩnh vực:</label>
                                        <p-dropdown id="ParentId" id="field_id" [options]="fields" optionLabel="Name"
                                            dataKey="Id" [filter]="true" [style]="{'width':'100%'}"
                                            (onChange)="onChangeField($event)" formControlName="field_id"
                                            [(ngModel)]="defaultField">
                                        </p-dropdown>
                                        <span class="help-block required-color" id="field_idError">
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <span class="help-block required-color" style="text-align: right; padding-right: 15px;"
                            id="tieuChiError">
                        </span>
                    </div>

                    <div class="card-body p-0">
                        <table class="table">
                            <thead>
                                <th style="width:2%"></th>
                                <th style="width:5%">STT</th>
                                <th style="width:6%">No.</th>
                                <th style="width:45%">Tiêu chí</th>
                                <th style="width:15%">Đơn vị tính</th>
                                <th style="width:25%">Kiểu giá trị</th>
                                <th style="width:2%"><i (click)="addRow()" class="fa fa-2x fa-plus-circle"
                                        style="cursor: pointer; color:#3c8dbc" title="Thêm biểu mẫu"></i></th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let control of listControls; let i = index">
                                    <td *ngIf="control.delete != '-1'">
                                        <i style="cursor: pointer; color:red" class="fa fa-2x fa-minus-circle"
                                            id="{{i}}" (click)="deleteRow(control.hiddenNo, i)"
                                            title="Xoá tiêu chí"></i>
                                    </td>
                                    <td *ngIf="control.delete != '-1'">
                                        <input id="sort_{{i}}" type="text" class="form-control input-sm stt-class"
                                            (change)="changeSort($event, control.hiddenNo)" [(ngModel)]="control.sort">
                                        <span class="help-block required-color" id="sort_{{i}}Error">
                                        </span>
                                    </td>
                                    <td *ngIf="control.delete != '-1'">
                                        <input id="stt_{{i}}" type="text" class="form-control input-sm stt-class"
                                            (change)="changeStt($event, control.hiddenNo)" [(ngModel)]="control.stt">
                                        <span class="help-block required-color" id="stt_{{i}}Error">
                                        </span>
                                    </td>
                                    <td *ngIf="control.delete != '-1'">
                                        <div class="form-group">
                                            <p-autoComplete id="header_1_{{i}}" [suggestions]="properites"
                                                (completeMethod)="filterSingle1($event, control.hiddenNo)"
                                                placeholder="Nhập tên tiêu chí 1" [minLength]="1"
                                                [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}"
                                                (onBlur)="onSelectHeader1($event, control.hiddenNo)"
                                                [(ngModel)]="control.criteria1">
                                            </p-autoComplete>
                                        </div>
                                        <span class="help-block required-color" id="header_1_{{i}}Error">
                                        </span>
                                        <div class="form-group">
                                            <p-autoComplete id="header_2_{{i}}" [suggestions]="properites"
                                                (completeMethod)="filterSingle2($event, control.hiddenNo)"
                                                placeholder="Nhập tên tiêu chí 2" [minLength]="1"
                                                [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}"
                                                (onBlur)="onSelectHeader2($event, control.hiddenNo)"
                                                [(ngModel)]="control.criteria2">
                                            </p-autoComplete>
                                        </div>
                                        <span class="help-block required-color" id="header_2_{{i}}Error">
                                        </span>
                                    </td>

                                    <td *ngIf="control.delete != '-1'">
                                        <p-dropdown id="unit_{{i}}" [options]="units" optionLabel="Name" dataKey="Id"
                                            [filter]="true" [style]="{'width':'100%'}"
                                            (onChange)="onChangeUnit($event, control.hiddenNo)"
                                            [(ngModel)]="control.unitDto">
                                        </p-dropdown>
                                        <br />
                                        <br />
                                        <strong>Loại lũy kế</strong>
                                        <p-dropdown id="accumulatedType_{{i}}" [options]="accumulatedTypes"
                                            optionLabel="Name" dataKey="Id" [filter]="true" [style]="{'width':'100%'}"
                                            (onChange)="onChangeAcc($event, control.hiddenNo)"
                                            [(ngModel)]="control.accumulatedTypeDto">
                                        </p-dropdown>

                                        <br />
                                        <br />
                                        <p-checkbox id="hideApp_{{i}}" value="val1"
                                            (onChange)="onChangeHideApp($event, control.hiddenNo)"
                                            label="Ẩn trên ứng dụng" [(ngModel)]="control.hideApp" [binary]="true"
                                            [ngModelOptions]="{standalone: true}">
                                        </p-checkbox>

                                        <br />
                                        <br />
                                        <strong>Link trang chi tiết</strong>
                                        <input id="linkDetail_{{i}}" type="text" class="form-control input-sm stt-class"
                                            (change)="changeLinkDetail($event, control.hiddenNo)"
                                            [(ngModel)]="control.linkDetail">
                                    </td>

                                    <td *ngIf="control.delete != '-1'">
                                        <div class="ui-g-12">
                                            <p-radioButton name="group_{{control.hiddenNo}}" label="Tiêu đề"
                                                value="optTitle{{control.hiddenNo}}"
                                                [(ngModel)]="control.selectedNumber"
                                                inputId="optTitle{{control.hiddenNo}}"
                                                (onClick)="onTitleRadio(control.hiddenNo)">
                                            </p-radioButton>
                                        </div>
                                        <div class="ui-g-12">
                                            <p-radioButton name="group_{{control.hiddenNo}}" label="Số"
                                                value="optNumber{{control.hiddenNo}}"
                                                [(ngModel)]="control.selectedNumber"
                                                inputId="optNumber{{control.hiddenNo}}"
                                                (onClick)="onNumberRadio(control.hiddenNo)">
                                            </p-radioButton>
                                        </div>
                                        <div class="ui-g-12">
                                            <p-radioButton name="group_{{control.hiddenNo}}" label="Chữ"
                                                value="optText{{control.hiddenNo}}" [(ngModel)]="control.selectedNumber"
                                                inputId="optText{{control.hiddenNo}}"
                                                (onClick)="onTextRadio(control.hiddenNo)">
                                            </p-radioButton>
                                        </div>
                                        <div class="ui-g-12">
                                            <p-radioButton name="group_{{control.hiddenNo}}" label="Công thức"
                                                value="optRecipe{{control.hiddenNo}}"
                                                [(ngModel)]="control.selectedNumber"
                                                inputId="optRecipe{{control.hiddenNo}}"
                                                (onClick)="onRecipeRadio(control.hiddenNo)">
                                            </p-radioButton>
                                        </div>

                                        <div class="form-group class_radio_{{i}}"
                                            *ngIf="control.showRecipeInput == false || control.showRecipeInput == 'false'">
                                            <label>Công thức</label>
                                            <input type="text" data-id="radio_2" id="input_min_radio_{{i}}"
                                                class="form-control input-sm min-class" placeholder="Công thức tính"
                                                (change)="changeRecipe($event, control.hiddenNo)"
                                                [(ngModel)]="control.recipe">
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="p-footer text-right">
    <button type="button" class="btn btn-danger pull-right mr-2" (click)="cancel()">{{'Đóng'}}</button>
    <button type="button" class="btn btn-info pull-right" (click)="submit()">{{'Lưu'}}</button>
</div>
<!-- <p-confirmDialog header="Xác nhận" icon="pi pi-exclamation-triangle"></p-confirmDialog> -->