
<div class="progress-spinner" *ngIf='isDisabled'>
    <p-progressSpinner></p-progressSpinner>
</div>

<div class="row">
    <div class="col-lg-12 col-12">
        <form [formGroup]="formData">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="form-group">
                        <label for="Name" class=" control-label">Thông tin:</label>
                        <input id="codeTongHopId" [(ngModel)]="code" type="text" class="form-control"
                            placeholder="Nhập code" formControlName="Code" [readonly]="!context.isAdd">
                        <span class="help-block required-color" id="codeTongHopIdError">
                        </span>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="form-group">
                        <label for="Name" class="control-label">&nbsp;</label>
                        <input id="headerTongHopId" [(ngModel)]="header" type="text" class="form-control"
                            placeholder="Nhập tiêu đề" formControlName="Header">
                        <span class="help-block required-color" id="headerTongHopIdError">
                        </span>
                    </div>
                </div>
            </div>
        </form>
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="form-group">
                    <label for="Name" class=" control-label">Lọc biểu mẫu theo lĩnh vực:</label>
                    <p-dropdown id="ParentId" id="field_id" [options]="fields" optionLabel="Name" dataKey="Id"
                        [filter]="true" [style]="{'width':'100%'}" (onChange)="onChangeField($event)"
                        [(ngModel)]="defaultField">
                    </p-dropdown>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
              
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6">
               <div class="form-group">
                    <span class="help-block required-color" id="listDocumentError">
                    </span>
                    <p-listbox [options]="listDocument" [style]="{'width':'100%'}" [multiple]="true" [checkbox]="true"
                        [filter]="true" optionLabel="Header" dataKey="Id" (onChange)="onChangeDocument($event)"
                        [(ngModel)]="listSelectedDocument">
                    </p-listbox>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="form-group">
                    <ul class="list-group">
                        <li class="list-group-item" *ngFor="let item of listTongHopDocument; let j = index">{{j + 1}}.
                            {{item.Header}}<span class="close" (click)="removeLi($event,item.Id)">&times;</span></li>
                    </ul>
                    <p>XEM TRƯỚC</p>
                    <div>
                        <table class="table table-condensed" id="tableContent">
                            <tbody>
                                <tr>
                                    <th style="width: 5%">#</th>
                                    <th style="width: 30%">Tên chỉ số</th>
                                    <!-- <th style="width: 10%">Đơn vị</th> -->
                                    <th *ngFor="let col of listCol">{{col}}</th>
                                </tr>
                                <tr *ngFor="let mValue of values; let j = index">
                                    <td *ngIf="mValue.DataType == 3">
                                        <strong>{{mValue.CodeId}}</strong>
                                    </td>
                                    <td *ngIf="mValue.DataType != 3">
                                        <i>&nbsp;&nbsp;{{mValue.CodeId}}</i>
                                    </td>
        
                                    <td *ngIf="mValue.DataType == 3">
                                        <strong>{{mValue.PropertyName}}</strong>
                                        <!-- <button class="btn btn-link" style="float: right;"
                                                (click)="iocInputList(mValue.PropertyId,mValue.PropertyName,mValue.Property2Id,mValue.Property2Name,mValue.DataType,mValue.UnitId)">
                                                <i class="fa fa-plus-square-o fa-2x"></i></button> -->
        
        
                                        <abbr (mouseover)='over(mValue)' style="float: right;" class="btn btn-link"
                                            title="This text will show up in your tooltip 1!"
                                            (click)="iocInputList(mValue.PropertyId,mValue.PropertyName,mValue.Property2Id,mValue.Property2Name,mValue.DataType,mValue.UnitId)"><i
                                                class="fa fa-plus-square-o fa-2x"></i></abbr>
                                    </td>
                                    <td *ngIf="mValue.DataType == 2">
                                        <i><strong>{{mValue.PropertyName}} ({{mValue.SValue}})</strong></i>
        
                                    </td>
                                    <td *ngIf="mValue.DataType != 3 && mValue.DataType != 2">
                                        <i>&nbsp;&nbsp;<strong>{{mValue.PropertyName}}</strong></i>
                                        <!-- <button class="btn btn-link" style="float: right;"
                                                (click)="iocInputList(mValue.PropertyId,mValue.PropertyName,mValue.Property2Id,mValue.Property2Name,mValue.DataType,mValue.UnitId)">
                                                <i class="fa fa-plus-square-o fa-2x"></i></button> -->
        
        
                                        <!-- <abbr data-tooltip title="Cascading Style Sheets">CSS</abbr> -->
                                    </td>
                                    <!-- <td>{{mValue.UnitName[0]}}</td> -->
        
                                    <td *ngFor="let col1 of listCol; let i = index">
                                        <ng-container *ngIf="mValue.DataType[i] == '0'">
                                            <div>
                                                <div class="col-sm-12">
                                                    <div class="input-group" id="{{mValue.ValueId[i]}}">
                                                        <span class="input-group-btn">
                                                            <button type="button" style="pointer-events: none"
                                                                class="btn btn-default btn-flat form-control"
                                                                readonly="">{{mValue.CodeId[i]}}</button>
                                                        </span>
                                                        <input type="number" class="form-control" value="{{mValue.NValue[i]}}"
                                                            placeholder="({{mValue.CodeId[i]}})" id="numberInput">
                                                        <span class="input-group-btn">
                                                            <button type="button" style="pointer-events: none"
                                                                class="btn btn-default btn-flat form-control"
                                                                readonly="">{{mValue.UnitName[i]}}</button>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </ng-container>
        
                                        <ng-container *ngIf="mValue.DataType[i] == 1">
                                            <div>
                                                <div class="col-sm-12">
                                                    <div class="input-group" id="{{mValue.ValueId[i]}}">
                                                        <span class="input-group-btn">
                                                            <button type="button" style="pointer-events: none"
                                                                class="btn btn-default btn-flat form-control"
                                                                readonly="">{{mValue.CodeId[i]}}</button>
                                                        </span>
                                                        <input type="text" class="form-control" value="{{mValue.SValue[i]}}"
                                                            placeholder="Nhập giá trị (chữ)" id="textInput">
                                                        <span class="input-group-btn">
                                                            <button type="button" style="pointer-events: none"
                                                                class="btn btn-default btn-flat form-control"
                                                                readonly="">{{mValue.UnitName[i]}}</button>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </ng-container>
        
                                        <ng-container *ngIf="mValue.DataType[i] == 2">
                                            <div class="col-sm-12">
                                                <div style="text-align: center;">
                                                    <label>{{mValue.NValue[i]}} ({{mValue.SValue[i]}})</label>
                                                </div>
                                            </div>
                                        </ng-container>
        
                                        <ng-container *ngIf="mValue.DataType[i] == 3">
                                        </ng-container>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 allow-overflow" style="margin-top: 9px;">
      
        </div>
    </div>
</div>
<div class="p-footer text-right">
    <button type="button" class="btn btn-danger pull-right mr-2" (click)="cancel()">{{'Đóng'}}</button>
    <button type="button" class="btn btn-info pull-right" (click)="submit()">{{'Lưu'}}</button>
</div>