.box-news-haft {
    position: relative;
    padding: 14px 15px;
    border: 1px solid #ddd;
    border-top: 0;
    background: #fff;
    min-height: 301px;
    display: block;
    width: auto;
}
.box-news-haft .item_box_img {
    width: 100%!important;
    position: relative;
}
.box-news-haft .item_box_img .title_box {
    width: calc(100% - 110px);
    float: right;
    position: relative;
}
.box-news-haft .item_box_img a img {
    width: 100px;
    height: 67px;
}
.box-news-haft .item_box_img .title_box a {
    color: #000;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: 22px;
    font-size: 14.4px;
    font-weight: 600!important;
}
.box-news-haft .item_box_text {
    width: 100%!important;
}
.box-news-haft .item_box_text ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.box-news-haft .item_box_text ul li {
    padding: 6.6px 0;
    border-bottom: 1px dotted #dfdfdf;
}
.box-news-haft .item_box_text ul li:last-child {
    border-bottom: 0
}
.box-news-haft .item_box_text ul li a {
	padding-left: 15px;
    color: #000;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: 20px;
    max-height: 42px;
    transition: .2s;
    position: relative;
    font-size: 14.4px;
}
.box-news-haft .item_box_text ul li a:before {
    content: "\f111";
    position: absolute;
    top: 0;
    left: 0;
    font-family: FontAwesome;
    font-size: 8px;
    color: #DA3B01;
}
.heading-direct .btn-question {
    width: initial!important;
    padding: 0px 10px;
}
#slide_news, #lstLinkBotton {
    margin: 0;
    /*margin-top: 10px;*/
    display: inline-block;
}
#slide_news {
    margin-top: 0px;
}
#slide_news .sp-right-thumbnails {
    
}
#lstLinkBotton ul.list {
    padding: 0;
    margin: 0;
}
#lstLinkBotton ul.list li {
    margin-bottom: 10px;
}
#lstLinkBotton ul.list li a {
    display: inline-block;
    width: 100%;
    background: #014C8F;
    color: #fff;
    text-transform: uppercase;
}
#lstLinkBotton ul.list li a .boldbor {
    background: #0B3356;
    display: inline-block;
    padding: 10px;
}
#lstLinkBotton ul.list li a .boldtext {
    margin-left: 10px
}
#lstLinkBotton ul.list li a .boldbor img {
    width: 25px;
}
#lstLinkBotton ul.list li a.one {
    background: #014C8F;
}
#lstLinkBotton ul.list li a.one .boldbor {
    background: #0B3356;
}
#lstLinkBotton ul.list li a.two {
    background: #15BA7E;
}
#lstLinkBotton ul.list li a.two .boldbor {
    background: #0B6745
}
#lstLinkBotton ul.list li a.three {
    background: #EC9627;
}
#lstLinkBotton ul.list li a.three .boldbor {
    background: #784B11
}
#lstLinkBotton ul.list li a.tour {
    background: #B579E4;
}
#lstLinkBotton ul.list li a.tour .boldbor {
    background: #58287D
}
#lstLinkBotton ul.list li a.five {
    background: #B53630;
}
#lstLinkBotton ul.list li a.five .boldbor {
    background: #752622
}
#lstLinkBotton ul.list li a.six {
    background: #A65C04;
}
#lstLinkBotton ul.list li a.six .boldbor {
    background: #6D400A
}
#lstLinkBotton ul.list li a.seven {
    background: #38AFB0;
}
#lstLinkBotton ul.list li a.seven .boldbor {
    background: #197576
}
#lstLinkBotton ul.list li a.eight {
    background: #D96131;
}
#lstLinkBotton ul.list li a.eight .boldbor {
    background: #913F1E
}
#lstLinkBotton ul.list li a.nine {
    background: #0f6c9c;
}
#lstLinkBotton ul.list li a.nine .boldbor {
    background: #03437d;
}
#slide_news .sp-caption-container {
    background: #fff;
    font-size: 15px;
    position: absolute;
    bottom: 0px;
    padding: 5px;
    opacity: 0.7 !important;
    color: #000;
}

#menu_ver .menu-cs {
  background: #014D8F;
}
#menu_ver .mainmenu li a:before {
  content: '';
}
#menu_ver .mainmenu li:hover .sub-menu {
  display: block;
  max-height: 200px;
}
#menu_ver .mainmenu li:hover {
  background-color: #014D8F;
}
#menu_ver .mainmenu li:hover a {
    color: #fff
}
#menu_ver .mainmenu li a .caret {
    position: absolute;
    right: 0;
    top: 50%;
}
#menu_ver .sub-menu li {
    background-color: #AACCDD
}
#menu_ver .sub-menu li:hover {
    background-color: #AACCDD
}
#menu_ver .sub-menu li a {
  color: #000!important
}
#menu_ver .sub-menu li a:hover {
    color: #DA3B01!important
}
#menu_ver .sub-menu {
  overflow: hidden;
  max-height: 0;
  -webkit-transition: all 0.5s ease-out;
}
#menu_ver .block-notifi-sidebar {
    background-color: #E1EDF3
}
/*van ban*/
.block-notifi-sidebar.document ul li a {
    max-height: initial;
}
.block-notifi-sidebar.document ul li a::before {
    content: ''
}
.block-notifi-sidebar.document ul li a i {
    display: block;
    font-weight: normal;
}
/*end*/
/*slide*/
#slide_news .slide-home-cls {
    background: #fff;
    font-size: 15px;
    position: absolute;
    bottom: 0px;
    padding: 5px;
    opacity: 0.7 !important;
    color: #000;
}
/*end*/
.cls-content-item, .cls-header-item{
    display: inline-block;
    width: 100%;
    margin-top: 10px;
    text-align: justify;
}
.cls-header-item{
    font-weight: bold;
    text-align: justify;
}
.cls-tom-tat-item {
    font-size: 13px;
    font-style: italic;
}
#contact_html {
    text-align: center;
    color: #DA3B01;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 10px;
}
#captcha-area_err{
    color: #DA3B01;
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 0;
    font-style: italic;
}
@media screen and (max-width: 767px) {
    #slide_news .sp-caption-container {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .mm-listview .mm-next {
        right: 54%;
    }
}