.HotnewsControl {
    position: relative;
}
.HotnewsControl .scrollup {
    background: url("../Images/up.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    height: 24px;
    position: absolute;
    right: 0px;
    top: 43px;
    width: 24px;
    z-index: 500;
    cursor: pointer;
}
.HotnewsControl .scrolldown {
    background: url("../Images/down.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    bottom: 21px;
    height: 24px;
    position: absolute;
    right: 0px;
    width: 24px;
    z-index: 500;
    cursor: pointer;
}