

.slogan_img {
    margin-top: 10px;
}

header .top-header {
    display: none
}

@media (max-width: 1199px) {
    header .top-header {
        display: -webkit-flex
    }

    #slider_banner {
        display: none;
    }
    header {
        background: rgba(0, 0, 0, 0) url(../Images/top.png) repeat-x scroll left top;
    }
}

