<div class="body-content">

  <div class="side_nav">
    <a (click)="backPage()" class="item_nav">
      <i class="fa fa-reply" aria-hidden="true"></i>
    </a>

    <a href="#/tablet" class="item_nav">
      <i class="fa fa-home" aria-hidden="true"></i>
    </a>
  </div>

  <div class="container">

    <div class="content-title text-center">
      <div class="c-title">{{subtitle}}</div>
    </div>

    <div class="search-content">

      <!-- <div class="header-search">
        <h1 class="text-title">Tin tức cảnh báo vệ sinh an toàn thực phẩm</h1>
        <button (click)="guiCanhBao()" class="btn btn-warning-1"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Gửi cảnh
          báo</button>
      </div> -->
      <div class="list-news-cate">

        <div class="box-news-cate">
          <a class="img" href="#/tablet/chitiet-baiviet" title=""><img src="assets/template/images/nn7.jpg" alt=""></a>
          <div class="title">
            <h3><a href="#/tablet/chitiet-baiviet" title="">Mời tham gia gian hàng Hội chợ MITT Nga 2018</a></h3>
            <span class="time-primary"><i class="fa fa-clock-o"></i>26/10/2016</span>
            <span class="desc-primary">Triển khai Chương trình Xúc tiến du lịch quốc gia năm 2017, Tổng cục Du lịch phối
              hợp với Vietnam Airlines tổ chức tham gia Hội chợ MITT tại Thủ đô Mát - xcơ - ... <a href="" title="">Xem
                thêm <i class="fa fa-angle-right"></i></a></span>

          </div>
        </div>

        <div class="box-news-cate">
          <a class="img" title=""><img src="assets/template/images/nn6.jpg" alt=""></a>
          <div class="title">
            <h3><a title="">Hà Nội trở thành trung tâm du lịch then chốt của khu vực Đông Nam
                Á</a></h3>
            <span class="time-primary"><i class="fa fa-clock-o"></i>26/10/2016</span>
            <span class="desc-primary">Theo khảo sát của Mastercard vừa được công bố, Hà Nội và Jakarta là hai thành phố
              ở Đông Nam Á thuộc Top 10 thành phố tăng trưởng du lịch nhanh nhất thế giới ... <a href="" title="">Xem
                thêm <i class="fa fa-angle-right"></i></a></span>

          </div>
        </div>

        <div class="box-news-cate">
          <a class="img" title=""><img src="assets/template/images/nn3.jpg" alt=""></a>
          <div class="title">
            <h3><a title="">Hà Nội trở thành trung tâm du lịch then chốt của khu vực Đông Nam
                Á</a></h3>
            <span class="time-primary"><i class="fa fa-clock-o"></i>26/10/2016</span>
            <span class="desc-primary">Theo khảo sát của Mastercard vừa được công bố, Hà Nội và Jakarta là hai thành phố
              ở Đông Nam Á thuộc Top 10 thành phố tăng trưởng du lịch nhanh nhất thế giới ... <a href="" title="">Xem
                thêm <i class="fa fa-angle-right"></i></a></span>

          </div>
        </div>

        <div class="box-news-cate">
          <a class="img" title=""><img src="assets/template/images/nn4.jpg" alt=""></a>
          <div class="title">
            <h3><a title="">Hà Nội trở thành trung tâm du lịch then chốt của khu vực Đông Nam
                Á</a></h3>
            <span class="time-primary"><i class="fa fa-clock-o"></i>26/10/2016</span>
            <span class="desc-primary">Theo khảo sát của Mastercard vừa được công bố, Hà Nội và Jakarta là hai thành phố
              ở Đông Nam Á thuộc Top 10 thành phố tăng trưởng du lịch nhanh nhất thế giới ... <a href="" title="">Xem
                thêm <i class="fa fa-angle-right"></i></a></span>

          </div>
        </div>

      </div>

      <div class="pagination-primary">
        <ul class="pagination">
          <li><a><i class="fa fa-caret-left"></i></a></li>
          <li><a class="active">1</a></li>
          <li><a>2</a></li>
          <li><a>3</a></li>
          <li><a>4</a></li>
          <li><a><i class="fa fa-caret-right"></i></a></li>
        </ul>
      </div>
    </div>

  </div>
</div>
