<!-- <p-toast [style]="{marginTop: '80px'}"></p-toast> -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Quản lý lịch sử thao tác</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Chức vụ</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Danh sách lịch sử thay đổi nội dung</h3>
                    </div>
                    <div class="card-body p-0">
                        <div class="row mb-3">
                            <div class="col-md-2 col-2-em">
                                <div class="form-group">
                                    <label>Từ ngày</label>
                                    <p-datepicker [(ngModel)]="fromDate" [maxDate]="toDate" dateFormat="dd/mm/yy"></p-datepicker>
                                </div>
                            </div>
                            <div class="col-md-2 col-2-em">
                                <div class="form-group">
                                    <label>Đến ngày</label>
                                    <p-datepicker [(ngModel)]="toDate" [minDate]="fromDate" dateFormat="dd/mm/yy"></p-datepicker>
                                </div>
                            </div>
                            <div class="col-md-2 col-2-em">
                                <div class="form-group">
                                    <label>Hành động</label>
                                    <p-select [options]="actions" [(ngModel)]="action" optionLabel="Name" optionValue="Id" [filter]="true" filterBy="Name" placeholder="Chọn loại danh sách" appendTo="body">
                                    </p-select>
                                </div>
                            </div>
                            <div class="col-md-2 col-2-em">
                                <label></label>
                                <button class="btn btn-block btn-success" (click)="search()">Search</button>
                            </div>
                        </div>

                        <p-table [value]="items" [lazy]="true" (onLazyLoad)="paginate($event)" [paginator]="true" [rows]="10" [totalRecords]="totalRow" [loading]="loading">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th>Ngày</th>
                                    <th>Người thao tác</th>
                                    <th>Hành động</th>
                                    <th>Mô tả</th>
                                    <th>Ip</th>
                                    <th style="width: 10rem">Thao tác</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-position>
                                <tr>
                                    <td>
                                        {{position.CreateDateString}}
                                    </td>
                                    <td>
                                        {{position.UserName}}
                                    </td>
                                    <td>
                                        {{position.ActionName}}
                                    </td>
                                    <td>
                                        {{position.Note.Description}}
                                    </td>
                                    <td>
                                        {{position.CurrentIp}}
                                    </td>
                                    <td>
                                        <button (click)="view(position)" class="btn btn-info">
                                            Xem chi tiết
                                        </button>
                                    </td>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="emptymessage">
                                <tr>
                                    <td colspan="6">No items found.</td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<p-confirmDialog header="Xác nhận" icon="pi pi-exclamation-triangle"></p-confirmDialog>