<form class="row" [formGroup]="searchForm" (ngSubmit)="onFormSubmit()">
    <div class="form-group col-12 col-md-2">
        <label>Từ khóa</label>
        <div class="input-group input-group-merge">
            <input type="text" [placeholder]="searchPlaceholder" class="form-control" formControlName="keyword" />
            <div class="input-group-append">
                <div class="input-group-text">
                    <i class="fa fa-search"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group col-6 col-md-2 d-none">
        <label>Thành phố / Huyện</label>
        <city-selector [selectFirstAsDefault]="true" formControlName="city"></city-selector>
    </div>
    <div class="form-group col-6 col-md-2">
        <label>Phường / Xã</label>
        <ward-selector [selectFirstAsDefault]="true" formControlName="ward" [parentId]="searchForm?.value?.city"></ward-selector>
    </div>
    <div class="form-group col-6 col-md-2">
        <label>Tên đường</label>
        <street-selector formControlName="streetAddr" [parentId]="searchForm?.value?.ward"></street-selector>
    </div>
    <div *ngIf="showBusinessType" class="form-group col-6 col-md-2">
        <label>Lĩnh vực</label>
        <business-type-selector formControlName="businessType"></business-type-selector>
    </div>
    <div *ngIf="showConstructionStatus" class="form-group col-6 col-md-2">
        <label>Tình trạng xây</label>
        <p-select [options]="constructionStatuses" styleClass="w-100" formControlName="constructionStatus" optionValue="Id" optionLabel="Name" placeholder="Xây dựng" emptyMessage="Không có dữ liệu" emptyFilterMessage="Không có dữ liệu"></p-select>
    </div>
    <div *ngIf="showFeeStatus" class="form-group col-6 col-md-2">
        <label>Tình trạng nộp thuế</label>
        <p-select [options]="feeStatuses" styleClass="w-100" formControlName="feeStatus" optionValue="value" optionLabel="label" placeholder="Nộp thuế" emptyMessage="Không có dữ liệu" emptyFilterMessage="Không có dữ liệu"></p-select>
    </div>
    <div [ngClass]="showConstructionStatus ? 'col-md-2' : 'col-md-4'" class="form-group text-right col-12 d-flex align-items-end">
        <!-- <button type="button" (click)="reset()" class="btn btn-secondary mr-1">
      Đặt lại
    </button> -->
        <button type="submit" class="btn btn-primary">Tìm kiếm</button>
    </div>
</form>