/*@font-face {
    font-family: "UVNDzungDakao";
    src: url("../fonts/uvn-dzung-dakao/UVNDzungDakao.ttf");
}*/
.custom-title .heading-direct {
    border-radius: 15px;
    background: -webkit-gradient(linear, left top, right top, from(#22B4E2), to(#96DBF1));
    background: linear-gradient(to right, #22B4E2 0%, #96DBF1 100%);
}
section.news-home .slide-news-home .owl-nav .owl-prev,
section.news-home .slide-news-home .owl-nav .owl-next {
    border: 0
}
nav.menu ul > li a {
    /*    font: 15px/37px UVNDzungDakao;*/
}
.box-img a img {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px
}

.box-news-home_left {
    height: inherit!important;
}

.box-news-haft .item_box_img .title_box {
    width: calc(100% - 145px) !important;
    float: right !important;
    position: relative !important;
}

.box-news-haft .item_box_img a img {
    width: 135px !important;
    height: 105px !important;
    border-radius: 15px !important;
}

.wrap {
    background: url('../Images/mmbg.png');
    background-attachment: fixed;
    background-size: contain;
}
header {
    border-top: none!important;
    background-color: transparent;
}
nav.menu ul > li.active a {
    background: rgba(183,222,237,1); background: -moz-linear-gradient(top, rgba(183,222,237,1) 0%, rgba(113,206,239,1) 50%, rgba(33,180,226,1) 51%, rgba(54,186,228,1) 100%); background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(183,222,237,1)), color-stop(50%, rgba(113,206,239,1)), color-stop(51%, rgba(33,180,226,1)), color-stop(100%, rgba(54,186,228,1))); background: -webkit-linear-gradient(top, rgba(183,222,237,1) 0%, rgba(113,206,239,1) 50%, rgba(33,180,226,1) 51%, rgba(54,186,228,1) 100%); background: -o-linear-gradient(top, rgba(183,222,237,1) 0%, rgba(113,206,239,1) 50%, rgba(33,180,226,1) 51%, rgba(54,186,228,1) 100%); background: -ms-linear-gradient(top, rgba(183,222,237,1) 0%, rgba(113,206,239,1) 50%, rgba(33,180,226,1) 51%, rgba(54,186,228,1) 100%); background: linear-gradient(to bottom, rgba(183,222,237,1) 0%, rgba(113,206,239,1) 50%, rgba(33,180,226,1) 51%, rgba(54,186,228,1) 100%);
}
nav.menu ul > li.active a:before {
    height: 0
}

nav.menu ul > li.active a, nav.menu ul > li:hover a {
    background-color: none;
}
nav.menu ul li:first-child a {
    border-radius: 30px!important;
}
nav.menu ul li:hover a:before {
    background-color: #F4F4F2
}
footer {
    background: #fff;
    margin-bottom: 0;
    background: rgba(0, 0, 0, 0) url('../Images/footermn.png') repeat-x scroll left bottom;
    margin: 0 auto;
    width: 100%;
}
footer .top-footer {
    border-top: 0;
    border-bottom: 8px solid #EF1B54
}
footer * {
    font-weight: bold;
}
header nav.menu {
    
    border-radius: 30px!important;
    background: rgba(183,222,237,1); background: -moz-linear-gradient(top, rgba(183,222,237,1) 0%, rgba(113,206,239,1) 50%, rgba(33,180,226,1) 51%, rgba(54,186,228,1) 100%); background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(183,222,237,1)), color-stop(50%, rgba(113,206,239,1)), color-stop(51%, rgba(33,180,226,1)), color-stop(100%, rgba(54,186,228,1))); background: -webkit-linear-gradient(top, rgba(183,222,237,1) 0%, rgba(113,206,239,1) 50%, rgba(33,180,226,1) 51%, rgba(54,186,228,1) 100%); background: -o-linear-gradient(top, rgba(183,222,237,1) 0%, rgba(113,206,239,1) 50%, rgba(33,180,226,1) 51%, rgba(54,186,228,1) 100%); background: -ms-linear-gradient(top, rgba(183,222,237,1) 0%, rgba(113,206,239,1) 50%, rgba(33,180,226,1) 51%, rgba(54,186,228,1) 100%); background: linear-gradient(to bottom, rgba(183,222,237,1) 0%, rgba(113,206,239,1) 50%, rgba(33,180,226,1) 51%, rgba(54,186,228,1) 100%);
}

#slider_banner {
    margin-bottom: 10px;
}
nav.menu ul > li.active:nth-child(1) a i {
    color: #fff;
}

header .top-header .pgd-mobile {
    position: absolute;
    right: 10px;
}
header .top-header .pgd-mobile > * {
    background: #A470DF
}
header .top-header {
    padding: 0px;
}
.showitem_tab ul li.active .tab_one {
    background: #1B5EC1;
}
.nav-pills>li.active>a {
    background-color: #1B5EC1;
}
.nav-pills>li.active>a:focus {
    background-color: #1B5EC1;
}
.warper-page {
  padding: 10px;
  background: #fff;
  display: inline-block;
  width: 100%;
/*  margin-top: 10px;*/
  border-radius: 30px;
  border: 1px solid #ddd;
}

.warper-page .custom_th {
    overflow: hidden;
    border-top:1px solid #dfdfdf;
    border-radius: 25px;
    padding-top: 5px;
}
.warper-page .custom_th .title {
    padding-bottom: 5px;
}

/*head menu*/
.th_nav_color_1 {
  background: #bc95e8 linear-gradient(-179deg, #bc95e8 0%, #d1aafd 100%) repeat scroll 0 0;
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.08), 0 -1px 0 1px #693a9d inset, 0 -1px 0 2px rgba(255, 255, 255, 0.13) inset, 0 -3px 14px 6px #965cd8 inset, 0 -1px 0 17px #ac7ce4 inset, 0 -1px 0 18px #a26ce3 inset, 0 18px 0 0 #c9aaec inset;
}
.th_nav_color_3 {
  background: #09f3cb linear-gradient(-179deg, #00dcb7 0%, #00c3a1 100%) repeat scroll 0 0;
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.08), 0 -1px 0 1px #0b8e78 inset, 0 -1px 0 2px rgba(255, 255, 255, 0.13) inset, 0 -3px 14px 6px #00B294 inset, 0 -1px 0 17px #04dcb8 inset, 0 -1px 0 18px #13af95 inset, 0 18px 0 0 #03927a inset;
}
.th_nav_color_4 {
  background: #f5fafb none repeat scroll 0 0;
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.08), 0 1px 0 1px #b8cacf, 0 -1px 0 1px #e1eef2 inset, 0 0 14px 3px #c8e0e7 inset, 0 -1px 0 17px #e7f1f4 inset, 0 -1px 0 18px #ffffff inset;
}
.mm_bg_style {
   margin: 10px 0;
  overflow: hidden;
  padding: 20px;
  text-align: justify;
  border-radius: 15px;
}
.th_nav_color_2 {
    background: #ffffff none repeat scroll 0 0;
    border-radius: 15px;
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.08), 0 -1px 0 1px rgba(161, 121, 18, 0.48) inset, 0 -1px 0 1px #f0f0f0 inset, 0 -3px 19px 6px #f9e2b0 inset, 0 0 0 17px #feeec3 inset, 0 -1px 0 18px #fadea4 inset, 0 18px 0 0 #ffffff inset;
    padding: 25px;
    position: relative;
    z-index: 10;
    margin: 10px 0;
}
.th_nav_color_1 .block-notifi-sidebar.item,
.th_nav_color_2 .block-notifi-sidebar.item, 
.th_nav_color_3 .block-notifi-sidebar.item,
.th_nav_color_4 .block-notifi-sidebar.item {
  background-color: transparent;
  border: 0;
}
.th_nav_color_1 .block-notifi-sidebar ul li,
.th_nav_color_3 .block-notifi-sidebar ul li,
.th_nav_color_4 .block-notifi-sidebar ul li {
  border-bottom: 1px dotted #fff
}
.th_nav_color_1 .block-notifi-sidebar ul li:hover a,
.th_nav_color_3 .block-notifi-sidebar ul li:hover a {
    color: #F4D62F
}
.th_nav_color_4 .block-notifi-sidebar ul li:hover a {
    color: #bd251e
}
.th_nav_color_1 .block-notifi-sidebar ul li:last-child,
.th_nav_color_3 .block-notifi-sidebar ul li:last-child,
.th_nav_color_4 .block-notifi-sidebar ul li:last-child {
  border-bottom: 0;
}
.th_nav_color_1 *, .th_nav_color_1 ul li a,
.th_nav_color_3 *, .th_nav_color_3 ul li a {
  color: #fff
}
.th_nav_color_4 *, .th_nav_color_4 ul li a {
    color: #000
}
.th_nav_color_4 .mm_title {
    color: #bd251e
}
.mm_title {
  color: #ffffff;
  /*font: 22px/32px UVNDzungDakao;*/
  font-size: 16px;
  padding-left: 15px;
  text-shadow: 1px 1px #222;
  margin-bottom: 0
}
.th_nav_color_2 .mm_title {
    color: #bd251e
}
.th_nav_color_2 .item {
    border: 0
}
/*end*/
#slide_news .sp-caption-container {
    background: #fff;
    font-size: 15px;
    position: absolute;
    bottom: 0px;
    padding: 5px;
    opacity: 0.7 !important;
    color: #000;
}

/*menu component*/
.th_top_menu {
  border: 0;

}
.th_top_menu .wap_th_menu {
  display: inline-block;
  width: 100%;
}
.wap_th_menu .box-news-haft {
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    min-height: 350px;
    /*    background: url(../Images/chi-mau.png) #fff;
    background-position: bottom;
    background-repeat: repeat-x;
    background-size: 31px;*/
}
.th_top_menu .th_top_menu_rhead {
    position: relative;
    height: 52px;
    box-shadow: 0px 0px 5px 0 rgba(0, 0, 0, 0.3);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.th_top_menu .th_top_menu_rhead.color-mm-1 {
    background: #85D73F;
}
.th_top_menu .th_top_menu_rhead.color-mm-2 {
    background: #FFBA00;
}
.th_top_menu .th_top_menu_rhead.color-mm-3 {
    background: #D73787;
}
.th_top_menu .th_top_menu_rhead.color-mm-4 {
    background: #bb2828;
}
.th_top_menu .th_top_menu_rhead .two, .th_top_menu .th_top_menu_rhead .one {
    height: 65px;
    right: 20px;
    position: absolute;
    top: -11px;
    width: 50px;
  z-index: 2;
}
.th_top_menu .th_top_menu_rhead .one {
  left: 20px;
}

.th_top_menu .th_top_menu_rhead .one.left-sidebar {
    height: inherit;
    width: 30px;
    top: -8px;
    position: absolute;
    left: 5px;
}

.th_top_menu .th_top_menu_rhead .one.top-one {
    width: 45px;
    height: inherit;
    left: 12px;
}

.mgcustom {
    background: url(../Images/chi-mau.png) #fff;
    background-position: bottom;
    background-repeat: repeat-x;
    padding-bottom: 27px !important;
    background-size: 31px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    /*border: 1px dashed #dfdfdf*/
}

nav.menu ul > li a i {
    margin-left: 0;
    position: relative;
    top: -2px;
}

.box-news-haft.cborder-color-mm-1 {
    border: 1px dashed #85D73F;
    border-top: 0;
}

.box-news-haft.cborder-color-mm-2 {
    border: 1px dashed #FFBA00;
    border-top: 0;
}

.box-news-haft.cborder-color-mm-3 {
    border: 1px dashed #D73787;
    border-top: 0;
}
.list_item_news .ui-tabs-active {
    background: #f14d9f26!important;
}
.list_item_news .ui-tabs-active::before {
    border-right: 8px solid #f14d9f4d !important;
}
.th_top_menu .box-news-home {
    border: 0;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.3);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.th_top_menu .th_top_menu_rhead span.border-color-mm-1 {
    border: 1px dashed #a3f65b;
}
.th_top_menu .th_top_menu_rhead span.border-color-mm-2 {
    border: 1px dashed #ffe08d;
}
.th_top_menu .th_top_menu_rhead span.border-color-mm-3 {
    border: 1px dashed #eda5c9;
}
.th_top_menu .th_top_menu_rhead span.border-color-mm-4 {
    border: 1px dashed #dd9494;
}
    .th_top_menu .th_top_menu_rhead span {
        color: #fff;
        /*font: 22px/18px UVNDzungDakao;*/
        font-size: 16px;
        text-transform:uppercase;
        font-weight: bold;
        position: relative;
        top: 8px;
        text-align: center;
        left: 10px;
        display: inline-block;
        padding: 8px 0px;
        border-bottom: 0 !important;
        width: calc(100% - 20px);
        border-top-left-radius: 15px;
        -moz-border-radius-topleft: 15px;
        -webkit-border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        -moz-border-radius-topright: 15px;
        -webkit-border-top-right-radius: 15px;
    }

.th_top_menu .th_top_menu_rhead ul {
    margin: 0;
    padding: 0;
}

.th_top_menu .th_top_menu_rhead ul .one {
    width: 33px;
    height: inherit;
    top: 13px;
    left: 15px;
}
    .th_top_menu .th_top_menu_rhead ul span.span {
        padding-left: 60px;
        text-align: left
    }

.th_top_menu .th_top_menu_rhead ul i.icon {
    position: absolute;
    left: 52px;
    top: 40%;
    color: #fff;
}

.th_top_menu .th_top_menu_rhead a {
    display: inline-block;
    width: 100%;
}
.th_top_menu .wap_th_menu .slide-travel-home {
    padding: 11px;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.3);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.th_top_menu .wap_th_menu .butDatCauHoi {
    display: block;
    width: initial;
    background: #BB2828;
    color: #fff;
    position: absolute;
    right: 12px;
    top: 18%;
    border-radius: 13px;
    padding: 8px;
    font-weight: 600;
}
/*end*/

footer .bottom-footer .info img {
    border-radius: 10px;
}
footer .bottom-footer {
    border-radius: 30px;
    border-radius: 30px;
    margin-bottom: 150px;
}
@media (max-width: 768px) {
    header {
        background: #fff
    }
    .theme-header {
        padding: 0 17px;
        margin-top: 10px
       /* background: #fff*/
    }
    .item-top {
        padding-right: 0;
        padding-bottom: 10px;
        padding-left: 0;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
@media (max-width: 1199px) {
    .top-header {
        padding: 0px;
    }
}
