<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Quản lý menu</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Menus</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-12">
                <div class="card card-primary card-outline">
                    <div class="card-header">
                        <h3 class="card-title">Danh sách menu</h3>
                        <button *ngIf="checkPermission('Add')" (click)="add()" type="button" class="btn btn-info btn-xs float-right"><i class="fas fa-plus"></i> Thêm mới</button>
                        <button *ngIf="checkPermission('View')" (click)="loadData()" type="button" class="btn btn-warning btn-xs float-right mr-2"><i class="fas fa-sync"></i> Reload</button>
                    </div>
                    <div class="card-body p-0">
                        <p-treeTable [value]="treeNodes">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th width="25%">Tiêu đề</th>
                                    <th width="10%">Action</th>
                                    <th width="20%">Parameter</th>
                                    <th width="10%">Icon</th>
                                    <th width="10%">Code (Role Level)</th>
                                    <th width="10%">Thao tác</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
                                <tr>
                                    <td>
                                        <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
                                        {{rowData.OrderNo}}. {{ rowData.Title }}
                                    </td>
                                    <td>{{ rowData.Action }}</td>
                                    <td>{{ rowData.Parameter }}</td>
                                    <td>
                                        <i class="{{ rowData.Icon }}"></i> {{rowData.Icon}}
                                    </td>
                                    <td>{{ rowData.Code }} ({{ rowData.RoleLevel }})</td>
                                    <td>
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-info" *ngIf="checkPermission('Edit')" (click)="edit(rowData)">Cập nhật</button>
                                            <button type="button" class="btn btn-warning dropdown-toggle dropdown-icon" data-toggle="dropdown">
                                                <span class="sr-only"></span>
                                                </button>
                                            <div class="dropdown-menu" role="menu">
                                                <a *ngIf="checkPermission('Edit')" class="dropdown-item" (click)="edit(rowData)">Cập nhật</a>
                                                <a *ngIf="checkPermission('Edit')" class="dropdown-item" (click)="functionMenu(rowData)">Function</a>
                                                <a *ngIf="checkPermission('Delete')" class="dropdown-item" (click)="delete(rowData)">Xoá</a>
                                                <div class="dropdown-divider"></div>
                                                <a *ngIf="checkPermission('View')" class="dropdown-item" (click)="history(rowData)">Lịch sử thay đổi</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </ng-template>
                        </p-treeTable>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<p-confirmDialog header="Xác nhận" icon="pi pi-exclamation-triangle"></p-confirmDialog>
<p-toast></p-toast>