<header>
    <div class="top-bar">
        <div class="container">
            <div class="row">
                <div class="col-2 col-sm-2">
                    <div class="top-bar-left">

                        <div class="top-header">

                            <!-- <a (click)="openMenu()" class="icon-reponsive pgd-mobile">
                                <span></span>
                                <span></span>
                                <span></span>
                            </a> -->

                            
                        </div>


                    </div>
                </div>
                <div class="col-10 col-sm-10">
                    <div class="top-bar-right">
                        <ul class="socials">
                            <li style="padding: 0; margin: 0;">
                                <img width="35px" style="border-radius: 50%;background-color: #fff;"
                                    src="assets/template/images/logoub.png">
                            </li>
                            <li class="hidden-md-down"><a class="social-icon text-dark ng-binding">Truyền Thống Ngành Giáo Dục Tỉnh
                                    Lâm Đồng</a></li>
                        </ul>
                    </div>

                    <!-- <div class="text-right" style="margin: 10px 0;">
                        <a href="#" class="btn btn-sm green-steel"> <span>Đăng
                                nhập</span></a>
                    </div> -->
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <!-- <nav class="menu" id="menu-pc">
                    <a href="#" title="">
                        <img height="75px" src="assets/template/images/logo3.png">
                    </a>
                    <ul class="p-menu-c">
                     
                        <li>
                            <a>Giới thiệu <i class="fa fa-angle-down"></i></a>
                            <ul class="sub-menu">
                                <li><a routerLink="/public/gioithieu" [queryParams]="{type:1}"><i
                                            class="fa fa-caret-right"></i>Ngày
                                        Thành lập</a></li>
                                <li><a routerLink="/public/gioithieu" [queryParams]="{type:2}"><i
                                            class="fa fa-caret-right"></i>Trưởng
                                        ban, Chủ nhiệm Ủy ban Kiểm tra Tỉnh ủy qua các thời kỳ</a></li>
                                <li><a routerLink="/public/gioithieu" [queryParams]="{type:3}"><i
                                            class="fa fa-caret-right"></i>Ủy ban
                                        Kiểm tra Tỉnh ủy qua các thời kỳ</a></li>
                                <li><a routerLink="/public/gioithieu" [queryParams]="{type:4}"><i
                                            class="fa fa-caret-right"></i>Ủy ban
                                        Kiểm tra Huyện ủy, Thành ủy và tương đương qua các thời kỳ</a></li>
                            </ul>
                        </li>
                        <li>
                            <a routerLink="/public/danhsach" [queryParams]="{type:1}">Giáo dục truyền thống</a>
                        </li>
                        <li>
                            <a routerLink="/public/danhsach" [queryParams]="{type:2}">Các hoạt động phong trào</a>
                        </li>
                        <li>
                            <a routerLink="/public/danhsach" [queryParams]="{type:3}">Thành tích</a>
                        </li>

                    </ul>
                </nav> -->
            </div>

            <nav id="menu-mobile" class="sidenav">

                <div (click)="closeMenu()" class="bg-close-menu"></div>

                <div class="infoLeft">
                    <img src="assets/template/images/logoub.png" style="width: 85px; border-radius: 50%; background-color: #fff;">

                    <p>Sở giáo dục và đào tạo <br>tỉnh lâm đồng</p>
                </div>

                <!-- <ul>
                    <li class="text-right close-menu" (click)="closeMenu()"><span><i class="fa fa-window-close"
                                aria-hidden="true"></i></span></li>
                    <li>
                        <a href="#/tablet">Trang chủ</a>
                    </li>
                    <li>
                        <a href="#/tablet/gioithieu?type=10">Giới thiệu</a>
                    </li>

                    <li>
                        <a href="#/tablet/gioithieu?type=2">Lãnh đạo UBKT</a>
                    </li>
                    <li>
                        <a href="#/tablet/gioithieu?type=3">Ủy ban kiểm tra</a>
                    </li>
                    <li>
                        <a href="#/tablet/gioithieu?type=11">Cơ quan UBKT</a>
                    </li>
                    <li>
                        <a href="#/tablet/gioithieu?type=13">Những trang sử vàng</a>
                    </li>

                    <li>
                        <a href="#/tablet/gioithieu?type=16">Giáo dục truyền thống</a>
                    </li>

                    <li>
                        <a href="#/tablet/gioithieu?type=14">Hoạt động phong trào</a>
                    </li>


                    <li>
                        <a href="#/tablet/gioithieu?type=12">Thư viên hình ảnh/ video</a>
                    </li>

                    <li>
                        <a href="#/tablet/gioithieu?type=15">UBKT cấp ủy</a>
                    </li>
                    
                </ul> -->

                <div class="copyrightname">Powered by VNPT (2023)</div>
            </nav>

        </div>
    </div>
</header>
