<div class="card card-outline card-primary">
    <div class="card-header text-center">
        <a [routerLink]="['/']" class="h1">Cấp mật khẩu mới</a>
    </div>
    <div class="card-body">
        <p class="login-box-msg"><b>VNPT</b> Admin</p>

        <form [formGroup]="loginForm" (ngSubmit)="login()" *ngIf="!isLoginOtp">
            <div class="input-group mb-3">
                <input formControlName="Email" type="Email" class="form-control" placeholder="Email" />
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-envelope"></span>
                    </div>
                </div>
                <validation-msg [control]="loginForm.controls.Email"> </validation-msg>
            </div>
            <p *ngIf="phoneError" class="text-danger text-center">{{phoneError}}</p>
            <div class="row">
                <div class="col-5">
                    <app-button [type]="'submit'" [block]="true" [loading]="isAuthLoading" *ngIf="enablePhone">
                        Gửi OTP
                    </app-button>
                </div>
                <!-- /.col -->
            </div>
        </form>
        <form [formGroup]="otpForm" (ngSubmit)="login()" *ngIf="isLoginOtp">
            <div class="input-group mb-3">
                <input formControlName="otp" type="text" class="form-control" placeholder="OTP 6 số" minlength="6" maxlength="6"/>
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-lock"></span>
                    </div>
                </div>
                <validation-msg [control]="otpForm.controls.otp"> </validation-msg>
            </div>
            <p style="text-align: center;">Vui lòng kiểm tra OTP trong Email</p>
            <p *ngIf="phoneError" class="text-danger text-center">{{phoneError}}</p>
            <div class="row">
                <div class="col-5">
                    <app-button [type]="'submit'" [block]="true" [loading]="isAuthLoading" *ngIf="enablePhone">
                        Cấp mới
                    </app-button>
                </div>
                <!-- /.col -->
            </div>
        </form>
    </div>
    <!-- /.login-card-body -->
</div>