app-report-chitiet-paht {
    .p-dropdown {
        width: 100%;
    }
    .p-autocomplete {
        width: 100%;
    }
    .p-autocomplete > ul {
        width: 100%;
    }

    .p-calendar {
        width: 100%;
    }
    .p-multiselect {
        width: 100%;
    }
    .text-right {
        text-align: right;
    }
    .modal-footer {
        position: absolute;
        bottom: 0;
    }

    .card-primary {
        position: relative;
    }
}