<div class="wrap">
    <app-home-header></app-home-header>

    <main>
        <router-outlet></router-outlet>
    </main>
    <footer>
        <div class="nav-menu-d">
            <ul>
                <li><a href="https://maps.app.goo.gl/89B8goCWhhABoEhg8" rel="nofollow" target="_blank"><i
                            class="timduong"></i>Tìm đường</a></li>
                <li><a href="https://zalo.me/g/owmdps298" rel="nofollow" target="_blank"><i
                            class="chatzalo"></i>Chat Zalo</a></li>

                            <li><a href="https://www.m.me/407765576255784" rel="nofollow" target="_blank">
                    <i class="messenger"></i>Messenger</a></li>
             
                <li class="to-top-pc">
                    <a href="#" rel="nofollow">
                        <i class="ontop" aria-hidden="true" title="Quay lên trên"></i>
                    </a>
                </li>
            </ul>

        </div>

        <div class="container">
            <div class="top-footer">
                <div class="link-direct">
                    <ul>
                        <li><a href="#" title="">giới thiệu</a></li>
                        <li><a href="#" title="">liên hệ</a></li>
                    </ul>
                </div>

            </div>
            <div class="bottom-footer">
                <div class="info">
                    <h3><a href="index.html" title="">© Truyền Thống Ngành Giáo Dục - Sở GD&ĐT Tỉnh Lâm Đồng</a>
                    </h3>
                    <!-- <p>Biên tập: Mai văn bình - {{chức danh}}</p> -->
                    <p>Trụ sở: Số 10 Lê Hồng Phong - Phường 4 - Tp Đà Lạt - Tỉnh Lâm Đồng</p>
                    <p>Điện thoại: 0263.3822.567 - Fax: 02633821037</p>
                    <p>Email: ubkttu@lamdong.gov.vn</p>

                </div>
                <div class="count-user">
                    <h4>Lượt truy cập</h4>
                    <div class="content">
                        <p style="color: #000"><span
                                style="display: inline-block;width: 100%;text-align: center;">350520</span></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <p>Đơn vị chủ quản: Uỷ ban kiểm tra Tỉnh Ủy Lâm Đồng</p>
            <p>Ghi rõ nguồn <a href="www.ptt.lamdong.gov.vn" style="color: #fff; text-decoration: underline"
                    target="_blank">www.ptt.lamdong.gov.vn</a> khi sử dụng thông tin trên website này</p>
        </div>
    </footer>
</div>
