<div class="container w-100 mt-4">
    <div class="row">
        <div class="col-12">
            <h4>Giấy Phép Xây Dựng</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <search-form [showConstructionStatus]="true" [showFeeStatus]="true" (search)="search($event)" (paramsChange)="searchFormChange($event)"></search-form>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-3 mb-5 mb-md-0 col-12 position-relative">
            <permit-left-panel [loading]="loading" [items]="permitList" (viewPermit)="viewPermit($event)"></permit-left-panel>
        </div>
        <div class="col-md-9 col-12">
            <!-- this creates a google map on the page with the given lat/lng from -->
            <!-- the component as the initial center of the map: -->
            <app-gmap [lat]="mapOptions.lat" [lng]="mapOptions.lng" [zoom]="mapOptions.zoom" [styles]="mapOptions.styles" [mapTypeId]="mapTypeId"
                [markers]="mapOptions.markers" [icon]="mapOptions.iconHome" [infoOpen]="isViewedMarker">
                <ng-template #info let-marker>
                    <permit-tiny-detail [entity]="marker.entity"></permit-tiny-detail>
                </ng-template>
            </app-gmap>
            <div class="btn-icon">
                <div class="a-icon" (click)="changeMapType()">
                    <a title="Thay đổi chế độ bản đồ" target="_blank"><img src="assets/img/{{mapTypeId=='roadmap'?'btnMapTypeStreet.png':'btnMapType.png'}}"></a>
                </div>
            </div>
        </div>
    </div>
</div>
<p-toast></p-toast>