app-canhbao-page {
    .title {
        a {
            color: #d65e85 !important;
        }
    }

    .header-search {
        display: flex;
        padding: 30px 0;
        justify-content: space-between;
    }

    .text-title {
        margin: 0!important;
    }
}
