<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <!-- <div class="col-sm-6">
                <h1 class="m-0 text-dark">Bảng Điều Khiển</h1>
            </div> -->
        </div>
    </div>
</div>

<section class="content">
    <div class="container-fluid">
        <!-- <div class="row">
            <div class="col-12 col-md-4">
                <widget title="{{ 234510000 | currency: 'VND':'symbol':undefined:'vi' }}" subTitle="Tổng Thuế XD" leftIcon="fa-book"></widget>
            </div>
            <div class="col-12 col-md-4">
                <widget title="{{ 25 }}" subTitle="SL Cấp Phép Chưa Nộp Thuế" leftIcon="fa-id-card"></widget>
            </div>
            <div class="col-12 col-md-4">
                <widget title="{{ 133310000 | currency: 'VND':'symbol':undefined:'vi' }}" subTitle="Tổng Thuế HKD" leftIcon="fa-home"></widget>
            </div>
        </div> -->
        <!-- <div class="row">
            <div class="col-lg-8 col-md-12" style="margin: auto">
                <line-chart [data]="hkdnlv" title="Hộ kinh doanh nhóm lĩnh vực" (yearChange)="tinhTrangChangeNhom($event)" (alLvChange)="alLvChangeNhom($event)"></line-chart>
            </div>
            <div class="col-lg-8 col-md-12" style="margin: auto">
                <line-chart [data]="hkdlv" title="Hộ kinh doanh theo lĩnh vực" (yearChange)="tinhTrangChange($event)" (alLvChange)="alLvChange($event)"></line-chart>
            </div>
            <div class="col-12 col-md-6">
                <line-chart [data]="taxBusinessData" title="Nộp thuế Hộ Kinh Doanh" (yearChange)="businessChartYearChange($event)"></line-chart>
            </div>
        </div> -->
        <!-- <div class="full-content">
            <div class="middle-banner">
                <img src="assets/Images/banner.jpg" alt="" style="width: 100%;">
            </div>
        </div> -->

    </div>
</section>
