<!-- <p-toast></p-toast> -->
<div class="card card-primary">
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <label for="Name">Đơn vị <span class="text-danger">(*)</span></label>
            </div>
            <div class="col-md-12">
                <!-- <p-dropdown [options]="units" [(ngModel)]="unit" optionLabel="Name" optionValue="Code"
                    [filter]="true" filterBy="Name" placeholder="Chọn đơn vị" appendTo="body">
                </p-dropdown> -->
                <p-multiSelect [options]="units" [(ngModel)]="unit" [style]="{'width':'100%'}"
                    optionLabel="Name" dataKey="Code" appendTo="body" placeholder="Chọn đơn vị">
                    <ng-template let-value pTemplate="selectedItems">
                        <div *ngFor="let val of value" class="ui-multiselected-item-token ui-corner-all">
                            <span>{{val.Name}}</span>
                        </div>
                        <span *ngIf="!value || value.length === 0"
                            class="ui-multiselected-empty-token ui-corner-all">Chọn đơn vị</span>
                    </ng-template>
                    <ng-template let-car pTemplate="item">
                        <div style="font-size:14px;float:right;margin-top:4px">{{car.Name}}</div>
                    </ng-template>
                </p-multiSelect>
            </div>
            <div class="col-md-12">
                <label for="Name">Chọn file <span class="text-danger">(*)</span></label>
            </div>
            <div class="col-md-12">
                <input type="text" class="form-control" [(ngModel)]="defaultFileName" style="float: left; width: 89%;"
                    placeholder="Tên File" readonly>
                <label class="custom-file-upload" title="Chọn File"
                    style="padding-top: 8px; float: right; width: 10%; text-align: center; margin: 0;">
                    <input type="file" multiple (change)="chooseFile($event)" />
                    <!-- <input type="file" (change)="changeFile($event)" /> -->
                    <i class="fas fa-cloud-upload-alt"></i>
                </label>
            </div>
        </div>
    </div>
</div>

<div class="p-footer">
    <div class="f-contains">
        <button class="btn btn-info" type="submit" (click)="submit()">Lưu</button>
        <button class="btn btn-outline-danger" type="submit" (click)="cancel()">Thoát</button>
    </div>
</div>