<div class="form-content">
  <div class="brecrum">
    <h2 class="text-white">giáo dục truyền thống</h2>
  </div>
</div>

<div class="body-content">
  <div class="container">

    <div class="row">

      <div class="col-sm-9">
        <div class="search-content" *ngIf="!baiviet && baiviet != 0">
          <div class="header-search">
            <h1 class="text-title">Nguyên Bộ trưởng Thái Phụng Nê và bản hùng ca trên những dòng sông</h1>
            <div class="info_content">
              <div class="info_bv">
                <span class="time"><i class="fa fa-clock"></i>02.02.2023</span>
                <span class="count-views"><i class="fa fa-eye"></i><b>320 </b> đã xem</span>
              </div>
              <div class="action_bv">
                <button type="button" class="btn btn-primary btn-sm"><i class="fa fa-thumbs-up" aria-hidden="true"></i>
                  like</button>

                <button type="button" class="btn btn-primary btn-sm"><i class="fa fa-share" aria-hidden="true"></i>
                  share</button>
              </div>
            </div>
          </div>

          <div class="short_content">
            Năm 1964, khi ông Thái Phụng Nê, nguyên Bộ trưởng Bộ Năng lượng mới tốt nghiệp phó tiến sĩ ở Liên Xô về,
            được điều động lên xây dựng thủy điện Thác Bà - đứa con đầu lòng của ngành Thủy điện miền Bắc xã hội chủ
            nghĩa.
          </div>

          <div class="content_baiviet">

            <p>
              Năm 1964, khi ông Thái Phụng Nê, nguyên Bộ trưởng Bộ Năng lượng (nay là Bộ Công Thương) mới tốt nghiệp phó
              tiến sĩ ở Liên Xô về, được điều động lên xây dựng thủy điện Thác Bà - đứa con đầu lòng của ngành Thủy điện
              miền Bắc xã hội chủ nghĩa. Trong quá trình xây dựng, Thủy điện Thác Bà chịu rất nhiều trận ném bom của
              không quân Mỹ.
            </p>
            Nhưng nói như nguyên Bộ trưởng Thái Phụng Nê “nó đánh thì ta chữa”, đến tháng 10 năm 1971 khánh thành tổ
            máy số 1, tháng 3 năm 1972 khởi động tổ máy số 2, tháng 5 năm 1972 khởi động chạy tổ máy số 3. Nhà máy đi
            vào vận hành cả 3 tổ máy đạt công suất thiết kế 108 MW. Để hình dung con số này, thử so sánh Thủy điện
            Thác Bà với Nhiệt điện Uông Bí, cũng được Liên Xô giúp ta xây dựng, hoàn thành toàn bộ 4 tổ máy với công
            suất 48 MW vào năm 1965, thấp hơn Thủy điện Thác Bà hơn 2 lần, cũng đã được mệnh danh là công trình điện
            lớn nhất miền Bắc thời điểm đầu thập niên 60 thế kỷ XX.
            <p>
              Dòng điện Thác Bà ngay lập tức được kết nối lên mạng lưới điện đầu tiên của miền Bắc, chảy tới các khu
              công nghiệp Việt Trì, Thái Nguyên… và Thủ đô Hà Nội. Năm 1972, máy bay Mỹ ném bom phá hủy Nhà máy điện Yên
              Phụ và hùng hồn tuyên bố, ít nhất 2-3 năm sau Hà Nội mới có điện. Nào ngờ chỉ sau 2 ngày, ta chắp nối được
              lưới điện của nhà máy Yên Phụ với cáp điện của hệ thống tại trạm biến áp Đông Anh, nhận điện từ Thủy điện
              Thác Bà phát lên, và ánh sáng bừng lên trên thành phố Hà Nội.
            </p>
            Sau đó, không quân Mỹ biết nguồn điện lớn nhất miền Bắc là Thác Bà thì tập trung đánh phá. Nhật ký Thủy
            điện Thác Bà còn ghi lại từng thời khắc trong những năm tháng mưa bom bão đạn ấy:
            <p>
              - Ngày 2/6/1972 máy bay Mỹ tăng cường ném bom phá hủy nhà máy bằng khoảng 2000 quả bom bi nổ chậm. Cán bộ
              công nhân viên nhà máy và công trường Thác Bà dũng cảm phối hợp nhặt bom bi, xử lý hậu quả và khôi phục
              nhà máy trở lại vận hành và phát điện sau 48 giờ phải ngừng máy.
            </p>
            - Ngày 10/6/1972, Mỹ lại huy động một lực lượng lớn các loại máy bay ném bom hòng hủy diệt toàn bộ nhà
            máy, làm nhiều thiết bị hư hỏng nặng.
            <p>
              - Ngày 12/8/1972 đã khởi động chạy lại và phát điện tổ máy số 2 với công suất thiết kế.
            </p>
            - Ngày 22/4/1975 đã khởi động lại và phát điện tổ máy số 3.
            <p>
              Từ khi tiếp nhận và vận hành sản xuất, Thủy điện Thác Bà đã nhanh chóng ổn định tổ chức, tiếp thu nhanh
              nhạy kỹ thuật quản lý vận hành. Công suất và sản lượng điện phát ra của Thác Bà trong thời kỳ chiến tranh
              và sau khi hoà bình lập lại chiếm 70% sản lượng của hệ thống điện miền Bắc.
            </p>

          </div>

          <div class="info_content">
            <div class=""></div>
            <div class="action_bv">
              <button type="button" class="btn btn-secondary btn-sm"><i class="fa fa-print" aria-hidden="true"></i>
                In</button>

              <button type="button" class="btn btn-secondary btn-sm"><i class="fa fa-volume-up" aria-hidden="true"></i>
                read</button>

              <button type="button" class="btn btn-primary btn-sm"><i class="fa fa-thumbs-up" aria-hidden="true"></i>
                like</button>

              <button type="button" class="btn btn-primary btn-sm"><i class="fa fa-share" aria-hidden="true"></i>
                share</button>
            </div>
          </div>

          <h3 class="cungchuyenmuc">Cùng chuyên mục</h3>

          <div class="row content-gd content-media">

            <div class="col-sm-4">
              <div class="itemgd">
                <a href="#" class="link_item">
                  <img class="img_hover" src="assets/template/images/nn7.jpg" />
                </a>
                <div class="itemgd-body">
                  <a href="#" class="gd-title">Nguyên Bộ trưởng Thái Phụng Nê và bản hùng ca trên những dòng sông</a>
                  <div class="itemgd-time text-right">17:54 | 05/05/2022 </div>
                </div>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="itemgd">
                <a href="#" class="link_item">
                  <img class="img_hover" src="assets/template/images/nn6.jpg" />
                </a>
                <div class="itemgd-body">
                  <a href="#" class="gd-title">Nguyên Bộ trưởng Thái Phụng Nê và bản hùng ca trên những dòng sông</a>
                  <div class="itemgd-time text-right">17:54 | 05/05/2022 </div>
                </div>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="itemgd">
                <a href="#" class="link_item">
                  <img class="img_hover" src="assets/template/images/nn7.jpg" />
                </a>
                <div class="itemgd-body">
                  <a href="#" class="gd-title">Nguyên Bộ trưởng Thái Phụng Nê và bản hùng ca trên những dòng sông</a>
                  <div class="itemgd-time text-right">17:54 | 05/05/2022 </div>
                </div>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="itemgd">
                <a href="#" class="link_item">
                  <img class="img_hover" src="assets/template/images/nn6.jpg" />
                </a>
                <div class="itemgd-body">
                  <a href="#" class="gd-title">Nguyên Bộ trưởng Thái Phụng Nê và bản hùng ca trên những dòng sông</a>
                  <div class="itemgd-time text-right">17:54 | 05/05/2022 </div>
                </div>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="itemgd">
                <a href="#" class="link_item">
                  <img class="img_hover" src="assets/template/images/nn7.jpg" />
                </a>
                <div class="itemgd-body">
                  <a href="#" class="gd-title">Nguyên Bộ trưởng Thái Phụng Nê và bản hùng ca trên những dòng sông</a>
                  <div class="itemgd-time text-right">17:54 | 05/05/2022 </div>
                </div>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="itemgd">
                <a href="#" class="link_item">
                  <img class="img_hover" src="assets/template/images/nn6.jpg" />
                </a>
                <div class="itemgd-body">
                  <a href="#" class="gd-title">Nguyên Bộ trưởng Thái Phụng Nê và bản hùng ca trên những dòng sông</a>
                  <div class="itemgd-time text-right">17:54 | 05/05/2022 </div>
                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="search-content" *ngIf="baiviet == 0">
          <div class="header-search">
            <h1 class="text-title">Giới thiệu phòng truyền thống</h1>
            <div class="info_content">
              <div class="info_bv">
                <span class="time"><i class="fa fa-clock"></i>02.02.2023</span>
                <span class="count-views"><i class="fa fa-eye"></i><b>320 </b> đã xem</span>
              </div>
              <div class="action_bv">
                <button type="button" class="btn btn-primary btn-sm"><i class="fa fa-thumbs-up" aria-hidden="true"></i>
                  like</button>

                <button type="button" class="btn btn-primary btn-sm"><i class="fa fa-share" aria-hidden="true"></i>
                  share</button>
              </div>
            </div>
          </div>
          <!-- 
          <div class="short_content">
            Năm 1964, khi ông Thái Phụng Nê, nguyên Bộ trưởng Bộ Năng lượng mới tốt nghiệp phó tiến sĩ ở Liên Xô về,
            được điều động lên xây dựng thủy điện Thác Bà - đứa con đầu lòng của ngành Thủy điện miền Bắc xã hội chủ
            nghĩa.
          </div> -->

          <div class="content_baiviet">
            <p>

              Sau khi Cách mạng tháng Tám thành công, Đảng và Nhà nước ta đã bắt tay ngay vào giải quyết những khó khăn
              cấp bách của đời sống nhân dân, tăng cường thực lực cách mạng trên tất cả các phương diện chính trị, quân
              sự, kinh tế, văn hóa, xã hội.... Do yêu cầu "Đảng ta hiện đương lãnh đạo cuộc kháng chiến và kiến quốc của
              dân tộc. Phong trào mỗi ngày một tiến nên công việc của Đảng mỗi ngày một phức tạp. Mỗi việc của Đảng phải
              thấu suốt từ trên xuống dưới, chính sách của Đảng phải được thi hành đầy đủ...để xem xét chủ trương của
              Đảng có được thi hành và có sát, đúng không, đồng thời xem xét thi hành kỷ luật trong Đảng để thu nhặt
              kinh nghiệm giúp Trung ương bổ khuyết cho chính sách của Đảng", tại Chiến khu Việt Bắc, cơ quan chuyên
              trách đầu tiên của Đảng - Ban Kiểm tra Trung ương đầu tiên được thành lập theo Quyết nghị số 29/QN/TW,
              ngày 16/10/1948 của Ban Thường vụ Trung ương Đảng (khóa I) do đồng chí Thận, tức đồng chí Trường Chinh -
              Tổng Bí thư ký thành lập.

            </p>

            <p>
              Ở Nam Tây Nguyên, ngày 18/10/1977 Ban Bí thư Trung ương Đảng đã ban hành Nghị quyết số 283-NQNS/TW do đồng
              chí Nguyễn Duy Trinh ký chuẩn y danh sách Ủy ban Kiểm tra Tỉnh ủy Lâm Đồng khóa I. Cùng với cả nước tiến
              hành công cuộc đổi mới, 46 năm qua, Ủy ban Kiểm tra Tỉnh ủy Lâm Đồng đã không ngừng phát triển, lớn mạnh
              cùng Đảng bộ tỉnh, đóng góp quan trọng, tích cực vào sự nghiệp xây dựng và bảo vệ Tổ quốc, để lại những
              dấu ấn thành tựu, giá trị truyền thống tốt đẹp mà các thế hệ cán bộ, công chức, người lao động đã dày công
              xây dựng, vun đắp và trao truyền qua nhiều thế hệ.
            </p>

            <p>
              Với những giá trị trân quý đó, đã hun đúc quyết tâm, trách nhiệm của Lãnh đạo cơ quan Ủy ban Kiểm tra Tỉnh
              ủy và những người phụ trách xây dựng Phòng Truyền thống, với mong muốn Phòng Truyền thống Ủy ban Kiểm tra
              Tỉnh ủy trở thành điểm hội tụ của quá khứ, hiện tại và tương lai.
            </p>

            <p>Thông tin tại Phòng Truyền thống được chia làm 2 chủ đề:</p>
            <p>
              Chủ đề thứ nhất: Gồm các thông tin chung về Ngành.
            </p>

            <p>
              Chủ đề thứ hai: Gồm hình ảnh tư liệu, hiện vật gắn liền với quá trình hình thành và phát triển của Ủy ban
              Kiểm tra Tỉnh ủy Lâm Đồng.
            </p>

            <p>
              Mỗi tư liệu, hiện vật đều mang trong mình một câu chuyện lịch sử, với nhiều giá trị nhân văn. Tuy nhiên,
              sau 46 năm, nhiều tài liệu, hiện vật bị phân tán, thất lạc; nhiều câu chuyện giá trị được lưu giữ trong ký
              ức của những chứng nhân lịch sử, đã mai một theo quy luật của thời gian.
            </p>

            <p>
              Song, đây chỉ là điểm khởi đầu. Phòng Truyền thống Ủy ban Kiểm tra Tỉnh ủy Lâm Đồng sẽ tiếp tục bổ sung,
              vun đắp với sự chung tay của các thế hệ lãnh đạo, cán bộ, công chức đã, đang và sẽ công tác trong toàn
              ngành để thực sự có một tầm vóc, quy mô tương xứng với những thành tích đã đạt được. Tuyên truyền và giáo
              dục truyền thống vẻ vang của Ngành, tiếp tục truyền cảm hứng, tiếp thêm động lực cho các thế hệ cán bộ,
              công chức thực hiện nhiệm vụ kiểm tra, giám sát hôm nay và mai sau nỗ lực phấn đấu, hoàn thành xuất sắc
              nhiệm vụ chính trị được giao, xứng đáng với niềm tin và sự mong đợi của Đảng, Nhà nước và Nhân dân.
            </p>

          </div>

          <div class="info_content">
            <div class=""></div>
            <div class="action_bv">
              <button type="button" class="btn btn-secondary btn-sm"><i class="fa fa-print" aria-hidden="true"></i>
                In</button>

              <button type="button" class="btn btn-secondary btn-sm"><i class="fa fa-volume-up" aria-hidden="true"></i>
                read</button>

              <button type="button" class="btn btn-primary btn-sm"><i class="fa fa-thumbs-up" aria-hidden="true"></i>
                like</button>

              <button type="button" class="btn btn-primary btn-sm"><i class="fa fa-share" aria-hidden="true"></i>
                share</button>
            </div>
          </div>

          <h3 class="cungchuyenmuc">Cùng chuyên mục</h3>

          <div class="row content-gd content-media">

            <div class="col-sm-4">
              <div class="itemgd">
                <a href="#" class="link_item">
                  <img class="img_hover" src="assets/template/images/nn7.jpg" />
                </a>
                <div class="itemgd-body">
                  <a href="#" class="gd-title">Nguyên Bộ trưởng Thái Phụng Nê và bản hùng ca trên những dòng sông</a>
                  <div class="itemgd-time text-right">17:54 | 05/05/2022 </div>
                </div>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="itemgd">
                <a href="#" class="link_item">
                  <img class="img_hover" src="assets/template/images/nn6.jpg" />
                </a>
                <div class="itemgd-body">
                  <a href="#" class="gd-title">Nguyên Bộ trưởng Thái Phụng Nê và bản hùng ca trên những dòng sông</a>
                  <div class="itemgd-time text-right">17:54 | 05/05/2022 </div>
                </div>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="itemgd">
                <a href="#" class="link_item">
                  <img class="img_hover" src="assets/template/images/nn7.jpg" />
                </a>
                <div class="itemgd-body">
                  <a href="#" class="gd-title">Nguyên Bộ trưởng Thái Phụng Nê và bản hùng ca trên những dòng sông</a>
                  <div class="itemgd-time text-right">17:54 | 05/05/2022 </div>
                </div>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="itemgd">
                <a href="#" class="link_item">
                  <img class="img_hover" src="assets/template/images/nn6.jpg" />
                </a>
                <div class="itemgd-body">
                  <a href="#" class="gd-title">Nguyên Bộ trưởng Thái Phụng Nê và bản hùng ca trên những dòng sông</a>
                  <div class="itemgd-time text-right">17:54 | 05/05/2022 </div>
                </div>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="itemgd">
                <a href="#" class="link_item">
                  <img class="img_hover" src="assets/template/images/nn7.jpg" />
                </a>
                <div class="itemgd-body">
                  <a href="#" class="gd-title">Nguyên Bộ trưởng Thái Phụng Nê và bản hùng ca trên những dòng sông</a>
                  <div class="itemgd-time text-right">17:54 | 05/05/2022 </div>
                </div>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="itemgd">
                <a href="#" class="link_item">
                  <img class="img_hover" src="assets/template/images/nn6.jpg" />
                </a>
                <div class="itemgd-body">
                  <a href="#" class="gd-title">Nguyên Bộ trưởng Thái Phụng Nê và bản hùng ca trên những dòng sông</a>
                  <div class="itemgd-time text-right">17:54 | 05/05/2022 </div>
                </div>
              </div>
            </div>

          </div>
        </div>
        
      </div>

      <div class="col-sm-3">

        <div class="content_new_right">

          <div class="title-primary">
            <h3><a href="#" title=""><i class="fa fa-newspaper" aria-hidden="true"></i> Bài xem nhiều</a></h3>
          </div>

          <div class="block-notifi-sidebar item">
            <ul>
              <li><a href="#" title="">Danh sách các tỉnh xuất hiện dịch tả lợn châu phi</a></li>
              <li><a href="#" title="">Các biện pháp phòng tránh bệnh dịch ở đàn lợn</a></li>
              <li><a href="#" title="">Thúc đẩy nghiên cứu, ứng dụng khoa học công nghệ phục vụ tái cơ cấu ngành nông
                  nghiệp
                </a></li>
              <li><a href="#" title="">Chương trình Tái cơ cấu ngành nông nghiệp - góc nhìn tổng quan </a></li>
              <li><a href="#" title="">Quyết định số 490/QĐ-TTg của Thủ tướng Chính phủ: Phê duyệt Chương trình mỗi xã
                  một
                  sản phẩm giai đoạn 2018-2020</a></li>
              <li><a href="#" title="">Quyết định 19/2018/QĐ-TTg quy định tiêu chí, thẩm quyền, trình tự, thủ tục công
                  nhận
                  doanh nghiệp nông nghiệp ứng dụng công nghệ cao</a></li>
            </ul>
          </div>
        </div>


        <div class="content_new_right">

          <div class="title-primary">
            <h3><a href="#" title=""><i class="fa fa-newspaper" aria-hidden="true"></i> Video nổi bật</a></h3>
          </div>

          <div class="content-gd content-media">

            <div class="itemgd">
              <a href="#" class="link_item">
                <img class="img_hover" src="assets/template/images/nn7.jpg" />
                <span class="icon_item"><i class="fa fa-play" aria-hidden="true"></i></span>
              </a>
              <div class="itemgd-body">
                <a href="#" class="gd-title">Nguyên Bộ trưởng Thái Phụng Nê và bản hùng ca trên những dòng sông</a>
              </div>
            </div>

            <div class="itemgd">
              <a href="#" class="link_item">
                <img class="img_hover" src="assets/template/images/nn6.jpg" />
                <span class="icon_item"><i class="fa fa-file-image" aria-hidden="true"></i></span>
              </a>
              <div class="itemgd-body">
                <a href="#" class="gd-title">Nguyên Bộ trưởng Thái Phụng Nê và bản hùng ca trên những dòng sông</a>
              </div>
            </div>

          </div>

        </div>

      </div>

    </div>



  </div>
</div>
