role-modal {
    .p-select {
        width: 100%;
    }
    .p-autocomplete {
        width: 100%;
    }
    .p-autocomplete > ul {
        width: 100%;
    }

    .p-datepicker {
        width: 100%;
    }
    .p-multiselect{
        width: 100%;
    }
    .text-right{
        text-align: right;
    }
}
